{% extends 'app_web/base.html' %}
{% load static %}
{% load qr_tags %}
{% block content %}
{#<div class="container">#}
{#    <div class="row">#}
{#        <div class="col-md-12 col-sm-12 col-xs-12 top20 bottom20" style="font-size:25px; font-weight:bold;">登入<img src="{% static 'images/LINE.png' %}" class="img-responsive top5" alt="" /> </div>#}
{#    </div>#}
{#</div>#}
    <!-- 內容電腦網頁版 -->
    <div class="container pc_top">
        <div class="row bottom40">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <form method="post" action="{% url 'user_health_status' request.app_user.pub_id request.app_user.api_token %}">
                {% csrf_token %}
                    <input type="hidden" value="{{ location }}" name="location">
                    <input type="hidden" id="health_status" name="health_status">
                    <input type="hidden" name="scanned_user_id" value="{{ scanned_user_id }}">
                    <div style="padding-top: 30px;">
                        <div class="text-center" ><h3>健康通行人員防疫管理平台</h3></div>
                        <div style="height: 20px;"></div>
                        <div class="text-center">
                            <div class="col-md-3 ">&nbsp;</div>
                            <div class="col-md-6 ">
                                <select class="selectpicker form-control" onchange="place_sel_func()" style=" height: 55px; background-color: #dfdfdf" id="company_sel" name="company_id" required>
                                    <option>請選擇公司</option>
                                    {% for company in scan_company_list %}
                                        <option value="{{ company.pub_id }}">{{ company.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-3 ">&nbsp;</div>
                        </div>
                        <div style="height: 5px;"></div>
{#                        <div class="text-center">#}
{#                            <div class="col-md-3 ">&nbsp;</div>#}
{#                            <div class="col-md-6 ">#}
{#                                <select class="selectpicker form-control" style=" height: 55px; background-color: #dfdfdf" id="place_sel" name="place_sel" required>#}
{#                                    <option>請選擇地點</option>#}
{#                                </select>#}
{#                            </div>#}
{#                            <div class="col-md-3 ">&nbsp;</div>#}
{#                        </div>#}
{#                        <div style="height: 5px;"></div>#}
                        <div class="text-center">
                            <div class="col-md-3 ">&nbsp;</div>
                            <div class="col-md-6 "><button onclick="$('#health_status').val('PASS');" type="submit" class="btn form-control" style="border-radius:11px; height:60px; background-color: #42cf55;color: white; font-size: 20px;">確認建立訪客紀錄</button></div>
                            <div class="col-md-3 ">&nbsp;</div>
                        </div>
{#                        <div style="height: 5px;"></div>#}
{#                        <div class="text-center">#}
{#                            <div class="col-md-3 ">&nbsp;</div>#}
{#                            <div class="col-md-6 "><button onclick="$('#health_status').val('NO_PASS');" type="submit" class="btn form-control" style="border-radius:11px; height:60px; background-color: #cf4730;color: white; font-size: 20px;">未通過</button></div>#}
{#                            <div class="col-md-3 ">&nbsp;</div>#}
{#                        </div>#}
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- 內容手機app -->
    <div class="container mobile_top">
        <div class="row bottom40">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div style="padding-top: 30px;">
                    <div class="text-center" ><h4>健康通行人員防疫管理平台</h4></div>
                    <div style="height: 30px;"></div>
                    {% if qr_type == 'USER' %}
                        {% if scan_health == 1 %}
                            <div class="text-center">
                                <div class="col-md-12"><button class="btn form-control" style="border-radius:11px; height:60px; background-color: #63cf3e;color: white; font-size: 20px;">健康碼更新</button></div>
                            </div>
                            <div style="height: 5px;"></div>
                        {% endif %}
                        {% if scan_approach == 1 %}
                            <div class="text-center">
                                <div class="col-md-12"><button class="btn form-control" style="border-radius:11px; height:60px; background-color: #2e3ac4;color: white; font-size: 20px;">接洽掃描</button></div>
                            </div>
                            <div style="height: 5px;"></div>
                        {% endif %}
                        {% if scan_visitor == 1 %}
                            <div class="text-center">
                                <div class="col-md-12"><button class="btn form-control" style="border-radius:11px; height:60px; background-color: #ff6d43;color: white; font-size: 20px;">訪客登記</button></div>
                            </div>
                            <div style="height: 5px;"></div>
                        {% endif %}
                    {% elif qr_type == 'PLACE' %}
                        {% if scan_clock_in == 1 %}
                            <div class="text-center">
                                <div class="col-md-12"><button class="btn form-control" style="border-radius:11px; height:60px; background-color: #4936c3;color: white; font-size: 20px;">上下班狀態變更</button></div>
                            </div>
                            <div style="height: 5px;"></div>
                        {% endif %}
                        {% if scan_place == 1 %}
                            <div class="text-center">
                                <div class="col-md-12"><button class="btn form-control" style="border-radius:11px; height:60px; background-color: #4cc338;color: white; font-size: 20px;">地點紀錄</button></div>
                            </div>
                            <div style="height: 5px;"></div>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script>
        function place_sel_func() {
            $('#place_sel option').remove();
            $('#place_sel').append(new Option('請選擇地點', null, true, true));
            var place_dict = {{ company_place_dict|safe }};
            var place_list = place_dict[$('#company_sel :selected').text()];
            for (var i in place_list){
                var place_option = place_list[i].split("__");
                {#alert(place_option);#}
                $('#place_sel').append(new Option(place_option[0], place_option[1], false, false));
            }
        }
    </script>
{% endblock %}