{% extends 'line_liff/base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
    <div class="container">
        <div style="height: 100px;"></div>
        <form >
            <div style="height: 20px;"></div>
            <div class="row bottom40">
                <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                    {% trans 'Account binding completed' %}
                </div>
            </div>
            <div style="height: 50px;"></div>
            <div class="row bottom40">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <a onclick="liff.closeWindow();" class="btn btn-lg btn-default text-white btn-block btn-rounded shadow" style="background-color: #939393;"><span>{% trans 'Close' %}</span></a>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
{% block js %}
    <script>
        $(document).ready(function() {
            document.getElementsByTagName("title")[0].innerText = '{% trans "Account binding" %}' + ' · ' + '{% trans "My PassCode" %}';
        });
    </script>
{% endblock %}