{% extends 'app_web_n/base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
    <div class="container">
        <div style="height: 100px;"></div>
        <form method="post" action="{% url 'liff_add_req' %}">
            {% csrf_token %}
            <input type="hidden" value="{{ location }}" name="location">
            <input type="hidden" name="company_id" value="{{ company.pub_id }}">
            <input type="hidden" name="tag_id" value="{{ tag_id }}">
            <div class="row bottom40">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group float-label active" >
                        <input type="text" class="form-control text-template" id="id_company" style="font-size: 18px;" value="{{ company.name }}" readonly>
                        <label class="form-control-label " style="font-size: 18px;">{% trans 'Company / School to join' %}</label>
                    </div>
                </div>
            </div>

            {% if add_req_time %}
                <input type="hidden" name="add_req_id" value="{{ add_req_id }}">
                <div style="height: 30px;"></div>
                <div class="row bottom40">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group float-label active" >
                            <input type="text" class="form-control text-template" id="id_req_time" style="font-size: 18px;" value="{{ add_req_time | date:'Y-m-d H:i:s'  }}" readonly>
                            <label class="form-control-label " style="font-size: 18px;">{% trans 'Last time the application was submitted' %}</label>
                        </div>
                    </div>
                </div>
            {% endif %}
            <div style="height: 10px;"></div>
            <div class="row bottom40">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    {#                    <a href="{% url 'app_index' request.app_user.pub_id request.app_user.api_token %}"  class="btn btn-lg btn-default text-white btn-block btn-rounded shadow" style="background-color: #848181;"><span>返回首頁</span></a>#}
                    <button type="submit" class="btn btn-lg btn-default text-white btn-block btn-rounded shadow" id="btn_send" ><span>{% trans 'Submit Application' %}</span></button>
                </div>
            </div>
            <div style="height: 20px;"></div>
            <div class="row bottom40">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <a href="{% url 'liff_scan' %}"  class="btn btn-lg btn-default text-white btn-block btn-rounded shadow" style="background-color: #848181;"><span>{% trans 'Back' %}</span></a>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block js %}
    <script>
        $(document).ready(function() {
            document.getElementsByTagName("title")[0].innerText = '{% trans "Submit Application" %}' + ' · ' + '{% trans "My PassCode" %}';
            if ('{{ add_req_time }}' != '' || '{{ add_req_time }}'){
                document.getElementById('btn_send').innerText = '{% trans "Cancel Add Application" %}';
            }
        });
    </script>
{% endblock %}