{% extends 'line_liff/base.html' %}
{% load static %}
{% load utils %}
{% load i18n %}
{% block content %}
    <div class="row no-gutters login-row">
            <div class="col align-self-center px-3 text-center">
                <br>
{#                <img src="{% static 'app_web/img/main_logo.png' %}" alt="logo" class="logo-small">#}
                {% if request.session.iii_login %}
                    <img src="{% static 'app_web/img/main_logo.png' %}" alt="logo" class="logo-small">
                {% else %}
                    <img src="{% static 'app_web/img/logo-04b.png' %}" alt="logo" class="logo-small">
                {% endif %}
                <form class="form-signin mt-3 " method="post" action="{% url 'liff_bind' %}" id="frm">
                    {% csrf_token %}
                    <input type="hidden" id="latitude" name="latitude">
                    <input type="hidden" id="longitude" name="longitude">
                    <div class="form-group">
                        <input type="text" id="inputAccount" class="form-control form-control-lg text-center text-template" placeholder="{% trans 'Please enter phone or account' %}" required autofocus name="account" value="{{ account }}" onkeyup='value=value.replace(/[\W]/g, "")'>
                    </div>

                    <div class="form-group">
                        <input type="password" id="inputPassword" class="form-control form-control-lg text-center text-template" autocomplete="off" placeholder="{% trans 'Please Enter Password' %}" required name="password">
                    </div>
{#                    <div class="input-group-text" style="background-color: transparent; border:0;">#}
{#                        <input type="checkbox" {% if remember_checkbox == 'on' %}checked{% endif %} name="remember_checkbox">#}
{#                        <p class="text-template" style="font-size: 14px;" id="remember_text">&nbsp;&nbsp;{% trans 'Remember Account' %}</p>#}
{#                    </div>#}

{#                    <div class="form-group text-left">#}
{#                        <a href="javascript:void(0)" class="text-template" data-toggle="modal" data-target="#languageChange" id="lang_change" style="text-decoration:none;">&nbsp;&nbsp;<i class="material-icons" style="font-size: 18px;">language</i><label style="font-size: 14px;">&nbsp;&nbsp;{% trans 'Language setting' %}</label></a>#}
{#                    </div>#}

                    <!--<div class="form-group my-4 text-left">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="rememberme">
                            <label class="custom-control-label" for="rememberme">Remember Me</label>
                        </div>
                    </div>-->
                    <a href="{% url 'liff_sign_up' %}" class="mt-4 d-block" id="sign_up_text">{% trans 'Sign Up' %}</a>
                    <a href="{% url 'liff_forget_pass' %}" class="mt-4 d-block"  id="forget_pass_text">{% trans 'Forgot Password' %}?</a>
                    <input type="hidden" id="latitude" name="web_latitude">
                    <input type="hidden" id="longitude" name="web_longitude">
                </form>
            </div>
        </div>

        <!-- login buttons -->
        <div class="row mx-0 bottom-button-container">
            <div class="col">
                <a onclick="frm_submit()" class="btn btn-default btn-lg btn-rounded shadow btn-block" id="btn_next">{% trans 'Account Binding' %}</a>
            </div>
        </div>
{% endblock %}
{% block js %}
    <script>
        function frm_submit() {
            var frm = $('#frm');
            if (frm[0].checkValidity()) {
                frm.submit();
            }else{

                frm[0].reportValidity();
            }
        }
        $(document).ready(function() {
            document.getElementsByTagName("title")[0].innerText = '{% trans "Account Binding" %}' + ' · ' + '{% trans "My PassCode" %}';
            document.getElementById('header_bar').style.display = "none";
        });
    </script>
{% endblock %}