{% load static %}
{% load i18n %}
<!doctype html>
<html lang="en" class="deeppurple-theme">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="Maxartkiller">

    <title>{% trans 'Description' %}</title>

    <!-- Material design icons CSS -->
    <link rel="stylesheet" href="{% static 'app_web/vendor/materializeicon/material-icons.css' %}">

    <!-- Roboto fonts CSS -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link href="{% static 'app_web/vendor/bootstrap-4.4.1/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Swiper CSS -->
    <link href="{% static 'app_web/vendor/swiper/css/swiper.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'app_web/css/style.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'backend/fontawesome-free-5.3.1-web/css/all.css' %}">

    <style>
        .row {
            margin-right: 1px;
        }

        .crop img {
            width: 80px;
            height: 100px;
            margin: -25px 0 0 -10px;
        }

        {# 深色模式 logo #}
        .theme-dark .header-logo {
            /*content: url('../img/logo-header-white.png');*/
            {#content: url({% static 'app_web/img/logo-04a.png' %});#}
            {% if request.session.iii_login %}
                content: url({% static 'app_web/img/main_logo_white.png' %});
            {% else %}
                content: url({% static 'app_web/img/logo-04a.png' %});
            {% endif %}
        }

        .theme-dark .logo-small {
            /*content: url('../img/logo-login-white.png');*/
            {% if request.session.iii_login %}
                content: url({% static 'app_web/img/main_logo_white.png' %});
            {% else %}
                content: url({% static 'app_web/img/logo-04a.png' %});
            {% endif %}
        }
        .logo-small {
            /*content: url('../img/logo-login-white.png');*/
            {% if not request.session.iii_login %}
                width: 250px;
            {% endif %}
        }
        {#.ix_bar{}#}
    </style>
    {% block stylesheet %}{% endblock %}
    <style>
        /* iPhone X and Xs Max */
        @media only screen
            and (min-device-width: 375px)
            and (min-device-height: 812px)
            and (-webkit-device-pixel-ratio: 3)
            and (orientation: portrait) {
                /* styles */

                .header {
                    height: env(safe-area-inset-top);
                    padding: env(safe-area-inset-top);
                }

                .contentinfo{
                    /*padding: 44px 3% 0 3%;*/
                    padding: env(safe-area-inset-top) 3% 0 3%;
                }
                .ix_bar{
                    height: 30px;
                }
                .header .btn {
                    text-align: left;
                    width: 30px;
                }
            }

        /* iPhone XR */
        @media only screen
            and (min-device-width: 414px)
            and (min-device-height: 896px)
            and (-webkit-device-pixel-ratio: 2)
            and (orientation: portrait) {
                /* styles */

                .header {
                    height: env(safe-area-inset-top);
                    padding: env(safe-area-inset-top);
                }

                .contentinfo{
                    padding: env(safe-area-inset-top) 3% 0 3%;
                }
                .ix_bar{
                    height: 30px;
                }
                .header .btn {
                    text-align: left;
                    width: 30px;
                }
            }
    </style>
</head>
<body>
<!-- Loader -->
<div class="row no-gutters vh-100 bg-template loader-screen " id="loader_page">
    <div class="col align-self-center text-center">
        {#            <img src="{% static 'app_web/img/main_logo_white.png' %}" alt="logo" class="logo-small">#}
        {#            <img src="{% static 'app_web/img/logo-04a.png' %}" alt="logo" class="logo-small">#}
        {% if request.session.iii_login %}
            <img src="{% static 'app_web/img/main_logo_white.png' %}" alt="logo" class="logo-small">
        {% else %}
            <img src="{% static 'app_web/img/logo-04a.png' %}" alt="logo" class="logo-small">
        {% endif %}
        {#            <h1 class="mt-3"><span class="font-weight-light ">我的</span>通行碼</h1>#}
        <h1 class="mt-3">{% trans 'MY PASSCODE' %}</h1>

        <div class="laoderhorizontal">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</div>
    <!-- Loader ends -->

<div class="wrapper" id="wrapper_base">
    <div class="row" id="header_bar" style="padding-top: 5px;">
        <div class="col text-center">
            {% if request.session.iii_login %}
                <img src="{% static 'app_web/img/main_logo.png' %}" alt="" class="header-logo" style="margin-left: -15px;">
            {% else %}
                <img src="{% static 'app_web/img/logo-04b.png' %}" alt="" class="header-logo" style="width: 190px;max-height: 65px;">
            {% endif %}
        </div>
    </div>
    <div style="height: 50px;"></div>
    <div class="row" >
        <div class="col-md-1 col-sm-1 col-xs-1 "></div>
        <div class="col-md-10 col-sm-10 col-xs-10 ">
{#            <i class="material-icons" >language</i>#}
            <select style="margin-top:20px;width: 200px;" id="descript_lang" onchange="change_lang()">
                <option value="zh_Hant" {% if request.session.language == 'zh_Hant' %}selected{% endif %}>{% trans 'Traditional Chinese' %}</option>
                <option value="en-us" {% if request.session.language == 'en-us' %}selected{% endif %}>{% trans 'English' %}</option>
            </select>
        </div>
        <div class="col-md-1 col-sm-1 col-xs-1 "></div>
    </div>
    <div style="height: 20px;"></div>
    <div class="row">
        <div class="col-md-1 col-sm-1 col-xs-1 "></div>
        <div class="col-md-10 col-sm-10 col-xs-10 " >
            <div >
                <a href="#des_group_1" onclick="open_description('des_group_1');" title="" style="color: darkblue; font-size: 22px;text-decoration:none;">・{% trans "Account related issues" %}</a>
                <input type="hidden" id="sel_func_type" value="{{ func_type }}">
                <div id="des_group_1" style="display: none;">
                    <div style="height: 5px;"></div>
                    <div class="row">
                        <div style="margin-left: 50px;">
                            <a href="#des_group_1_1_a" id="des_group_1_1_a" onclick="open_description('des_group_1_1');" title="" style="color: black; font-size: 20px;text-decoration:none;">- {% trans "How can I bind my account ?" %}</a>
                            <div id="des_group_1_1" style="display: none;">
                                <div style="height: 10px;"></div>
                                <div style="margin-left: 20px;">
                                    <p>1.當選取任一功能跳出以下畫面，請先登入line使Passcode獲得使用此帳號的權限</p>
                                    <img src="{% static 'app_web/img/demo/line_login_photo.png' %}" alt="line_login_photo">
                                    <div style="height: 10px;"></div>
                                    <p>2.輸入帳號密碼做帳戶綁定</p>
                                    <img src="{% static 'app_web/img/demo/account_bind.png' %}" alt="account_bind">
                                    <div style="height: 10px;"></div>
                                    <p>3.綁定後即會跳轉所選之功能頁面</p>
                                    <div style="height: 10px;"></div>
                                </div>
                                <div style="height: 20px;"></div>
                            </div>
                            <div style="height: 15px;"></div>
                            <a href="#des_group_1_2_a" id="des_group_1_2_a" onclick="open_description('des_group_1_2');" title="" style="color: black; font-size: 20px;text-decoration:none;">- {% trans "I forgot my password, how can I reset it ?" %}</a>
                            <div id="des_group_1_2" style="display: none;">
                                <div style="height: 10px;"></div>
                                <div style="margin-left: 20px;">
                                    <p>1.在帳號綁定頁面忘記密碼時，點擊忘記密碼按鈕</p>
                                    <img src="{% static 'app_web/img/demo/forget_pwd_btn.png' %}" alt="forget_pwd_btn">
                                    <div style="height: 10px;"></div>
                                    <p>2.請先輸入帳號，之後點擊發送驗證碼</p>
                                    <img src="{% static 'app_web/img/demo/fgt_pwd_otp.png' %}" alt="fgt_pwd_otp">
                                    <div style="height: 10px;"></div>
                                    <p>3.獲得驗證碼後輸入並送出，跳至輸入新密碼頁面，輸入兩次新密碼之後按下重設密碼送出</p>
                                    <img src="{% static 'app_web/img/demo/fgt_enter_pwd.png' %}" alt="fgt_enter_pwd">
                                    <div style="height: 10px;"></div>
                                    <p>4.更新完成即會跳轉至帳戶綁定頁面</p>
                                    <div style="height: 10px;"></div>
                                </div>
                                <div style="height: 20px;"></div>
                            </div>
                            <div style="height: 15px;"></div>
                            <a href="#des_group_1_3_a" id="des_group_1_3_a" onclick="open_description('des_group_1_3');" title="" style="color: black; font-size: 20px;text-decoration:none;">- {% trans "I don’t have a Passcode account, how do I register ?" %}</a>
                            <div id="des_group_1_3" style="display: none;">
                                <div style="height: 5px;"></div>
                                <div style="margin-left: 20px;">
                                    <p>1.在帳號綁定頁面點擊註冊按鈕</p>
                                    <img src="{% static 'app_web/img/demo/sign_up_btn.png' %}" alt="sign_up_btn">
                                    <div style="height: 10px;"></div>
                                    <p>2.填入欄位中資料按下下一步</p>
                                    <img src="{% static 'app_web/img/demo/sign_up_info.png' %}" alt="sign_up_info">
                                    <div style="height: 10px;"></div>
                                    <p>3.點擊發送驗證碼，並在獲得驗證碼後填入欄位中，並按下確定送出</p>
                                    <img src="{% static 'app_web/img/demo/sign_up_otp.png' %}" alt="sign_up_otp">
                                    <div style="height: 10px;"></div>
                                    <p>4.帳號註冊成功後即會跳轉至帳戶綁定頁面</p>
                                    <div style="height: 10px;"></div>
                                </div>
                                <div style="height: 20px;"></div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
                <div style="height: 20px;"></div>
                <a href="#des_group_2" onclick="open_description('des_group_2');" title="" style="color: darkblue; font-size: 22px;text-decoration:none;">・{% trans "Scan issues" %}</a>
                <div id="des_group_2" style="display: none;">
                    <div style="height: 5px;"></div>
                    <div class="row">
                        <div style="margin-left: 50px;">
                            <a href="#des_group_2_1_a" id="des_group_2_1_a" onclick="open_description('des_group_2_1');" title="" style="color: black; font-size: 20px;text-decoration:none;">- {% trans "How to scan QR code ?" %}</a>
                            <div id="des_group_2_1" style="display: none;">
                                <div style="height: 5px;"></div>
                                <div style="margin-left: 20px;">
                                    <p>1.在底下功能選單中選擇掃描</p>
                                    <img src="{% static 'app_web/img/demo/scan_btn2.png' %}" alt="scan_btn">
                                    <div style="height: 10px;"></div>
                                    <p>2.選擇掃描或是直接輸入使用者或地點名稱</p>
                                    <img src="{% static 'app_web/img/demo/scan_type.png' %}" alt="scan_type">
                                    <div style="height: 10px;"></div>
                                    <p>備註：目前Line暫時關閉掃描QR Code功能，改以相機拍照方式上傳</p>
                                    <img src="{% static 'app_web/img/demo/scan_photo.png' %}" alt="scan_photo">
                                    <div style="height: 10px;"></div>
                                    <p>3.掃描使用者之後會有3-1更新健康碼(掃描者需有更新健康碼權限)、3-2接觸登記、3-3訪客登記按鈕可以點選</p>
                                    <img src="{% static 'app_web/img/demo/scan_user.png' %}" alt="scan_user">
                                    <div style="height: 10px;"></div>
                                    <p>3-1.更新健康碼可以選擇通過或未通過，代表將被掃描者的健康碼是否通過，送出結果後返回掃描頁面</p>
                                    <img src="{% static 'app_web/img/demo/health_scan.png' %}" alt="health_scan">
                                    <div style="height: 10px;"></div>
                                    <p>3-2.接觸登記送出代表紀錄掃描者跟被掃描者有接觸過，送出結果後返回掃描頁面</p>
                                    <img src="{% static 'app_web/img/demo/approach_scan.png' %}" alt="approach_scan">
                                    <div style="height: 10px;"></div>
                                    <p>3-3.訪客登記代表紀錄被掃描者訪問掃描者公司/學校，送出結果後返回掃描頁面</p>
                                    <img src="{% static 'app_web/img/demo/visitor_scan.png' %}" alt="visitor_scan">
                                    <div style="height: 10px;"></div>
                                    <p>4.掃描地點之後會有4-1更新掃描人員狀態、4-2地點紀錄</p>
                                    <img src="{% static 'app_web/img/demo/scan_place.png' %}" alt="scan_place">
                                    <div style="height: 10px;"></div>
                                    <p>4-1.更新掃描人員狀態代表將有更新健康碼權限之使用者開啟更新功能或關閉更新功能，送出結果後返回掃瞄頁面</p>
                                    <img src="{% static 'app_web/img/demo/s_user_status_scan.png' %}" alt="s_user_status_scan">
                                    <div style="height: 10px;"></div>
                                    <p>4-2.地點紀錄代表紀錄掃描者到過此地點，送出結果後返回掃描頁面</p>
                                    <img src="{% static 'app_web/img/demo/place_scan.png' %}" alt="place_scan">
                                    <div style="height: 10px;"></div>
                                </div>
                                <div style="height: 20px;"></div>
                            </div>
                            <div style="height: 15px;"></div>
                            <a href="#des_group_2_2_a" id="des_group_2_2_a" onclick="open_description('des_group_2_2');" title="" style="color: black; font-size: 20px;text-decoration:none;">- {% trans "How to show personal health code ?" %}</a>
                            <div id="des_group_2_2" style="display: none;">
                                <div style="height: 5px;"></div>
                                <div style="margin-left: 20px;">
                                    <p>1.在底下功能選單中選擇顯示健康碼</p>
                                    <img src="{% static 'app_web/img/demo/show_qr_btn2.png' %}" alt="show_qr_btn">
                                    <div style="height: 10px;"></div>
                                    <p>2.健康碼狀態及個人QR Code會回應在對話欄中，健康碼狀態總共有"未填表、待測量、正常、高風險、危險"</p>
                                    <p>未填表(黑色): 健康調查表未完成，須完成健康調查表</p>
                                    <img src="{% static 'app_web/img/demo/qr_code_show_black.png' %}" alt="qr_code_show_black">
                                    <div style="height: 10px;"></div>
                                    <p>待測量(橘色): 待體溫測量</p>
                                    <img src="{% static 'app_web/img/demo/qr_code_show_orange.png' %}" alt="qr_code_show_orange">
                                    <div style="height: 10px;"></div>
                                    <p>正常(綠色): 通過警衛/管理者更新健康碼</p>
                                    <img src="{% static 'app_web/img/demo/qr_code_show_green.png' %}" alt="qr_code_show_green">
                                    <div style="height: 10px;"></div>
                                    <p>危險(紅色): 指健康調查表內容有體溫高於38.0以上或選項有勾選者，或是體溫過高，未通過警衛/管理者更新健康碼</p>
                                    <img src="{% static 'app_web/img/demo/qr_code_show_red.png' %}" alt="qr_code_show_red">
                                    <div style="height: 10px;"></div>
                                </div>
                                <div style="height: 20px;"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="height: 20px;"></div>
                <a href="#des_group_3" onclick="open_description('des_group_3');" title="" style="color: darkblue; font-size: 22px;text-decoration:none;">・{% trans "Personal information settings" %}</a>
                <div id="des_group_3" style="display: none;">
                    <div style="height: 5px;"></div>
                    <div class="row">
                        <div style="margin-left: 50px;">
                            <a href="#des_group_3_1_a" id="des_group_3_1_a" onclick="open_description('des_group_3_1');" title="" style="color: black; font-size: 20px;text-decoration:none;">- {% trans "Modify personal photo" %}</a>
                            <div id="des_group_3_1" style="display: none;">
                                <div style="height: 5px;"></div>
                                <div style="margin-left: 20px;">
                                    <p>1.在底下功能選單其他中選擇個人資料設定</p>
                                    <img src="{% static 'app_web/img/demo/user_profile_btn2.png' %}" alt="user_profile_btn">
                                    <div style="height: 10px;"></div>
                                    <p>2.按下大頭貼右下方的相機</p>
                                    <img src="{% static 'app_web/img/demo/user_img_btn.png' %}" alt="user_img_btn">
                                    <div style="height: 10px;"></div>
                                    <p>3.選擇拍照或是上傳照片修改大頭貼，選擇送出後即會更新大頭貼</p>
                                    <img src="{% static 'app_web/img/demo/user_img_sel.png' %}" alt="user_img_sel">
                                    <div style="height: 10px;"></div>
                                </div>
                                <div style="height: 20px;"></div>
                            </div>
                            <div style="height: 15px;"></div>
                            <a href="#des_group_3_2_a" id="des_group_3_2_a" onclick="open_description('des_group_3_2');" title="" style="color: black; font-size: 20px;text-decoration:none;">- {% trans "Modify personal name company and remarks" %}</a>
                            <div id="des_group_3_2" style="display: none;">
                                <div style="height: 5px;"></div>
                                <div style="margin-left: 20px;">
                                    <p>1.在底下功能選單其他中選擇個人資料設定</p>
                                    <img src="{% static 'app_web/img/demo/user_profile_btn2.png' %}" alt="user_profile_btn">
                                    <div style="height: 10px;"></div>
                                    <p>2.使用者可以更新使用者名稱、備註，輸入完畢後按下更新按鈕即會更新</p>
                                    <img src="{% static 'app_web/img/demo/user_profile_set.png' %}" alt="user_profile_set">
                                    <div style="height: 10px;"></div>
                                </div>
                                <div style="height: 20px;"></div>
                            </div>
                            <div style="height: 15px;"></div>
                            <a href="#des_group_3_3_a" id="des_group_3_3_a" onclick="open_description('des_group_3_3');" title="" style="color: black; font-size: 20px;text-decoration:none;">- {% trans "Password reset" %}</a>
                            <div id="des_group_3_3" style="display: none;">
                                <div style="height: 5px;"></div>
                                <div style="margin-left: 20px;">
                                    <p>1.在底下功能選單其他中選擇個人資料設定</p>
                                    <img src="{% static 'app_web/img/demo/user_profile_btn2.png' %}" alt="user_profile_btn">
                                    <div style="height: 10px;"></div>
                                    <p>2.使用者至此頁最下方，按下重設密碼按鈕進行重設密碼</p>
                                    <img src="{% static 'app_web/img/demo/edit_pwd.png' %}" alt="edit_pwd">
                                    <div style="height: 10px;"></div>
                                    <p>3.點擊發送驗證碼，並在獲得驗證碼後填入欄位中，並按下確定送出</p>
                                    <img src="{% static 'app_web/img/demo/edit_pwd_otp.png' %}" alt="edit_pwd_otp">
                                    <div style="height: 10px;"></div>
                                    <p>4.輸入兩次新密碼，送出後即修改密碼</p>
                                    <img src="{% static 'app_web/img/demo/edit_pwd_enter.png' %}" alt="edit_pwd_enter">
                                    <div style="height: 10px;"></div>
                                </div>
                                <div style="height: 20px;"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="height: 20px;"></div>
                <a href="#des_group_4" onclick="open_description('des_group_4');" title="" style="color: darkblue; font-size: 22px;text-decoration:none;">・{% trans "Check in operation" %}</a>
                <div id="des_group_4" style="display: none;">
                    <div style="height: 5px;"></div>
                    <div class="row">
                        <div style="margin-left: 50px;">
                            <a href="#des_group_4_1_a" id="des_group_4_1_a" onclick="open_description('des_group_4_1');" title="" style="color: black; font-size: 20px;text-decoration:none;">- {% trans "Location check in" %}</a>
                            <div id="des_group_4_1" style="display: none;">
                                <div style="height: 5px;"></div>
                                <div style="margin-left: 20px;">
                                    <p>1.在底下功能選單中選擇位置打卡</p>
                                    <img src="{% static 'app_web/img/demo/location_btn2.png' %}" alt="location_btn">
                                    <div style="height: 10px;"></div>
                                    <p>2.如果手機有提示允許定位，請按允許同意passcode使用您目前的位置</p>
                                    <img src="{% static 'app_web/img/demo/allow_location.png' %}" alt="allow_location">
                                    <div style="height: 10px;"></div>
                                    <p>3.待地圖定位完成，按下確定按鈕送出定位</p>
                                    <img src="{% static 'app_web/img/demo/location_send.png' %}" alt="location_send">
                                    <div style="height: 10px;"></div>
                                    <p>3.打卡完成即會跳轉至歷史紀錄</p>
                                    <img src="{% static 'app_web/img/demo/history.png' %}" alt="location_send">
                                    <div style="height: 10px;"></div>
                                </div>
                                <div style="height: 20px;"></div>
                            </div>
                            <div style="height: 15px;"></div>
                            <a href="#des_group_4_2_a" id="des_group_4_2_a" onclick="open_description('des_group_4_2');" title="" style="color: black; font-size: 20px;text-decoration:none;">- {% trans "Check-in activity annotation" %}</a>
                            <div id="des_group_4_2" style="display: none;">
                                <div style="height: 5px;"></div>
                                <div style="margin-left: 20px;">
                                    <p>1.在底下功能選單中選擇位置打卡</p>
                                    <img src="{% static 'app_web/img/demo/location_btn2.png' %}" alt="location_btn">
                                    <div style="height: 10px;"></div>
                                    <p>2.如果手機有提示允許定位，請按允許同意passcode使用您目前的位置</p>
                                    <img src="{% static 'app_web/img/demo/allow_location.png' %}" alt="allow_location">
                                    <div style="height: 10px;"></div>
                                    <p>3.待地圖定位完成，並在活動名稱、主辦單位、聯絡人聯絡電話中填入資訊，並按下確定按鈕送出定位</p>
                                    <img src="{% static 'app_web/img/demo/location_act_send.png' %}" alt="location_send">
                                    <div style="height: 10px;"></div>
                                    <p>4.送出後歷史紀錄中會顯示打卡所填入的相關資訊</p>
                                    <img src="{% static 'app_web/img/demo/history_act.png' %}" alt="location_send">
                                    <div style="height: 10px;"></div>
                                </div>
                                <div style="height: 20px;"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="height: 20px;"></div>
                <a href="#des_group_5" onclick="open_description('des_group_5');" title="" style="color: darkblue; font-size: 22px;text-decoration:none;">・{% trans "Company management" %}</a>
                <div id="des_group_5" style="display: none;">
                    <div style="height: 5px;"></div>
                    <div class="row">
                        <div style="margin-left: 50px;">
                            <a href="#des_group_5_1_a" id="des_group_5_1_a" onclick="open_description('des_group_5_1');" title="" style="color: black; font-size: 20px;text-decoration:none;">- {% trans "How do I apply for a company" %}</a>
                            <div id="des_group_5_1" style="display: none;">
                                <div style="height: 5px;"></div>
                                <div style="margin-left: 20px;">
                                    <p>1.在底下功能選單的其他中選擇公司管理</p>
                                    <img src="{% static 'app_web/img/demo/com_mag_btn2.png' %}" alt="com_mag_btn">
                                    <div style="height: 10px;"></div>
                                    <p>2.選擇公司申請</p>
                                    <img src="{% static 'app_web/img/demo/com_apply_btn2.png' %}" alt="com_apply_btn">
                                    <div style="height: 10px;"></div>
                                    <p>3.申請人為此line帳號綁定的人，填入公司/學校名稱及統一編號，按下確定送出申請</p>
                                    <img src="{% static 'app_web/img/demo/reg_page.png' %}" alt="reg_page">
                                    <div style="height: 10px;"></div>
                                    <p>4.送出申請後會出現已經送出申請提示視窗</p>
                                    <img src="{% static 'app_web/img/demo/send_reg.png' %}" alt="send_reg">
                                    <div style="height: 10px;"></div>
                                    <p>5.按下確定回到申請列表，申請會有"待審核、同意、取消"</p>
                                    <p>待審核申請可由系統管理者同意或取消此申請，一般使用者可以主動取消待審核申請</p>
                                    <img src="{% static 'app_web/img/demo/reg_list.png' %}" alt="reg_list">
                                    <div style="height: 10px;"></div>
                                    <p>6.使用者主動取消待審核申請會跳出提示視窗，按下確定即取消此申請</p>
                                    <img src="{% static 'app_web/img/demo/cancel_alert.png' %}" alt="cancel_alert">
                                    <div style="height: 10px;"></div>
                                </div>
                            </div>
                            <div style="height: 15px;"></div>
                            <a href="#des_group_5_2_a" id="des_group_5_2_a" onclick="open_description('des_group_5_2');" title="" style="color: black; font-size: 20px;text-decoration:none;">- {% trans "How do I enter the management background?" %}</a>
                            <div id="des_group_5_2" style="display: none;">
                                <div style="height: 5px;"></div>
                                <div style="margin-left: 20px;">
                                    <p>1.在底下功能選單的其他中選擇公司管理</p>
                                    <img src="{% static 'app_web/img/demo/com_mag_btn2.png' %}" alt="com_mag_btn">
                                    <div style="height: 10px;"></div>
                                    <p>2.選擇後台連結</p>
                                    <img src="{% static 'app_web/img/demo/com_backend_btn2.png' %}" alt="com_backend_btn">
                                    <div style="height: 10px;"></div>
                                    <p>3.如有管理權限對話欄中會回應後台連結，並請使用電腦操作後台</p>
                                    <div style="height: 10px;"></div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1 col-sm-1 col-xs-1 "></div>
    </div>
</div>
<!-- message modal -->
<div class="modal fade" id="message_modal" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title text-template" id="exampleModalLabel">{% trans 'Message' %}</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="msg" class="text-template"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans 'Close' %}</button>
            </div>
        </div>
    </div>
</div>
{#<div class="modal fade" id="declaration_finish_modal" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle"#}
{#     aria-hidden="true">#}
{#    <div class="modal-dialog modal-dialog-centered" role="document">#}
{#        <div class="modal-content">#}
{#            <div class="modal-header">#}
{#                <h6 class="modal-title text-template" id="exampleModalLabel">{% trans 'Message' %}</h6>#}
{#                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="liff.closeWindow();">#}
{#                    <span aria-hidden="true">&times;</span>#}
{#                </button>#}
{#            </div>#}
{#            <div class="modal-body">#}
{#                <p class="text-template">{% trans 'Complete the declaration' %}</p>#}
{#            </div>#}
{#            <div class="modal-footer">#}
{#                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="liff.closeWindow();">{% trans 'Close' %}</button>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</div>#}
<!-- model end -->
<script src="{% static 'app_web/js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'app_web/js/popper.min.js' %}"></script>
<script src="{% static 'app_web/vendor/bootstrap-4.4.1/js/bootstrap.min.js' %}"></script>

<!-- swiper js -->
<script src="{% static 'app_web/vendor/swiper/js/swiper.min.js' %}"></script>

<!-- cookie js -->
<script src="{% static 'app_web/vendor/cookie/jquery.cookie.js' %}"></script>

<!-- template custom js -->
<script src="{% static 'app_web/js/main.js' %}"></script>
<script src="https://static.line-scdn.net/liff/edge/2.1/sdk.js"></script>

<!-- js Tree -->
<script src="{% static 'jstree/jstree.min.js' %}"></script>


<script>
    function close_other_des(open_id) {
        if (open_id.indexOf('des_group_1') != -1){
            document.getElementById('des_group_2') .style.display='none';
            document.getElementById('des_group_3') .style.display='none';
            document.getElementById('des_group_4') .style.display='none';
            document.getElementById('des_group_5') .style.display='none';
            if (open_id != 'des_group_1_1'){
                document.getElementById('des_group_1_1') .style.display='none';
            }
            if (open_id != 'des_group_1_2'){
                document.getElementById('des_group_1_2') .style.display='none';
            }
            if (open_id != 'des_group_1_3'){
                document.getElementById('des_group_1_3') .style.display='none';
            }
        }else if (open_id.indexOf('des_group_2') != -1){
            document.getElementById('des_group_1') .style.display='none';
            document.getElementById('des_group_3') .style.display='none';
            document.getElementById('des_group_4') .style.display='none';
            document.getElementById('des_group_5') .style.display='none';
            if (open_id != 'des_group_2_1'){
                document.getElementById('des_group_2_1') .style.display='none';
            }
            if (open_id != 'des_group_2_2'){
                document.getElementById('des_group_2_2') .style.display='none';
            }
        }else if (open_id.indexOf('des_group_3') != -1){
            document.getElementById('des_group_1') .style.display='none';
            document.getElementById('des_group_2') .style.display='none';
            document.getElementById('des_group_4') .style.display='none';
            document.getElementById('des_group_5') .style.display='none';
            if (open_id != 'des_group_3_1'){
                document.getElementById('des_group_3_1') .style.display='none';
            }
            if (open_id != 'des_group_3_2'){
                document.getElementById('des_group_3_2') .style.display='none';
            }
            if (open_id != 'des_group_3_3'){
                document.getElementById('des_group_3_3') .style.display='none';
            }
        }else if (open_id.indexOf('des_group_4') != -1){
            document.getElementById('des_group_1') .style.display='none';
            document.getElementById('des_group_2') .style.display='none';
            document.getElementById('des_group_3') .style.display='none';
            document.getElementById('des_group_5') .style.display='none';
            if (open_id != 'des_group_4_1'){
                document.getElementById('des_group_4_1') .style.display='none';
            }
            if (open_id != 'des_group_4_2'){
                document.getElementById('des_group_4_2') .style.display='none';
            }
        }else if (open_id.indexOf('des_group_5') != -1){
            document.getElementById('des_group_1') .style.display='none';
            document.getElementById('des_group_2') .style.display='none';
            document.getElementById('des_group_3') .style.display='none';
            document.getElementById('des_group_4') .style.display='none';
            if (open_id != 'des_group_4_1'){
                document.getElementById('des_group_5_1') .style.display='none';
            }
            if (open_id != 'des_group_4_2'){
                document.getElementById('des_group_5_2') .style.display='none';
            }
        }

    }

    function open_description(open_id){
        $('#sel_func_type').val(open_id);
        close_other_des(open_id);
        if(document.getElementById(open_id) .style.display=='none') {
            document.getElementById(open_id) .style.display=''
        }else{
            document.getElementById(open_id) .style.display='none'
        }
    }
    function change_lang(){
        var lang = $('#descript_lang').val();
        var location_url = window.location.href;
        var func_type = $('#sel_func_type').val();
        var location_url_list = location_url.split('?');
        location_url = location_url_list[0]
        location_url = location_url + '?' + 'func_type=' + func_type + '&language=' + lang;
        {#alert(location_url);#}
        location.href = location_url;
    }


    $(document).ready(function(){
        if ('{{ func_type }}' != ''){
            var func_type = '{{ func_type }}';
            if (func_type.indexOf('des_group_1') != -1){
                document.getElementById('des_group_1') .style.display='';
            }else if (func_type.indexOf('des_group_2') != -1){
                document.getElementById('des_group_2') .style.display='';
            }else if (func_type.indexOf('des_group_3') != -1){
                document.getElementById('des_group_3') .style.display='';
            }else if (func_type.indexOf('des_group_4') != -1){
                document.getElementById('des_group_4') .style.display='';
            }else if (func_type.indexOf('des_group_5') != -1){
                document.getElementById('des_group_5') .style.display='';
            }
            document.getElementById(func_type) .style.display=''
        }

        if ('{{ message }}'){
            $("#msg").text('{{ message }}');
            $("#message_modal").modal();
        }
    });




</script>

</body>

</html>