@charset "UTF-8";
/* 全體通用 */
html body { margin:0; padding:0; font-family:  sans-serif, Helvetica, Arial, "微軟正黑體" !important;
  background-repeat: repeat;}
.row.no-gutter {  margin-left: 0;  margin-right: 0;}
.row.no-gutter [class*='col-']:not(:first-child),
.row.no-gutter [class*='col-']:not(:last-child) { padding-right: 0;  padding-left: 0;}
.nopadding {   padding: 0 !important;   margin: 0 !important;}


.bottom5 {margin-bottom: 5px;}
.bottom10 {margin-bottom: 10px;}
.bottom20 {margin-bottom: 20px;}
.bottom30 {margin-bottom: 30px;}
.bottom40 {margin-bottom: 40px;}
.bottom50 { margin-bottom: 50px;}
.bottom60 {margin-bottom: 60px;}
.bottom70 {margin-bottom: 70px;}
.bottom80 {margin-bottom: 80px;}
.bottom100 {margin-bottom: 100px;}
.top5 {margin-top: 5px;}
.top10 {margin-top: 10px;}
.top15 {margin-top: 15px;}
.top20 {margin-top: 20px;}
.top30 {margin-top: 30px;}
.top35 {margin-top: 35px;}
.top40 {margin-top: 40px;}
.top50 {margin-top: 50px;}
.top60 {margin-top: 60px;}
.top70 {margin-top: 70px;}
.left5 {margin-left: 5px;}
.left10 {margin-left: 10px;}
.left15 {margin-left: 15px;}
.left20 {margin-left: 20px;}
.left30 {margin-left: 30px;}
.left40 {margin-left: 40px;}
.left50 {margin-left: 50px;}
.left60 {margin-left: 60px;}
.right5 {margin-right: 5px;}
.right10 {margin-right: 10px;}
.right20 {margin-right: 20px;}

.bread-sec {margin: 20px 0 0px 0px;font-size:14px;}

.index_bg1 {
	 	background-size: cover;
        background-image:url(../images/P_02.png);
        background-repeat: no-repeat;
	background-size:150px 150px;
}
.index_bg2 {
	 	background-size: cover;
        background-image:url(../images/P_03.png);
        background-repeat: no-repeat;	background-size:150px 150px;
}
.index_bg3 {
	 	background-size: cover;
        background-image:url(../images/P_04.png);
        background-repeat: no-repeat;	background-size:150px 150px;
}
.index_bg4 {
	 	background-size: cover;
        background-image:url(../images/P_05.png);
        background-repeat: no-repeat;	background-size:150px 150px;
}
.index_bg5 {
	 	background-size: cover;
        background-image:url(../images/P_06.png);
        background-repeat: no-repeat;	background-size:150px 150px;
}
.index_bg6 {
	 	background-size: cover;
        background-image:url(../images/P_07.png);
        background-repeat: no-repeat;	background-size:150px 150px;
}

.index_bg7 {
	 	background-size: cover;
        background-image:url(../images/bg-2.jpg);
        background-repeat: no-repeat;	
}

.nav_tabs { background-color:#fff; border-radius:20px 20px; padding:10px; width:150px; float:left; margin-right:1px; color: #1f74a3;text-align: center; border-width:1px; border-style:solid ;border-color:#1f74a3; }
.nav_tabs:hover { background-color:#1f74a3; color: #FFF;text-align: center;  border-width:1px; border-style:solid ;border-color:#1f74a3; }
.nav_tabs_active { background-color:#1f74a3; border-radius:20px 20px; padding:10px; width:150px; float:left; margin-right:1px; color:#FFF;text-align: center; border-width:1px; border-style:solid ;border-color:#1f74a3; }

.nav_line { height:5px; background-color:#eeeeee;}

.line_solid { border-bottom: 1px solid #CCC; padding-bottom:10px;}

.img_border { border: 1px solid #CCC;}

/* 首頁 */
.footer { background-color:#33406b; color:#FFF; padding:15px 10px; margin-top:30px; }

.header_sec { background-image: url(../images/bg_top.jpg); background-size: cover; font-size: 16px; box-shadow:5px 5px 10px -1px rgba(20%,20%,40%,0.5);}

.header_welcome { margin-top:40px; text-shadow: 0px 0px 10px #fff, 0px 0px 10px #fff, 0px 0px 10px #fff, 0px 0px 10px #fff, 0px 0px 10px #fff, 0px 0px 10px #fff, 0px 0px 10px #fff;}
.colorh3{width:8px;
height:20px;background: #303c80;
background: -moz-linear-gradient(top, #303c80 1%, #8a5d9a 100%);
background: -webkit-linear-gradient(top, #303c80 1%,#8a5d9a 100%);
background: linear-gradient(to bottom, #303c80 1%,#8a5d9a 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#303c80', endColorstr='#8a5d9a',GradientType=0 );}

.menu_sec { width:20%; float:left; padding:0 5px; text-align: center; }

.year_sec { font-size:16px; color:#FFF; background-color:#4d5f9b; min-height: 30px;}
.year_sec li { min-height: 30px; padding-top:4px; }
.year_active {  height: 32px; background-color:#FFF; color:#4d5f9b; border-top:2px solid #4d5f9b;}
.year_main { background-color:#DDD; border-radius:0px 0px 20px 20px; }
.year_img { border-right: 1px solid #666; padding:0 20px;}
.title_award { font-size:16px; color:#FFF; background-color:#6e4d9b; padding:5px 10px;}
.icon_square { color:#6e4d9b; margin-top:8px; margin-right: 10px; }
.title{border-bottom:2px solid #0375a5;background:#e3f4fb;padding:20px 0;}

.btn_signup_xs { background-color:#000; border:none; color:#FFF; padding:10px 51px;font-size: 20px;position:absolute; right:10;font-weight:bold;background:rgba(0,0,0,0.6);margin-top:125px; }
.event_sec_xs { background-color:#FFF;}

.menu_tabs:link {font-size:16px; color: #fff; text-decoration: none; font-weight:bold;}
.menu_tabs:visited {font-size:16px; color: #fff; text-decoration: none; font-weight:bold;}
.menu_tabs { background-color:#3f8ad3; padding:10px; width:100%; float:left; margin-right:1px; color: #FFF;}
.menu_tabs:hover { background-color:#cb4112; color: #FFF;}
.menu_tabs_active { background-color:#cb4112; padding:10px; width:100%; float:left; margin-right:1px; color:#FFF;}
.menu_tabs_active:link { font-size:16px; color: #fff; text-decoration: none; font-weight:bold;}


.submenu{background-color:#308dd6;box-shadow:5px 5px 12px -2px rgba(20%,20%,40%,0.5);}
a.submenu_link:link {	font-size:18px; color: #FFF; text-decoration: none;}
a.submenu_link:visited {font-size:18px; color: #FFF; text-decoration: none;}
a.submenu_link:hover {  font-size:18px; color: #FFF; text-decoration: none;}
a.submenu_link:active { font-size:18px; color: #FFF; text-decoration: none;}


a.menu_link_m:link {   font-size:18px; color: #000; text-decoration: none;}
a.menu_link_m:visited {font-size:18px; color: #000; text-decoration: none;}
a.menu_link_m:hover {  font-size:18px; color: #000; text-decoration: none;}
a.menu_link_m:active { font-size:18px; color: #000; text-decoration: none;}

/* 電腦版 */
@media screen and (min-width: 990px) {
    .pc_top {display:block;}
	.pc_menu {display:block;}
	.mobile_top {display:none;}
	.mobile_menu {display:none;}	
}
/* 手機版 */
@media screen and (max-width: 989px) {
    .pc_top {display:none;}
	.pc_menu {display:none;}
	.mobile_top {display:block;}	
	.mobile_menu {display:block;}
}
#menu_dropdown{	
	display:none;
	position:absolute;
	width:100%;
	z-index:9999;
	}
	
#menu_dropdown ul li{
	list-style:none; margin-left:-40px; padding: 10px 20px;}



/* 全體通用 */
.cen{text-align:left; padding:10px}
.cen_R{text-align:right; padding:10px;border:2px solid #0375a5}
.cen_blue{padding:10px;border:2px solid #0375a5 !important;background:#e3f4fb; }
.text-center { text-align: center;}
html body { margin:0; padding:0;}
body { font-family:  sans-serif, Helvetica, Arial, "微軟正黑體" !important; }
.row.no-gutter {  margin-left: 0;  margin-right: 0;}
.row.no-gutter [class*='col-']:not(:first-child),
.row.no-gutter [class*='col-']:not(:last-child) { padding-right: 0;  padding-left: 0;}
.nopadding {   padding: 0 !important;   margin: 0 !important;}

.line_solid { border-bottom: 1px solid #BBB; padding-bottom:0px; margin-bottom:20px;}



.img-center { margin: 0 auto;}
.img-right { margin-left: auto;}

.text-center {
  text-align: center;
}

.nopadding {   padding: 0 !important;   margin: 0 !important;}

.current { background-color: #0275a4;
color: #ffffff;
background-size: 100%;}

/* end */



/* 文字設定 */
.content_01 { font-size: 16px; color:#333; line-height:1.6em;}
.content_02 { font-size: 15px; color:#666; line-height:1.5em;}
.word_02 { font-size: 16px; color:#000; line-height:1.6em;}
.title_bk { font-size:22px; color:#000; font-weight:bold;}

.title_gy { font-size:22px; color:#666; font-weight:bold;}

a.list_link:link {	 font-size: 22px; color: #000; text-decoration: none; font-weight:bold; }
a.list_link:visited {font-size: 22px; color: #000; text-decoration: none; font-weight:bold; }
a.list_link:hover {	 font-size: 22px; color: #000; text-decoration: underline; font-weight:bold; }
a.list_link:active { font-size: 22px; color: #000; text-decoration: underline; font-weight:bold; }

a.year_link:link {	 font-size: 16px; color: #FFF; text-decoration: none; }
a.year_link:visited {font-size: 16px; color: #FFF; text-decoration: none; }
a.year_link:hover {	 font-size: 16px; color: #FFF; text-decoration: underline; }
a.year_link:active { font-size: 16px; color: #FFF; text-decoration: underline; }

/* end */
/*progress bar*/

.progressbar {
  counter-reset: step;
  display: inline-block;
  width: 100%;
}
.progressbar > li {
  list-style-type: none;
  float: left;
  width: 20%;
  position: relative;
  text-align: center;
  font-size: 0.9375rem;
  color: #7b8a8a;
  margin: 0;
}
.progressbar > li:before {
  content: counter(step);
  counter-increment: step;
  width: 50px;
  height: 50px;
  line-height: 50px;
  display: block;
  text-align: center;
  margin: 0 auto 10px auto;
  border-radius: 50%;
  background-color: #7b8a8a;
  position: relative;
  z-index: 2;
  color: #ffffff;
  font-size: 1.75rem;
  padding: 0;
  text-indent: 0;
}
.progressbar > li:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 15px;
  background-color: #7b8a8a;
  top: 15px;
  left: 0%;
  z-index: 1;
}
.progressbar > li:last-child:after {
  border-radius: 0px 4px 4px 0px;
}
.progressbar > li.active {
  color: #323232;
}
.progressbar > li.active:before {
  background-color: #3b5093;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuMCIgeDI9IjEuMCIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzNiNTA5MyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzNkMmM5MyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, #3b5093), color-stop(100%, #3d2c93));
  background-image: -moz-linear-gradient(top, #3b5093, #3d2c93);
  background-image: -webkit-linear-gradient(top, #3b5093, #3d2c93);
  background-image: linear-gradient(to bottom right, #3b5093, #3d2c93);
  color: #ffffff;
}
.progressbar > li.active:after {
  background-color: #3b5093;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzNiNTA5MyIvPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjM2QyYzkzIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjM2I1MDkzIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #3b5093), color-stop(50%, #3d2c93), color-stop(100%, #3b5093));
  background-image: -moz-linear-gradient(left, #3b5093, #3d2c93, #3b5093);
  background-image: -webkit-linear-gradient(left, #3b5093, #3d2c93, #3b5093);
  background-image: linear-gradient(to right, #3b5093, #3d2c93, #3b5093);
}
.progressbar > li.active:first-child:after {
  border-radius: 4px 0px 0px 4px;
}





.col-lg-offset-1, label.col-md-1, label.col-md-2 {
    padding: 0;
}

.selectBox > .inputBox {
    width: 45%;
}
.selectBox > .inputBox3 {
    width: 30%;
}
.selectBox > .tilde {
    display:inline-block;
    width: 10%;
    font-size: 20px;
}
footer img {
    float:right;
}
footer .left {
    border-left: 5px solid #bbb;
    padding-left: 25px;
}

@media (max-width: 1199px) {
    .col-lg-offset-1{
        padding: 0 15px;
    }
	footer .col-lg-offset-1{
		padding: 0;
	}
}

@media (max-width: 991px) {
    .sndMt10 {
        margin-top: 10px;
    }
    .sndMt15 {
        margin-top: 15px;
    }
    .sndMt25 {
        margin-top: 25px;
    }
    .col-lg-offset-1, label.col-md-1, label.col-md-2 {
        padding: 0 15px;
    }
    .selectBox {
        float: none;
    }
    .selectBox > .inputBox, .selectBox > .inputBox3 {
        width: 100%;
    }
    .selectBox > .tilde {
        display: none;
    }
    footer img{
        float:none;
    }
    footer .left {
        border-left-width: 0;
        padding-left: 15px;
    }
}
/*@media (min-width: 992px) {
    label.col-md-2 {
        width: 10%;
    }
}*/