@charset "UTF-8";
/*nav start*/
/*, 微軟正黑體,*/
/*for h1 */
/*for h1 */
/*30 1.875, content tag padding top*/
/*content*/
/*==default begine==*/
/* or disabled*/
/*$submenuTitle_fontSize:1.125rem;
$submenuTitle_fontColor:#607d8b;*/
/*==== nav begine============================================*/
nav {
  position: relative;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #343485;
  /*height: 44px;*/
}
nav ul.mainNav {
  *zoom: 1;
  width: 960px;
  width: 59.99975rem;
  padding-left: 8px;
  padding-left: 0.5rem;
  padding-right: 8px;
  padding-right: 0.5rem;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  list-style-type: none;
  padding: 0px;
  font-size: 0px;
  max-width: 960px;
  margin: 0 auto;
  width: auto;
	 float: left;
}
nav ul.mainNav:after {
  content: "";
  display: table;
  clear: both;
}
nav ul.mainNav > li {
  display: block;
  height: 44px;
  line-height: 2.75rem;
  float: left;
  padding: 0;
  background-color: #0275a4;
  position: relative;
  z-index: 9998;
  color: #ffffff;
  text-decoration: none;
  width: auto;
  /*&:last-child ul{
  	width:rem(190);
  }*/
}
    nav ul.mainNav > li > a {
        display: block;
        position: relative;
        font-family: "Microsoft JhengHei", Verdana, Arial;
        font-size: 1.6rem;
        line-height: 42px;
        vertical-align: middle;
        text-align: center;
        padding-left: 8px;
        padding-right: 10px;
        width: auto;
        height: 100%;
        color: #ffffff;
        text-decoration: none;
    }
nav ul.mainNav > li > a:visited {
  text-decoration: none;
  color: #ffffff;
}
nav ul.mainNav > li > a:hover, nav ul.mainNav > li > a:active, nav ul.mainNav > li > a:focus {
  text-decoration: none;
  color: #ffffff;
  background-color:#cb4112 ;
  background-size: 100%;
}
nav ul.mainNav > li > a:after {
  content: '';
  width: 100%;
  height: auto;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 2;
}
nav ul.mainNav > li > a > span {
  display: block;
  vertical-align: middle;
  font-family: "Microsoft JhengHei", Verdana, Arial;
}
nav ul.mainNav > li > a.current {
  color: #ffffff;
  background-size: 100%;
   background-color:#cb4112 ;
}
nav ul.mainNav > li:hover {
  background-color: #cb4112 ;
  cursor: pointer;
  color: #ffffff;
}
nav ul.mainNav > li:hover > a {
  color: #ffffff;
}
nav ul.mainNav > li > ul {
  width: 14.375rem;
  /*border:$submenuBlockBorder;*/
  background-color: #fde9d0;
  position: absolute;
  z-index: 9999;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: none;
  -moz-box-shadow: rgba(0, 0, 0, 0.15) 3px 3px 10px 0px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 3px 3px 10px 0px;
  box-shadow: rgba(0, 0, 0, 0.15) 3px 3px 10px 0px;
}
nav ul.mainNav > li > ul > li {
  height: auto;
  line-height: initial;
  font-family: "Microsoft JhengHei", Verdana, Arial;
  border-bottom: 1px solid #8a8ab6;
  z-index: 9999;
  float: none;
  position: relative;
}
nav ul.mainNav > li > ul > li:last-child {
  border-bottom: 0;
}
nav ul.mainNav > li > ul > li:hover {
  background-color: #fffadc;
  cursor: pointer;
  color: #775901;
}
nav ul.mainNav > li > ul > li:hover > a {
  color: #775901;
  text-decoration: none;
}
nav ul.mainNav > li > ul > li:hover > a:before {
  content: "\e037";
  margin-left: -24px;
}
nav ul.mainNav > li > ul > li > a {
  width: 14.375rem;
  font-size: 1.6rem;
  font-family: "Microsoft JhengHei", Verdana, Arial;
  color: #000;
  display: block;
  padding: 0.5rem 1rem 0.5rem 2rem;
  position: relative;
}
nav ul.mainNav > li > ul > li > ul {
  display: none;
  position: absolute;
  width: 14.375rem;
  /*border:$subthreemenuBlockBorder;*/
  background-color: #fffadc;
  -moz-box-shadow: rgba(0, 0, 0, 0.15) 3px 3px 10px 0px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 3px 3px 10px 0px;
  box-shadow: rgba(0, 0, 0, 0.15) 3px 3px 10px 0px;
}
nav ul.mainNav > li > ul > li > ul li {
  height: auto;
  line-height: initial;
  font-family: "Microsoft JhengHei", Verdana, Arial;
  border-bottom: 1px solid #8a8ab6;
}
nav ul.mainNav > li > ul > li > ul li:hover {
  background-color: #ffffff;
  cursor: pointer;
  color: #2e2e94;
}
nav ul.mainNav > li > ul > li > ul li:hover > a {
  color: #2e2e94;
  text-decoration: none;
}
nav ul.mainNav > li > ul > li > ul li:hover > a:before {
  content: "\e037";
  margin-left: -24px;
}
nav ul.mainNav > li > ul > li > ul li:last-child {
  border-bottom: 0;
}
nav ul.mainNav > li > ul > li > ul li a {
  width: 14.375rem;
  font-size: 1.25rem;
  font-family: "Microsoft JhengHei", Verdana, Arial;
  color: #2e2e94;
  display: block;
  padding: 0.5rem 1rem 0.5rem 2rem;
  position: relative;
}

/*@include at-breakpoint(20em 8 48em) {
	nav > ul#navID{
		width:100%;
		> li{
			padding-left:5%;
			padding-right:5%;
			border-right:0px;
		}
	} 
}
*/
@media (min-width: 1200px) {
  nav > ul.mainNav {
    *zoom: 1;
    width: 1200px;
    width: 75rem;
    padding-left: 10px;
    padding-left: 0.625rem;
    padding-right: 10px;
    padding-right: 0.625rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
  }
  nav > ul.mainNav:after {
    content: "";
    display: table;
    clear: both;
  }
  nav > ul.mainNav > li {
    /*width: 12.4%;*/
  }
  nav > ul.mainNav > li > a {
    width: auto;
    padding: 0px 0px;
  }
}
@media (min-width: 1440px) {
  nav > ul.mainNav {
    *zoom: 1;
    width: 1440px;
    width: 90rem;
    padding-left: 15px;
    padding-left: 0.9375rem;
    padding-right: 15px;
    padding-right: 0.9375rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 1440px;
  }
  nav > ul.mainNav:after {
    content: "";
    display: table;
    clear: both;
  }
  nav > ul.mainNav > li {
    /*width: 12.4%;*/
  }
  nav > ul.mainNav > li > a {
    width: auto;
    padding: 0px 10px;
  }
}
::-ms-backdrop, nav ul.mainNav > li ul > li > a {
  line-height: 1.5;
  padding: 0.25rem 0.5rem 0.25rem 2rem;
}

.ie nav ul.mainNav > li ul > li > a {
  line-height: 1.5;
  padding: 0.25rem 0.5rem 0.25rem 2rem;
}
