@charset "UTF-8";
/*新細明體, 微軟正黑體,*/
/*for h1 */
/*for h1 */
/*30 1.875, content tag padding top*/
/*content*/
/*==default begine==*/
/* or disabled*/
.ui-tabs {
  position: relative;
  margin-top: 2rem;
}

.ui-tabs .ui-tabs-nav {
  margin: 0;
  padding: .2em .2em 0;
  display: inline-block;
  width: 100%;
}

.ui-tabs .ui-tabs-nav li {
  list-style: none;
  float: left;
  position: relative;
  top: 0;
  margin: 0rem 0.3125rem 1rem 0.3125rem;
  border-bottom-width: 0;
  padding: 0;
  white-space: nowrap;
  min-width: 10%;
  text-align: center;
  text-indent: 0;
  font-size: 0.9375rem;
}
.ui-tabs .ui-tabs-nav li:first-child {
  margin-left: 0;
}
.ui-tabs .ui-tabs-nav li:last-child {
  margin-right: 0;
}
.ui-tabs .ui-tabs-nav li:before {
  padding: 0;
  text-indent: 0;
  content: "";
}

.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
  float: left;
  padding: .5em 1em;
  text-decoration: none;
  color: #4242bd;
  background-color: white;
  border: 1px solid #4242bd;
  width: 100%;
  height: 2.5rem;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
}
.ui-tabs .ui-tabs-nav .ui-tabs-anchor:visited {
  color: #4242bd;
}
.ui-tabs .ui-tabs-nav .ui-tabs-anchor:hover, .ui-tabs .ui-tabs-nav .ui-tabs-anchor:active {
  color: white;
  background-color: #4242bd;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active a {
  /*margin-bottom:-1px;
  padding-bottom:1px;	*/
  color: white;
  background-color: #4242bd;
  border: #4242bd;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor,
.ui-tabs .ui-tabs-nav li.ui-state-disabled .ui-tabs-anchor,
.ui-tabs .ui-tabs-nav li.ui-tabs-loading .ui-tabs-anchor {
  cursor: text;
  color: white;
}

.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor {
  cursor: pointer;
}

.ui-tabs .ui-tabs-panel {
  display: block;
  border-width: 0;
  padding: 0rem;
  background: none;
}
.ui-tabs .ui-tabs-panel h3:first-child, .ui-tabs .ui-tabs-panel h4:first-child, .ui-tabs .ui-tabs-panel table:first-child, .ui-tabs .ui-tabs-panel ul:first-child, .ui-tabs .ui-tabs-panel ol:first-child, .ui-tabs .ui-tabs-panel p:first-child, .ui-tabs .ui-tabs-panel .inline_form:first-child, .ui-tabs .ui-tabs-panel .one_col_form:first-child, .ui-tabs .ui-tabs-panel .two_col_hor_form:first-child, .ui-tabs .ui-tabs-panel .two_col_form:first-child, .ui-tabs .ui-tabs-panel .three_col_form:first-child, .ui-tabs .ui-tabs-panel .thour_col_form:first-child {
  margin-top: 0;
}
