.row a {
    margin-left: 1.125rem;
    margin-right: 1.125rem;
}

a:visited {
    text-decoration: none;
    color: #3e3e75;
}

a {
    color: #0050b3;
    text-decoration: none;
    /*font-family: Verdana;*/
}

input:checked + label:before, nav li a:before, .delete_btn, .edit_btn, .preview_btn {
    font-family: 'icomoon' !important;
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    cursor: pointer;
}

@font-face {
    font-family: 'icomoon';
    src: url("../font/icomoon.eot?v3icrv");
    src: url("../font/icomoon.eot?v3icrv#iefix") format("embedded-opentype"), url("../font/icomoon.ttf?v3icrv") format("truetype"), url("../font/icomoon.woff?v3icrv") format("woff"), url("../font/icomoon.svg?v3icrv#icomoon") format("svg");
    font-weight: normal;
    font-style: normal;
}