{% extends 'app_web_n/base.html' %}
{% load static %}
{% load i18n %}
{#{% load qr_tags %}#}
{% block content %}
    <div class="container">
        <div style="height: 100px;"></div>
        <form method="post" action="{% url 'user_approach_status' request.app_user.pub_id request.app_user.api_token %}">
            {% csrf_token %}
            <input type="hidden" value="{{ location }}" name="location">
{#            <input type="hidden" id="health_status" name="health_status">#}
            <input type="hidden" name="scanned_user_id" value="{{ scanned_app_user.pub_id }}">
            <div class="row bottom40">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group float-label active" >
                        <input type="text" class="form-control text-template" id="id_username" style="font-size: 18px;" value="{{ scanned_app_user.auth_user.first_name }}" readonly>
                        <label class="form-control-label " style="font-size: 18px;">{% trans 'Scanned person' %}</label>
                    </div>
                </div>
            </div>
            <div style="height: 20px;"></div>
            <div class="row bottom40">
                <div class="col-md-12 col-sm-12 col-xs-12">
{#                    <button type="submit" class="btn btn-lg btn-default text-white btn-block btn-rounded shadow" style="border-radius:11px; height:60px; background-color: #cf4730;color: white; font-size: 20px;"><span>送出</span></button>#}
                    <button type="submit" class="btn btn-lg btn-default text-white btn-block btn-rounded shadow" id="btn_send"><span>{% trans 'Submit' %}</span></button>
                </div>
            </div>
            <div style="height: 20px;"></div>
            <div class="row bottom40">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <a href="{% url 'app_index' request.app_user.pub_id request.app_user.api_token %}"  class="btn btn-lg btn-default text-white btn-block btn-rounded shadow" style="background-color: #848181;"><span>{% trans 'Back' %}</span></a>
                </div>
            </div>
        </form>
    </div>


{% endblock %}
{% block js %}
    <script>
        $(document).ready(function() {
            document.getElementsByTagName("title")[0].innerText = '{% trans "Update Approach Record" %}' + ' · ' + '{% trans "My PassCode" %}';
            document.getElementById('sidebar').style.display = "none";
            document.getElementById('hamburger').style.display = "none";
            document.getElementById('backpage').style.display = "";

            var theme_color_layout = $.cookie("theme-color-layout");
            var theme_color = $.cookie("theme-color");
            if (theme_color == 'black-theme' && theme_color_layout == 'theme-dark'){
                document.getElementById('btn_send').style.backgroundColor = '#2c2c2c';
                document.getElementById('id_username').style.color = 'white';
                {#s=document.getElementsByTagName('input');#}
                {#for(var i=0;i<s.length;i++)#}
                {#{s[i].setAttribute("style","color:white");}#}
            }
        });
    </script>
{% endblock %}