{% load static %}
{% load i18n %}
<!doctype html>
<html lang="en" class="deeppurple-theme">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="Maxartkiller">

    <title></title>

    <!-- Material design icons CSS -->
    <link rel="stylesheet" href="{% static 'app_web/vendor/materializeicon/material-icons.css' %}">

    <!-- Roboto fonts CSS -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link href="{% static 'app_web/vendor/bootstrap-4.4.1/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Swiper CSS -->
    <link href="{% static 'app_web/vendor/swiper/css/swiper.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'app_web/css/style.css' %}" rel="stylesheet">
    <style>
        .row {
            margin-right: 1px;
        }

        .crop img {
            width: 80px;
            height: 100px;
            margin: -25px 0 0 -10px;
        }

        {# 深色模式 logo #}
        .theme-dark .header-logo {
            /*content: url('../img/logo-header-white.png');*/
            {#content: url({% static 'app_web/img/logo-04a.png' %});#}
            {% if request.session.iii_login %}
                content: url({% static 'app_web/img/main_logo_white.png' %});
            {% else %}
                content: url({% static 'app_web/img/logo-04a.png' %});
            {% endif %}
        }

        .theme-dark .logo-small {
            /*content: url('../img/logo-login-white.png');*/
            {% if request.session.iii_login %}
                content: url({% static 'app_web/img/main_logo_white.png' %});
            {% else %}
                content: url({% static 'app_web/img/logo-04a.png' %});
            {% endif %}
        }
        .logo-small {
            /*content: url('../img/logo-login-white.png');*/
            {% if not request.session.iii_login %}
                width: 250px;
            {% endif %}
        }
        .ix_bar{}
    </style>
    {% block stylesheet %}{% endblock %}
    <style>
        /* iPhone X and Xs Max */
        @media only screen
            and (min-device-width: 375px)
            and (min-device-height: 812px)
            and (-webkit-device-pixel-ratio: 3)
            and (orientation: portrait) {
                /* styles */

                .header {
                    height: env(safe-area-inset-top);
                    padding: env(safe-area-inset-top);
                }

                .contentinfo{
                    /*padding: 44px 3% 0 3%;*/
                    padding: env(safe-area-inset-top) 3% 0 3%;
                }
                .ix_bar{
                    height: 30px;
                }
                .header .btn {
                    text-align: left;
                    width: 30px;
                }
            }

        /* iPhone XR */
        @media only screen
            and (min-device-width: 414px)
            and (min-device-height: 896px)
            and (-webkit-device-pixel-ratio: 2)
            and (orientation: portrait) {
                /* styles */

                .header {
                    height: env(safe-area-inset-top);
                    padding: env(safe-area-inset-top);
                }

                .contentinfo{
                    padding: env(safe-area-inset-top) 3% 0 3%;
                }
                .ix_bar{
                    height: 30px;
                }
                .header .btn {
                    text-align: left;
                    width: 30px;
                }
            }
    </style>
</head>

<body>
    <!-- Loader -->
    <div class="row no-gutters vh-100 bg-template loader-screen " id="loader_page">
        <div class="col align-self-center text-center">
{#            <img src="{% static 'app_web/img/main_logo_white.png' %}" alt="logo" class="logo-small">#}
{#            <img src="{% static 'app_web/img/logo-04a.png' %}" alt="logo" class="logo-small">#}
            {% if request.session.iii_login %}
                <img src="{% static 'app_web/img/main_logo_white.png' %}" alt="logo" class="logo-small">
            {% else %}
                <img src="{% static 'app_web/img/logo-04a.png' %}" alt="logo" class="logo-small">
            {% endif %}
{#            <h1 class="mt-3"><span class="font-weight-light ">我的</span>通行碼</h1>#}
            <h1 class="mt-3">{% trans 'MY PASSCODE' %}</h1>

            <div class="laoderhorizontal">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
    <!-- Loader ends -->

    <!-- Sidebar -->
    <div class="sidebar" id="sidebar">
{#        <div style="{% if request.session.iii_login %}height: 10px;{% else %}height: 10px;{% endif %}"></div>#}
        <div class="ix_bar"></div>
        <div class="mt-4 mb-3">
            <div class="row">
                <div class="col-auto" id="side_bar_user_img_div">
                    <figure class="avatar avatar-60 border-0">
                        <img src="{% static 'app_web/img/avatar_def.png' %}" height="auto" width="auto"  id="side_bar_user_img">
                    </figure>
                </div>
                <div class="col pl-0 align-self-center">
                    {% if request.user.first_name %}
                        <h5 class="mb-1">{{ request.user.first_name }}</h5>
                        <p class="text-mute small">{{ request.company.name }}</p>
                    {% endif %}
                </div>
            </div>
        </div>

		<div class="row">
            <div class="col">
                <div class="list-group main-menu">
                    {% if request.app_user %}
                        <a href="{% url 'app_index' request.app_user.pub_id request.app_user.api_token %}" class="list-group-item list-group-item-action"><i class="material-icons icons-raised">home</i>{% trans 'Home Page' %}</a>
                        <a href="{% url 'shop_qrcode' request.app_user.pub_id request.app_user.api_token%}" class="list-group-item list-group-item-action"><i class="material-icons icons-raised">qr_code</i>{% trans 'Shop Code' %}</a>
                        <!--<a href="notification.html" class="list-group-item list-group-item-action"><i class="material-icons icons-raised">notifications</i>Notification <span class="badge badge-dark text-white">2</span></a>-->
                        <a href="{% url 'get_history' request.app_user.pub_id request.app_user.api_token %}" class="list-group-item list-group-item-action"><i class="material-icons icons-raised">find_in_page</i>{% trans 'History' %}</a>
                        <!--
                        <a href="controls.html" class="list-group-item list-group-item-action"><i class="material-icons icons-raised">view_quilt<span class="new-notification"></span></i>Pages Controls</a>-->
                        <!--<a href="setting.html" class="list-group-item list-group-item-action"><i class="material-icons icons-raised">important_devices</i>Settings</a>-->
                        <a href="javascript:void(0)" class="list-group-item list-group-item-action" data-toggle="modal" data-target="#colorscheme"><i class="material-icons icons-raised">color_lens</i>{% trans 'Theme change' %}</a>
                        <a href="javascript:void(0)" class="list-group-item list-group-item-action" data-toggle="modal" data-target="#languageChange"><i class="material-icons icons-raised">language</i>{% trans 'Language setting' %}</a>
{#                        <a href="{% url 'description' request.app_user.pub_id request.app_user.api_token %}" class="list-group-item list-group-item-action"><i class="material-icons icons-raised">description</i>{% trans 'Description' %}</a>#}
                        <a href="{% url 'app_logout' %}" class="list-group-item list-group-item-action" id="logout_a"><i class="material-icons icons-raised bg-danger">power_settings_new</i>{% trans 'Logout' %}</a>
                        <input type="hidden" value="{{ request.session.iii_login }}" id="iii_login">
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <!-- Sidebar ends -->

    <a href="javascript:void(0)" class="closesidemenu"><i class="material-icons icons-raised bg-dark ">close</i></a>

    <div class="wrapper" id="wrapper_base">
        <!-- header -->
{#        <div style="height: 1px;" id="header_tab"></div>#}
{#        <div class="header">#}
{#            <div class="row  no-gutters" id="header_bar">#}
{#                <div class="col-auto" id="hamburger">#}
{#                    {% if request.app_user %}#}
{#                        <button class="btn  btn-link text-dark menu-btn"><i class="material-icons">menu</i>#}
    {#                        <span class="new-notification"></span>#}
{#                        </button>#}
{#                    {% else %}#}
{#                        <a href="{% url 'app_login' %}" class="btn  btn-link text-dark" id="back_login_a"><i class="material-icons">chevron_left</i></a>#}
{#                        <a onclick="history.go(-1);" class="btn  btn-link text-dark" id="back_history_a"><i class="material-icons">chevron_left</i></a>#}
{#                    {% endif %}#}
{#                </div>#}
{#                <div class="col-auto" id="backpage">#}
{#                    <a href="javascript:void(0)" onClick="javascript:history.go(-1)" class="btn  btn-link text-dark"><i class="material-icons">navigate_before</i></a>#}
{#                    {% if request.app_user %}#}
{#                <a href="javascript:void(0)" onClick="history.go(-1);location.reload();" class="btn  btn-link text-dark"><i class="material-icons">navigate_before</i></a>#}
{#                    <a href="{% url 'app_index' request.app_user.pub_id request.app_user.api_token %}" class="btn btn-link text-dark"><i class="material-icons">navigate_before</i></a>#}
{#                {% endif %}#}
{#                    {% if request.app_user %}#}
                        {#                <a href="javascript:void(0)" onClick="history.go(-1);location.reload();" class="btn  btn-link text-dark"><i class="material-icons">navigate_before</i></a>#}
{#                        <a href="{% url 'app_index' request.app_user.pub_id request.app_user.api_token %}" class="btn btn-link text-dark"><i class="material-icons">navigate_before</i></a>#}
{#                    {% endif %}#}
{#                </div>#}
{#                <div class="col text-center">#}
{#                    <img src="{% static 'app_web/img/main_logo.png' %}" alt="" class="header-logo">#}
{#                    <div class="col text-center"><img src="{% static 'app_web/img/main_logo.png' %}" alt="" class="header-logo" style="margin-left: -15px;">#}
{#                    {% if request.app_user %}#}
{#                        {% if request.session.iii_login %}#}
{#                            <img src="{% static 'app_web/img/main_logo.png' %}" alt="" class="header-logo" style="margin-left: -15px;">#}
{#                        {% else %}#}
{#                            <img src="{% static 'app_web/img/logo-04b.png' %}" alt="" class="header-logo" style="margin-left: -60px; width: 190px;max-height: 61px;">#}
{#                        {% endif %}#}
{#                    {% endif %}#}
{#                </div>#}
{#                <!--<div class="col-auto">#}
{#                    <a href="notification.html" class="btn  btn-link text-dark position-relative"><i class="material-icons">notifications_none</i><span class="counts">9+</span></a>#}
{#                </div>-->#}
{#            </div>#}
{#        </div>#}
        <!-- header ends -->
{#        <div style="{% if request.session.iii_login %}height: 10px;{% else %}height: 30px;{% endif %}" id="header_tab"></div>#}
        <div class="ix_bar" id="header_tab"></div>
        <div class="row" id="header_bar" style="padding-top: 5px;">
            <div class="col-auto" id="hamburger">
                <button class="btn btn-link text-dark menu-btn btn-lg"><i class="material-icons">menu</i>
{#                    <span class="new-notification"></span>#}
                </button>
            </div>
            <div class="col-auto" id="backpage">
                {% if request.app_user %}
{#                <a href="javascript:void(0)" onClick="history.go(-1);location.reload();" class="btn  btn-link text-dark"><i class="material-icons">navigate_before</i></a>#}
                    <a href="{% url 'app_index' request.app_user.pub_id request.app_user.api_token %}" class="btn btn-link text-dark"><i class="material-icons">navigate_before</i></a>
                {% endif %}
            </div>
            <div class="col text-center">
                {% if request.session.iii_login %}
                    <img src="{% static 'app_web/img/main_logo.png' %}" alt="" class="header-logo" style="margin-left: -15px;">
                {% else %}
                    <img src="{% static 'app_web/img/logo-04b.png' %}" alt="" class="header-logo" style="margin-left: -80px; width: 190px;max-height: 61px;">
                {% endif %}
            </div>

            <!--<div class="col-auto">
                <a href="notification.html" class="btn  btn-link text-dark position-relative"><i class="material-icons">notifications_none</i><span class="counts">9+</span></a>
            </div>-->
        </div>

        {% block content %}
        {% endblock %}
    </div>

    <!-- color chooser menu start -->
    <div class="modal fade " id="colorscheme" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content ">
                <div class="modal-header theme-header border-0">
                    <h6 class="">{% trans 'Theme change' %}</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" >&times;</span>
                    </button>
                </div>
                <div class="modal-body pt-0">
                    <div class="text-center theme-color">
                        <button class="m-1 btn red-theme-bg text-white btn-rounded-54 shadow-sm" data-theme="red-theme"><i class="material-icons w-50">lens</i></button>
                        <button class="m-1 btn blue-theme-bg text-white btn-rounded-54 shadow-sm" data-theme="blue-theme"><i class="material-icons w-50">lens</i></button>
                        <button class="m-1 btn yellow-theme-bg text-white btn-rounded-54 shadow-sm" data-theme="yellow-theme"><i class="material-icons w-50">lens</i></button>
                        <button class="m-1 btn green-theme-bg text-white btn-rounded-54 shadow-sm" data-theme="green-theme"><i class="material-icons w-50">lens</i></button>
                        <button class="m-1 btn pink-theme-bg text-white btn-rounded-54 shadow-sm" data-theme="pink-theme"><i class="material-icons w-50">lens</i></button>
                        <button class="m-1 btn orange-theme-bg text-white btn-rounded-54 shadow-sm" data-theme="orange-theme"><i class="material-icons w-50">lens</i></button>
                        <button class="m-1 btn purple-theme-bg text-white btn-rounded-54 shadow-sm" data-theme="purple-theme"><i class="material-icons w-50">lens</i></button>
                        <button class="m-1 btn deeppurple-theme-bg text-white btn-rounded-54 shadow-sm" data-theme="deeppurple-theme"><i class="material-icons w-50">lens</i></button>
                        <button class="m-1 btn lightblue-theme-bg text-white btn-rounded-54 shadow-sm" data-theme="lightblue-theme"><i class="material-icons w-50">lens</i></button>
                        <button class="m-1 btn teal-theme-bg text-white btn-rounded-54 shadow-sm" data-theme="teal-theme"><i class="material-icons w-50">lens</i></button>
                        <button class="m-1 btn lime-theme-bg text-white btn-rounded-54 shadow-sm" data-theme="lime-theme"><i class="material-icons w-50">lens</i></button>
                        <button class="m-1 btn deeporange-theme-bg text-white btn-rounded-54 shadow-sm" data-theme="deeporange-theme"><i class="material-icons w-50">lens</i></button>
                        <button class="m-1 btn gray-theme-bg text-white btn-rounded-54 shadow-sm" data-theme="gray-theme"><i class="material-icons w-50">lens</i></button>
                        <button class="m-1 btn black-theme-bg text-white btn-rounded-54 shadow-sm" data-theme="black-theme"><i class="material-icons w-50">lens</i></button>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col-6 text-left">
                        <div class="row">
                            <div class="col-auto text-right align-self-center"><i class="material-icons text-warning vm">wb_sunny</i></div>
                            <div class="col-auto text-center align-self-center px-0">
                                <div class="custom-control custom-switch float-right">
                                    <input type="checkbox" name="themelayout" class="custom-control-input" id="theme-dark">
                                    <label class="custom-control-label" for="theme-dark"></label>
                                </div>
                            </div>
                            <div class="col-auto text-left align-self-center"><i class="material-icons text-dark vm">brightness_2</i></div>
                        </div>
                    </div>
{#                    <div class="col-6 text-right">#}
{#                        <div class="row">#}
{#                            <div class="col-auto text-right align-self-center">LTR</div>#}
{#                            <div class="col-auto text-center align-self-center px-0">#}
{#                                <div class="custom-control custom-switch float-right">#}
{#                                    <input type="checkbox" name="rtllayout" class="custom-control-input" id="theme-rtl">#}
{#                                    <label class="custom-control-label" for="theme-rtl"></label>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="col-auto text-left align-self-center">RTL</div>#}
{#                        </div>#}
{#                    </div>#}
                </div>
            </div>
        </div>
    </div>
    <!-- color chooser menu ends -->

    <!-- language change -->
    <div class="modal fade " id="languageChange" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content ">
                <div class="modal-header theme-header border-0">
                    <h6 class="">{% trans 'Language setting' %}</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" >&times;</span>
                    </button>
                </div>
                <div class="modal-body pt-0">
                    <div class="theme-color " style="padding-left: 30px;">
                        <div>
                            <input type="radio" name="language_change" {% if request.session.language and request.session.language == 'zh_Hant' %}checked{% endif %} onclick="$('#language_code').val('zh_Hant')">&nbsp;繁體中文
                        </div>
                        <div style="height: 10px;"></div>
                        <div>
                            <input type="radio" name="language_change" {% if request.session.language and request.session.language == 'en-us' %}checked{% endif %} onclick="$('#language_code').val('en-us')">&nbsp;English
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="theme-color">
                        <div class="row">
                            <input type="hidden" id="language_code">
                            <button type="button" class="btn btn-secondary" onclick="change_language()">{% trans 'Submit' %}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- language change ends -->

    <!-- Modal -->
{#	<div class="modal fade" id="message_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">#}
{#	  <div class="modal-dialog" style="margin-top: 20%;" role="document">#}
{#		<div class="modal-content">#}
{#		  <div class="modal-header">#}
{#			<h6 class="modal-title" id="exampleModalLabel">系統訊息</h6>#}
{#			<button type="button" id="btnClose" class="close" data-dismiss="modal" aria-label="Close">#}
{#			  <span aria-hidden="true">&times;</span>#}
{#			</button>#}
{#		  </div>#}
{#		  <div class="modal-body">#}
{#			<p id="msg"></p>#}
{#		  </div>#}
{#		  <div class="modal-footer">#}
{#			<button type="button" id="btnConfirm" class="btn btn-secondary" data-dismiss="modal">確定</button>#}
{#		  </div>#}
{#		</div>#}
{#	  </div>#}
{#	</div>#}
    <div class="modal fade" id="message_modal" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h6 class="modal-title text-template" id="exampleModalLabel">{% trans 'Message' %}</h6>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p id="msg" class="text-template"></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans 'Close' %}</button>
                    </div>
                </div>
            </div>
        </div>
    <!-- Modal End -->

    <!-- jquery, popper and bootstrap js -->
    <script src="{% static 'app_web/js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'app_web/js/popper.min.js' %}"></script>
    <script src="{% static 'app_web/vendor/bootstrap-4.4.1/js/bootstrap.min.js' %}"></script>

    <!-- swiper js -->
    <script src="{% static 'app_web/vendor/swiper/js/swiper.min.js' %}"></script>

    <!-- cookie js -->
    <script src="{% static 'app_web/vendor/cookie/jquery.cookie.js' %}"></script>

    <!-- template custom js -->
    <script src="{% static 'app_web/js/main.js' %}"></script>

    <script>
        function getLocation(){
            var latitude;
            var longitude;
            if (navigator.geolocation) {
                var geo=navigator.geolocation;
                var option={
                    enableAcuracy:false,
                    maximumAge:0,
                    timeout:600000
                };
                geo.getCurrentPosition(successCallback,
                    errorCallback,
                    option
                );
            }
            else {
                {#alert("此瀏覽器不支援地理定位功能!");#}
                {#if ('{{ request.app_user }}'){#}
                {#    location.href = "{% url 'app_logout' %}"}#}
                $("#msg").text("{% trans 'This browser does not support geolocation!' %}");
                $("#message_modal").modal();
            }
            function successCallback(position) {
                latitude = position.coords.latitude;
                longitude = position.coords.longitude;
                {#document.getElementById('latitude').value = latitude;#}
                {#document.getElementById('longitude').value = longitude;#}
                $('#latitude').val(latitude);
                $('#longitude').val(longitude);
            }
            function errorCallback(error) {
                var errorTypes={
                    0:"不明原因錯誤",
                    1:"使用者拒絕提供位置資訊",
                    2:"無法取得位置資訊",
                    3:"位置查詢逾時"
                };
                {#alert(errorTypes[error.code]);#}
                //alert(error.message);  //測試時用
                {#if ('{{ request.app_user }}'){#}
                {#    location.href = "{% url 'app_logout' %}"}#}
                {#$("#msg").text("取得地址錯誤：" + errorTypes[error.code]);#}
                {#$("#message_modal").modal();#}
            }
        }

        function getLocationFunc(){
            try {
                if (webkit != undefined) {
                    webkit.messageHandlers.getLocationApp.postMessage({});
                }
            } catch (err) {

            }
            try {
                if (window.getLocationApp != undefined) {
                    window.getLocationApp.postMessage();
                }
            } catch (err) {

            }
        }

        {#function setLocationData(latitude, longitude){#}
        {#    $('#latitude').val(latitude);#}
        {#    $('#longitude').val(longitude);#}
        {# }#}
        function default_img() {
            if (document.getElementById('side_bar_user_img') != undefined){
                document.getElementById('side_bar_user_img').src = '{% static 'app_web/img/avatar_def.png' %}';
                document.getElementById('side_bar_user_img_div').setAttribute('class', 'col-auto');
            }
            if (document.getElementById('user_img') != undefined){
                document.getElementById('user_img').src = '{% static 'app_web/img/avatar_def.png' %}';
                document.getElementById('user_img_div').setAttribute('class', 'col-auto');
            }
            if (document.getElementById('profile_user_img') != undefined){
                document.getElementById('profile_user_img').src = '{% static 'app_web/img/avatar_def.png' %}';
                document.getElementById('profile_user_img_div').setAttribute('class', 'figure-profile shadow my-4');

            }
        }

        function set_img(img_str) {
            if (img_str == null || img_str == undefined || img_str == ''){
                default_img();
                sessionStorage.removeItem("user_image_storage");
            }else{
                if (document.getElementById('side_bar_user_img') != undefined){
                    document.getElementById('side_bar_user_img').src = img_str;
                    document.getElementById('side_bar_user_img_div').setAttribute('class', 'col-auto crop');
                }
                if (document.getElementById('user_img') != undefined){
                    {#setUserImgMargin(document.getElementById('user_img'));#}

                    document.getElementById('user_img').src = img_str;
                    document.getElementById('user_img_div').setAttribute('class', 'col-auto crop');
                }
                if (document.getElementById('profile_user_img') != undefined){

                    document.getElementById('profile_user_img').src = img_str;
                    document.getElementById('profile_user_img_div').setAttribute('class', 'figure-profile shadow my-4');
                    document.getElementById('profile_user_img').onload = function () {
                        var img_height = document.getElementById('profile_user_img').height;
                        var img_width = document.getElementById('profile_user_img').width;
                        var h_scale = 0;
                        var w_scale = 0;

                        if (img_height != img_width){
                            var h_digt = img_height - 158;
                            if (h_digt > 0){
                                h_scale = (h_digt / 2) * -1;
                            }
                            var w_digt = img_width - 158;
                            if (w_digt > 0){
                                w_scale = (w_digt / 2) * -1;
                            }
                        }
                        document.getElementById('profile_user_img').style.margin = "" + h_scale + "px " + w_scale + "px " +  h_scale + "px " + w_scale + "px ";
                    };
                }
            }
        }

        function get_user_image(source_from){
            var login_account = '{{ request.user.username }}';
            var user_image_storage = sessionStorage.getItem("user_image_storage");
            {#var user_image_source = sessionStorage.getItem("user_image_source");#}
            if (user_image_storage == null || user_image_storage == undefined || user_image_storage == ''){
                default_img();
                sessionStorage.removeItem("user_image_storage");
            }else{

                if (sessionStorage.getItem("user_account") == login_account){
                    set_img(user_image_storage);
                }else{
                    default_img();
                    sessionStorage.removeItem("user_image_storage");
                }
            }
            var server_url;
            if (window.location.port == '8003'){
                server_url = 'http://' + window.location.hostname +':' + window.location.port;
            }else{
                server_url = window.location.protocol + '//' + window.location.host + window.location.port;
            }
            server_url = server_url + '/get_user_img/' + source_from + '/';
            $.ajax({
                type: 'get',
                url: server_url,
                data: {"uts": new Date().getTime()},
                headers: {
                    'Content-Type': 'application/json',
                    {#'Accept': 'application/vnd.ani.v1.wallet+json',#}
                    'X-MAI-TOKEN': 'WebUser ' + '{{ request.app_user.api_token }}',
                    {#'X-Client-Version': '1.0',#}
                    'X-Client-Id': '{{ request.app_user.pub_id }}',
                },
                success: function(response) {
                    $.each(response, function(index, value) {
                        {#if (value != user_image_storage){#}
                        {#    sessionStorage.setItem("user_image_storage", value);#}
                        {#    sessionStorage.setItem("user_account", login_account);#}
                        {#    if (value == null){#}
                        {#        sessionStorage.removeItem("user_image_storage");#}
                        {#        default_img();#}
                        {#    }else{#}
                        {#        set_img(value);#}
                        {#    }#}
                        {# }#}
                        var obj = JSON.parse(value);


                        if (obj.img_data != user_image_storage){

                            sessionStorage.removeItem("user_image_storage");
                            sessionStorage.setItem("user_image_storage", obj.img_data);
                            sessionStorage.setItem("user_account", login_account);
                            sessionStorage.setItem('user_image_width', obj.img_width);
                            sessionStorage.setItem('user_image_height', obj.img_height);

                            if (obj.img_data == null){
                                sessionStorage.removeItem("user_image_storage");
                                default_img();
                            }else{
                                set_img(obj.img_data);
                            }
                        }
                    });
                },
                error: function(xhr, status, error) {
                    default_img();
                    sessionStorage.removeItem("user_image_storage");
                }
            });
        }

        function change_language(){
            var url = location.href;
            if (url.indexOf("?") == -1 ){
                location.href = location.href + '?language=' + $('#language_code').val();
            }else{
                location.href = location.href + '&language=' + $('#language_code').val();
            }
        }

        $(document).ready(function() {

            var request_device = '{{ request.session.DEVICE}}';
            if (request_device == "ANDROID"){
                getLocationFunc();
             }
            $('#language_code').val('{{ request.session.language }}');

            document.getElementById('wrapper_base').setAttribute('class', 'wrapper');
            if ('{{ message }}'){
                $("#msg").text('{{ message }}');
                $("#message_modal").modal();
            }
            var theme_color_layout = $.cookie("theme-color-layout");
            var theme_color = $.cookie("theme-color");
            if (theme_color == 'black-theme' && theme_color_layout == 'theme-dark'){
                document.getElementById('msg').style.color = 'white';
                document.getElementById('exampleModalLabel').style.color = 'white';
            }
            if (theme_color_layout == 'theme-dark') {
                document.getElementById('msg').style.color = 'white';
                document.getElementById('exampleModalLabel').style.color = 'white';
            }
            var lat = document.getElementById('latitude');
            var lon = document.getElementById('longitude');
            if (lat != undefined && lon != undefined){
                document.getElementById('latitude').placeholder = '定位中...';
                document.getElementById('longitude').placeholder = '定位中...';
            }

            {#document.getElementById('profile_user_img').style.margin = '0px';#}
            {% if request.app_user %}
            if ($('#iii_login').val() != '' ){
                document.getElementById('logout_a').style.display = "none";
                get_user_image('iii');
            }else{
                document.getElementById('logout_a').style.display = "";
                get_user_image('default');
            }
            {% endif %}
            {#if (request_device == "ANDROID"){#}
            {#    var timer = null, interval = 1000, value = 0;#}
            {##}
            {#    timer = setInterval(function () {#}
            {#        if ($("#latitude").val() == '' && $("#longitude").val() == '' ) {#}
            {#            value += 1;#}
            {#            if (value > 10){#}
            {#                clearInterval(timer);#}
            {#                getLocation();#}
            {#                value = 0;#}
            {#                timer = setInterval(function () {#}
            {#                    if ($("#latitude").val() == '' && $("#longitude").val() == '' ) {#}
            {#                        value += 1;#}
            {#                        if (value > 10){#}
            {#                            clearInterval(timer);#}
            {#                            $("#msg").text('取得地址錯誤：取得位置失敗');#}
            {#                            $("#message_modal").modal();#}
            {#                        }#}
            {#                    }else{#}
            {#                        clearInterval(timer);#}
            {#                    }}, interval);#}
            {#            }}else{#}
            {#            clearInterval(timer);}#}
            {#    }, interval);#}
            {# }#}


        });
    </script>
{% block js %}
{% endblock %}

</body>

</html>
