{% extends 'app_web_n/base.html' %}
{% load static %}
{% load i18n %}
{% block stylesheet %}
    <style>
    </style>
{% endblock %}
{% block content %}

{#<div class="row no-gutters vh-100 bg-template loader-screen " id="loader_page">#}
{#    <div class="col align-self-center text-center">#}
        {#            <img src="{% static 'app_web/img/main_logo_white.png' %}" alt="logo" class="logo-small">#}
        {#            <img src="{% static 'app_web/img/logo-04a.png' %}" alt="logo" class="logo-small">#}
{#        {% if request.session.iii_login %}#}
{#            <img src="{% static 'app_web/img/main_logo_white.png' %}" alt="logo" class="logo-small">#}
{#        {% else %}#}
{#            <img src="{% static 'app_web/img/logo-04a.png' %}" alt="logo" class="logo-small">#}
{#        {% endif %}#}
        {#            <h1 class="mt-3"><span class="font-weight-light ">我的</span>通行碼</h1>#}
{#        <h1 class="mt-3">{% trans 'MY PASSCODE' %}</h1>#}
{##}
{#        <div class="laoderhorizontal">#}
{#            <div></div>#}
{#            <div></div>#}
{#            <div></div>#}
{#            <div></div>#}
{#        </div>#}
{#    </div>#}
{#</div>#}
    <!-- Loader ends -->

    <div style="height: 50px;"></div>
    <div class="row" >
        <div class="col-md-1 col-sm-1 col-xs-1 "></div>
        <div class="col-md-10 col-sm-10 col-xs-10 ">
{#            <i class="material-icons" >language</i>#}
            <select style="margin-top:20px;width: 200px;margin-left: 20px;" id="descript_lang" onchange="change_lang()">
                <option value="zh_Hant" {% if request.session.language == 'zh_Hant' %}selected{% endif %}>{% trans 'Traditional Chinese' %}</option>
                <option value="en-us" {% if request.session.language == 'en-us' %}selected{% endif %}>{% trans 'English' %}</option>
            </select>
        </div>
        <div class="col-md-1 col-sm-1 col-xs-1 "></div>
    </div>
    <div style="height: 20px;"></div>
    <div class="row">
        <div class="col-md-1 col-sm-1 col-xs-1 "></div>
        <div class="col-md-10 col-sm-10 col-xs-10 " >
            <div >
                <a href="#des_group_1" onclick="open_description('des_group_1');" title="" style="color: darkblue; font-size: 22px;text-decoration:none;">・{% trans "Account related issues" %}</a>
                <input type="hidden" id="sel_func_type" value="{{ func_type }}">
                <div id="des_group_1" style="display: none;">
                    <div style="height: 5px;"></div>
                    <div class="row">
                        <div style="margin-left: 50px;">
                            <a href="#des_group_1_1_a" id="des_group_1_1_a" onclick="open_description('des_group_1_1');" title="" style="color: black; font-size: 20px;text-decoration:none;">- {% trans "Account Registration" %}</a>
                            <div id="des_group_1_1" style="display: none;">
                                <div style="height: 10px;"></div>
                                <div style="margin-left: 20px;">
                                    <p>{% trans '1.Select register from the login page' %}</p>
                                    <img src="{% static 'app_web/img/demo_app/register1.png' %}" alt="register_function" style="width: 90%;">
                                    <div style="height: 10px;"></div>
                                    <p>{% trans '2.After filling the required data, click "next step" to complete phone verification' %}</p>
                                    <img src="{% static 'app_web/img/demo_app/register2.png' %}" alt="register_information" style="width: 90%;">
                                    <div style="height: 10px;"></div>
                                    <p>{% trans '3.Enter the code that has been sent to your registered phone to complete verification' %}</p>
                                    <img src="{% static 'app_web/img/demo_app/register3.png' %}" alt="register_phone_verify" style="width: 90%;">
                                    <div style="height: 10px;"></div>
                                </div>
                                <div style="height: 20px;"></div>
                            </div>
                            <div style="height: 15px;"></div>
                            <a href="#des_group_1_2_a" id="des_group_1_2_a" onclick="open_description('des_group_1_2');" title="" style="color: black; font-size: 20px;text-decoration:none;">- {% trans "I forgot my password, how can I reset it ?" %}</a>
                            <div id="des_group_1_2" style="display: none;">
                                <div style="height: 10px;"></div>
                                <div style="margin-left: 20px;">
                                    <p>{% trans '1.Select "forget password" from the login page' %}</p>
                                    <img src="{% static 'app_web/img/demo_app/forget_pwd1.png' %}" alt="forget_pwd_btn" style="width: 90%;">
                                    <div style="height: 10px;"></div>
                                    <p>{% trans '2.Enter your account and click "send verify code"' %}</p>
                                    <img src="{% static 'app_web/img/demo_app/forget_pwd2.png' %}" alt="fgt_pwd_otp" style="width: 90%;">
                                    <div style="height: 10px;"></div>
                                    <p>{% trans '3.After confirming verify code, complete resetting password by enter and re-enter new password' %}</p>
                                </div>
                                <div style="height: 20px;"></div>
                            </div>
                            <div style="height: 15px;"></div>
                        </div>
                    </div>
                    </div>
                </div>
                <div style="height: 20px;"></div>
                <a href="#des_group_2" onclick="open_description('des_group_2');" title="" style="color: darkblue; font-size: 22px;text-decoration:none;">・{% trans "App Function" %}</a>
                <div id="des_group_2" style="display: none;">
                    <div style="height: 5px;"></div>
                    <div class="row">
                        <div style="margin-left: 50px;">
                            <img src="{% static 'app_web/img/demo_app/page_preview.png' %}" alt="page_preview_function" style="width: 90%;">
                            <div style="height: 10px;"></div>
                            <a href="#des_group_2_1_a" id="des_group_2_1_a" onclick="open_description('des_group_2_1');" title="" style="color: black; font-size: 20px;text-decoration:none;">- {% trans "Survey" %}</a>
                            <div id="des_group_2_1" style="display: none;">
                                <div style="height: 5px;"></div>
                                <div style="margin-left: 20px;">
                                    <p>{% trans '1.Select "survey" from the main page' %}</p>
                                    <img src="{% static 'app_web/img/demo_app/survey1.png' %}" alt="survey_btn" style="width: 90%;">
                                    <div style="height: 10px;"></div>
                                    <p>{% trans '2.After completing the survey click on "submit" to complete the survey' %}</p>
                                    <img src="{% static 'app_web/img/demo_app/survey2.png' %}" alt="survey_page" style="width: 90%;">
                                </div>
                                <div style="height: 20px;"></div>
                            </div>
                            <div style="height: 15px;"></div>
                            <a href="#des_group_2_2_a" id="des_group_2_2_a" onclick="open_description('des_group_2_2');" title="" style="color: black; font-size: 20px;text-decoration:none;">- {% trans "Check-In" %}</a>
                            <div id="des_group_2_2" style="display: none;">
                                <div style="height: 5px;"></div>
                                <div style="margin-left: 20px;">
                                    <p>{% trans '1.Select "check-in" from the main page' %}</p>
                                    <img src="{% static 'app_web/img/demo_app/checkin1.png' %}" alt="checkin_btn" style="width: 90%;">
                                    <div style="height: 10px;"></div>
                                    <p>{% trans '2.Click "submit" after complete filling in information(need to enable location service in order to show lognitude and latitude)' %}</p>
                                    <img src="{% static 'app_web/img/demo_app/checkin2.png' %}" alt="checkin_page" style="width: 90%;">
                                    <div style="height: 10px;"></div>
                                </div>
                                <div style="height: 20px;"></div>

                            </div>
                            <div style="height: 20px;"></div>
                            <a href="#des_group_2_3_a" id="des_group_2_3_a" onclick="open_description('des_group_2_3');" title="" style="color: black; font-size: 20px;text-decoration:none;">- {% trans "Setting" %}</a>
                            <div id="des_group_2_3" style="display: none;">
                                <div style="height: 5px;"></div>
                                <div style="margin-left: 20px;">
                                    <p>{% trans '1.Select "Setting" from the main page' %}</p>
                                    <img src="{% static 'app_web/img/demo_app/information_setting1.png' %}" alt="information_setting_entry" style="width: 90%;">
                                    <div style="height: 10px;"></div>
                                    <p>{% trans '2.Click "Update" after changing your information (notice: User Account is not changable)' %}</p>
                                    <img src="{% static 'app_web/img/demo_app/information_setting2.png' %}" alt="information_setting" style="width: 90%;">
                                    <div style="height: 10px;"></div>
                                </div>
                            </div>
                            <div style="height: 20px;"></div>
                            <a href="#des_group_2_4_a" id="des_group_2_4_a" onclick="open_description('des_group_2_4');" title="" style="color: black; font-size: 20px; text-decoration: none;">- {% trans "Health Code" %}</a>
                            <div id="des_group_2_4" style="display: none;">
                                <div style="height: 5px;"></div>
                                <div style="margin-left: 20px;">
                                    <p>{% trans "1.Heath Code is shown in the middle of your main page" %}</p>
                                    <img src="{% static 'app_web/img/demo_app/healthcode.png' %}" alt="healthcode_view" style="width: 90%;">
                                    <div style="height: 10px;"></div>
                                    <p>{% trans "2.There are four conditions for your health code" %}</p>
                                    <div style="height: 10px;"></div>
                                    <p>{% trans "Not Filled(color: black): need to complete your health survey" %}</p>
                                    <img src="{% static 'app_web/img/demo_app/healthcode_black.png' %}" alt="healthcode_black" style="width: 90%;">
                                    <div style="height: 10px;"></div>
                                    <p>{% trans "Waiting(color: orange): need to measure body temperature" %}</p>
                                    <img src="{% static 'app_web/img/demo_app/healthcode_orange.png' %}" alt="healthcode_orange" style="width: 90%;">
                                    <div style="height: 10px;"></div>
                                    <p>{% trans "Normal(color: green): pass healthcode scan" %}</p>
                                    <img src="{% static 'app_web/img/demo_app/healthcode_green.png' %}" alt="healthcode_green" style="width: 90%;">
                                    <div style="height: 10px;"></div>
                                    <p>{% trans "Danger(color: red): body temperature higher than 38, or do not pass healthcode scan" %}</p>
                                    <img src="{% static 'app_web/img/demo_app/healthcode_red.png' %}" alt="healthcode_red" style="width: 90%;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="height: 20px;"></div>
                <a href="#des_group_3" onclick="open_description('des_group_3');" title="" style="color: darkblue; font-size: 22px;text-decoration:none;">・{% trans "Sidebar" %}</a>
                <div id="des_group_3" style="display: none;">
                    <div style="height: 5px;"></div>
                    <div class="row">
                        <div style="margin-left: 50px;">
                            <img src="{% static 'app_web/img/demo_app/sidebar1.png' %}" alt="sidebar_btn" style="width: 90%;">
                            <div style="height: 10px;"></div>
                            <a href="#des_group_3_1_a" id="des_group_3_1_a" onclick="open_description('des_group_3_1');" title="" style="color: black; font-size: 20px;text-decoration:none;">- {% trans "Shop Code" %}</a>
                            <div id="des_group_3_1" style="display: none;">
                                <div style="height: 5px;"></div>
                                <div style="margin-left: 20px;">
                                    <p>{% trans '1.Select "Shop Code" from sidebar, complete registration by fill in required data (Company Register Code are given by the company)' %}</p>
                                    <img src="{% static 'app_web/img/demo_app/shop_code1.png' %}" alt="shop_code_apply" style="width: 90%;">
                                    <div style="height: 10px;"></div>
                                    <p>{% trans '2.Select "Location List" to view "verify status", "show qrcode", and "edit" from applied location' %}</p>
                                    <img src="{% static 'app_web/img/demo_app/shop_code2.png' %}" alt="shop_code_apply_list" style="width: 90%;">
                                    <div style="height: 10px;"></div>
                                    <p>{% trans '3.Select "Edit" from "Location List" to change information about the applied location' %}</p>
                                    <img src="{% static 'app_web/img/demo_app/shop_code_edit.png' %}" alt="shop_code_edit" style="width: 90%;">
                                    <div style="height: 10px;"></div>
                                </div>
                                <div style="height: 20px;"></div>
                            </div>
                            <div style="height: 15px;"></div>
                            <a href="#des_group_3_2_a" id="des_group_3_2_a" onclick="open_description('des_group_3_2');" title="" style="color: black; font-size: 20px;text-decoration:none;">- {% trans "History" %}</a>
                            <div id="des_group_3_2" style="display: none;">
                                <div style="height: 5px;"></div>
                                <div style="margin-left: 20px;">
                                    <p>{% trans '1.Select "History" from sidebar' %}</p>
                                    <img src="{% static 'app_web/img/demo_app/history1.png' %}" alt="history_btn" style="width: 90%;">
                                    <div style="height: 10px;"></div>
                                    <p>{% trans '2.Able to see "Body Temperature Record from the past seven days", "Approach Record", "Place Entry Record", "Clock In Record", and latest "Survey"' %}</p>
                                    <img src="{% static 'app_web/img/demo_app/history2.png' %}" alt="history_page" style="width: 90%;">
                                    <div style="height: 10px;"></div>
                                </div>
                                <div style="height: 20px;"></div>
                            </div>
                            <div style="height: 15px;"></div>
                            <a href="#des_group_3_3_a" id="des_group_3_3_a" onclick="open_description('des_group_3_3');" title="" style="color: black; font-size: 20px;text-decoration:none;">- {% trans "Theme Setting" %}</a>
                            <div id="des_group_3_3" style="display: none;">
                                <div style="height: 5px;"></div>
                                <div style="margin-left: 20px;">
                                    <p>{% trans '1.Select "Theme" from sidebar' %}1.在側邊欄位選擇「選擇主題」</p>
                                    <img src="{% static 'app_web/img/demo_app/theme_setting1.png' %}" alt="theme_setting_btn" style="width: 90%;">
                                    <div style="height: 10px;"></div>
                                    <p>{% trans '2.Select your theme' %}2.選擇喜歡的主題</p>
                                    <img src="{% static 'app_web/img/demo_app/theme_setting2.png' %}" alt="theme_setting_page" style="width: 90%;">
                                    <div style="height: 10px;"></div>
                                </div>
                                <div style="height: 20px;"></div>
                            </div>
                            <div style="height: 15px;"></div>
                            <a href="#des_group_3_4_a" id="des_group_3_4_a" onclick="open_description('des_group_3_4');" title="" style="color: black; font-size: 20px;text-decoration:none;">- {% trans "Language Setting" %}</a>
                            <div id="des_group_3_4" style="display: none;">
                                <div style="height: 5px;"></div>
                                <div style="margin-left: 20px;">
                                    <p>{% trans '1.Select "Language Setting" from sidebar' %}</p>
                                    <img src="{% static 'app_web/img/demo_app/lang_setting1.png' %}" alt="lang_setting_btn" style="width: 90%;">
                                    <div style="height: 10px;"></div>
                                    <p>{% trans '2.Select your language' %}</p>
                                    <img src="{% static 'app_web/img/demo_app/lang_setting2.png' %}" alt="lang_setting_page" style="width: 90%;">
                                    <div style="height: 10px;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="height: 20px;"></div>
                <a href="#des_group_4" onclick="open_description('des_group_4');" title="" style="color: darkblue; font-size: 22px;text-decoration:none;">・{% trans "Scan Services" %}</a>
                <div id="des_group_4" style="display: none;">
                    <div style="height: 5px;"></div>
                    <div class="row">
                        <div style="margin-left: 50px;">
                            <p>{% trans '1.Select "Scan" function from main page' %}</p>
                            <img src="{% static 'app_web/img/demo_app/scan1.PNG' %}" alt="scan_btn" style="width: 90%;" >
                            <div style="height: 10px;"></div>
                            <p>{% trans '2.Scan Qrcode' %}</p>
                            <img src="{% static 'app_web/img/demo_app/scan2.PNG' %}" alt="scan_page" style="width: 90%;">
                            <div style="height: 10px;"></div>
                            <p>{% trans '3.Select function from scan result' %}</p>
                            <img src="{% static 'app_web/img/demo_app/scan3.PNG' %}" alt="scan_result" style="width: 90%;">
                            <div style="height: 10px;"></div>
                        </div>
                    </div>
                </div>
{#                <div style="height: 20px;"></div>#}
{#                <a href="{% url 'app_login' %}" title="" style="color: darkblue; font-size: 22px; text-decoration: none;">．{% trans 'Back to Login' %}</a>#}
            </div>
        </div>
{#        <div class="col-md-1 col-sm-1 col-xs-1 "></div>#}
        <div class="row mx-0 bottom-button-container">
            <div class="col">
                <a href="{% url 'app_login' %}" class="btn btn-default btn-lg btn-rounded shadow btn-block" id="back_to_login">{% trans 'Back to Login' %}</a>
            </div>
        </div>
{#        <div class="col-md-12 col-sm-12 col-xs-12">#}
{#            <a href="{% url 'app_login' %}">{% trans 'Back' %}</button>#}
{#        </div>#}
    </div>

<!-- message modal -->
<div class="modal fade" id="message_modal" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title text-template" id="exampleModalLabel">{% trans 'Message' %}</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="msg" class="text-template"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans 'Close' %}</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}

<!-- cookie js -->
<script src="{% static 'app_web/vendor/cookie/jquery.cookie.js' %}"></script>

    <!-- chart js -->
<script src="{% static 'app_web/vendor/chartjs/Chart.min.js' %}"></script>
<script src="{% static 'app_web/vendor/chartjs/utils.js' %}"></script>

     <!-- page level custom js -->


<script>
    function close_other_des(open_id) {
        if (open_id.indexOf('des_group_1') != -1){
            document.getElementById('des_group_2') .style.display='none';
            document.getElementById('des_group_3') .style.display='none';
            document.getElementById('des_group_4') .style.display='none';
            {#document.getElementById('des_group_5') .style.display='none';#}
            if (open_id != 'des_group_1_1'){
                document.getElementById('des_group_1_1') .style.display='none';
            }
            if (open_id != 'des_group_1_2'){
                document.getElementById('des_group_1_2') .style.display='none';
            }
            {#if (open_id != 'des_group_1_3'){#}
            {#    document.getElementById('des_group_1_3') .style.display='none';#}
            {##}
        }else if (open_id.indexOf('des_group_2') != -1){
            document.getElementById('des_group_1') .style.display='none';
            document.getElementById('des_group_3') .style.display='none';
            document.getElementById('des_group_4') .style.display='none';
            {#document.getElementById('des_group_5') .style.display='none';#}
            if (open_id != 'des_group_2_1'){
                document.getElementById('des_group_2_1') .style.display='none';
            }
            if (open_id != 'des_group_2_2'){
                document.getElementById('des_group_2_2') .style.display='none';
            }
            if (open_id != 'des_group_2_3'){
                document.getElementById('des_group_2_3') .style.display='none';
            }
        }else if (open_id.indexOf('des_group_3') != -1){
            document.getElementById('des_group_1') .style.display='none';
            document.getElementById('des_group_2') .style.display='none';
            document.getElementById('des_group_4') .style.display='none';
            {#document.getElementById('des_group_5') .style.display='none';#}
            if (open_id != 'des_group_3_1'){
                document.getElementById('des_group_3_1') .style.display='none';
            }
            if (open_id != 'des_group_3_2'){
                document.getElementById('des_group_3_2') .style.display='none';
            }
            if (open_id != 'des_group_3_3'){
                document.getElementById('des_group_3_3') .style.display='none';
            }
            if (open_id != 'des_group_3_4'){
                document.getElementById('des_group_3_4') .style.display='none';
            }
        }else if (open_id.indexOf('des_group_4') != -1){
            document.getElementById('des_group_1') .style.display='none';
            document.getElementById('des_group_2') .style.display='none';
            document.getElementById('des_group_3') .style.display='none';
            {#document.getElementById('des_group_5') .style.display='none';#}

        }
        {#else if (open_id.indexOf('des_group_5') != -1){#}
        {#    document.getElementById('des_group_1') .style.display='none';#}
        {#    document.getElementById('des_group_2') .style.display='none';#}
        {#    document.getElementById('des_group_3') .style.display='none';#}
        {#    document.getElementById('des_group_4') .style.display='none';#}
        {#    if (open_id != 'des_group_4_1'){#}
        {#        document.getElementById('des_group_5_1') .style.display='none';#}
        {#    }#}
        {#    if (open_id != 'des_group_4_2'){#}
        {#        document.getElementById('des_group_5_2') .style.display='none';#}
        {#    }#}
        {##}

    }

    function open_description(open_id){
        $('#sel_func_type').val(open_id);
        close_other_des(open_id);
        if(document.getElementById(open_id) .style.display=='none') {
            document.getElementById(open_id) .style.display=''
        }else{
            document.getElementById(open_id) .style.display='none'
        }
    }
    function change_lang(){
        var lang = $('#descript_lang').val();
        var location_url = window.location.href;
        var func_type = $('#sel_func_type').val();
        var location_url_list = location_url.split('?');
        location_url = location_url_list[0]
        location_url = location_url + '?' + 'func_type=' + func_type + '&language=' + lang;
        {#alert(location_url);#}
        location.href = location_url;
    }


    $(document).ready(function(){
        document.getElementsByTagName("title")[0].innerText = '{% trans "Description" %}' + ' · ' + '{% trans "My PassCode" %}';
        document.getElementById('sidebar').style.display = "none";
        document.getElementById('hamburger').style.display = "none";
        document.getElementById('backpage').style.display = "none";

        if ('{{ func_type }}' != ''){
            var func_type = '{{ func_type }}';
            if (func_type.indexOf('des_group_1') != -1){
                document.getElementById('des_group_1') .style.display='';
            }else if (func_type.indexOf('des_group_2') != -1){
                document.getElementById('des_group_2') .style.display='';
            }else if (func_type.indexOf('des_group_3') != -1){
                document.getElementById('des_group_3') .style.display='';
            }else if (func_type.indexOf('des_group_4') != -1){
                document.getElementById('des_group_4') .style.display='';
            }
            {#else if (func_type.indexOf('des_group_5') != -1){#}
            {#    document.getElementById('des_group_5') .style.display='';#}
            {##}
            document.getElementById(func_type) .style.display=''
        }

        if ('{{ message }}'){
            $("#msg").text('{{ message }}');
            $("#message_modal").modal();
        }
    });




</script>
{% endblock %}