{% extends 'app_web_n/base.html' %}
{% load static %}
{% load i18n %}
{% load utils %}
{% block content %}
    <div class="container">
        <div class="card shadow mt-4 h-200 overflow-hidden">
            <div class="card-body">
                <h5 class="mb-0 font-weight-normal">{% trans 'File Upload' %}</h5>
                <p class="text-mute text-secondary">{% trans 'Please Select Upload Catagory' %}</p>
                <hr>
            </div>
            <div class="h-200 top-10">
                <div class="input" style="padding-left: 15px">
                    <form action="" enctype="multipart/form-data" method="post">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <form method="post" action="{% url 'upload_health_img' request.app_user.pub_id request.app_user.api_token %}" id="upload_frm" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="text-center" style="margin-top: 5px">
                                    {% if not request.session.iii_login %}
                                    <select class="form-control selectpicker" name="upload_type" id="upload_type" data-live-search="true" title="{% trans 'Please Select Category' %}">
                                        <option value="">無</option>
                                        <option name="sel_type" id="sel_type" value="VAC_RECORD">{% trans 'Vaccine Record' %}</option>
                                        <option name="sel_type" id="sel_type" value="RAP_TEST">{% trans 'Rapid Test Result' %}</option>
                                        <option name="sel_type" id="sel_type" value="COV_HISTORY">{% trans 'Covid-19 History' %}</option>
                                    </select>
                                    <div class="col-lg-12 col-md-12 col-sm-12 btn btn-dark text-white floating-btn" style="margin-top: 5px">
                                        <i class="material-icons">camera_alt</i>
                {#                        <input type="file" class="float-file">#}
                                        <input type="file" accept="image/*" class="float-file" name="upload_img" id="upload_img">{% trans 'Select Photo' %}
                                    </div>
                                    {% endif %}
                                </div>
                            </form>
                    {#                            <hr>#}
{#                            <select class="form-control selectpicker" name="upload_type" id="upload_type" data-live-search="true" title="{% trans 'Please Select Category' %}">#}
{#                                <option value="">無</option>#}
{#                                <option name="sel_type" id="sel_type" value="VAC_RECORD">{% trans 'Vaccine Record' %}</option>#}
{#                                <option name="sel_type" id="sel_type" value="RAP_TEST">{% trans 'Rapid Test Result' %}</option>#}
{#                                <option name="sel_type" id="sel_type" value="COV_HISTORY">{% trans 'Covid-19 History' %}</option>#}
{#                            </select>#}

{#                            {% csrf_token %}#}
        {#                  <input type="file" id="uploadRapidTest" name="uploadRapidTest" accept="image/png, image/jpeg">#}
{#                            <div class="col-12" style="padding-top: 15px">#}
{#                                {{ form.as_p }}#}
{#                                <button type="submit" class="btn btn-primary mb-2" style="float: right">{% trans "Upload" %}</button>#}
{#                            </div>#}
{#                            {{ form.as_p }}#}
{#                            <button type="submit" class="btn btn-primary mb-2" style="float: right;">{% trans 'Upload' %}</button>#}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="container top-30">
        <div class="card mb-4 shadow">
            <div class="card-body bg-none py-3">
                <div class="row">
                </div>
            </div>
        </div>
    </div>

    <div class="wrapper">
        <div class="container">
            <div class="row" style="padding-left: 14px;">

                <div class="col-12" style="padding-left: 0;padding-right: 0;">
                    <div class="card shadow-sm border-0 mb-3 wizard">
                        <div class="card-header p-0">
                            <ul class="nav nav-tabs tabs-md nav-justified" role="tablist">
                                <li role="presentation" class="nav-item">
                                    <a href="#step13" class="nav-link border-primary active" data-toggle="tab" aria-controls="step13" role="tab" title="Step 1">
                                        <i class="material-icons">vaccines</i>
                                    </a>
                                </li>
                                <li role="presentation" class="nav-item">
                                    <a href="#step23" class="nav-link border-primary" data-toggle="tab" aria-controls="step23" role="tab" title="Step 2">
                                        <i class="material-icons">science</i>
                                    </a>
                                </li>
{#                                {% if not request.session.iii_login %}#}
{#                                <li role="presentation" class="nav-item">#}
{#                                    <a href="#step33" class="nav-link border-primary" data-toggle="tab" aria-controls="step33" role="tab" title="Step 3">#}
{#                                        <i class="material-icons">person_pin_circle</i>#}
{#                                        <i class="material-icons">local_offer</i>#}
{#                                    </a>#}
{#                                </li>#}
{#                                {% endif %}#}
                                <li role="presentation" class="nav-item">
                                    <a href="#step33" class="nav-link border-primary" data-toggle="tab" aria-controls="step33" role="tab" title="Step 3">
                                        <i class="material-icons">coronavirus</i>
                                    </a>
                                </li>
                            </ul>
                        </div>
{#                        <a onclick="approach_record()"></a>#}
{#                    Alan_TODO: send param to check upload type: VAC_REC, RAP_TEST, COV_HISTORY#}
                        <div class="card-body">
                            <div class="tab-content">
                                <div class="tab-pane active" role="tabpanel" id="step13">
                                    <h6 class="subtitle" style="padding-left: 15px;">{% trans 'COVID-19 Vaccine Record' %}</h6>
                                    <div class="col-12 px-0">
                                        <ul class="list-group list-group-flush border-top border-bottom" id="step1_div">
                                        </ul>
                                        <div style="height: 30px;"></div>
                                        <div id="step1_a_div" class="text-center"></div>
                                    </div>
                                </div>
                                <div class="tab-pane" role="tabpanel" id="step23">
                                    <h6 class="subtitle" style="padding-left: 15px;">{% trans 'Rapid Test Result' %}</h6>
                                    <div class="col-12 px-0">
                                        <ul class="list-group list-group-flush border-top border-bottom" id="step2_div">
                                        </ul>
                                        <div style="height: 30px;"></div>
                                        <div id="step2_a_div" class="text-center"></div>
                                    </div>
                                </div>
                                <div class="tab-pane" role="tabpanel" id="step33">
                                    <h6 class="subtitle" style="padding-left: 15px;">{% trans 'COVID History' %}</h6>
                                    <div class="col-12 px-0">
                                        <ul class="list-group list-group-flush border-top border-bottom" id="step3_div">
                                        </ul>
                                        <div style="height: 30px;"></div>
                                        <div id="step3_a_div" class="text-center"></div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>

{% endblock %}
{% block js %}
    <!-- cookie js -->
    <script src="{% static 'app_web/vendor/cookie/jquery.cookie.js' %}"></script>

    <!-- chart js -->
    <script src="{% static 'app_web/vendor/chartjs/Chart.min.js' %}"></script>
    <script src="{% static 'app_web/vendor/chartjs/utils.js' %}"></script>

     <!-- page level custom js -->
{#    <script src="{% static 'app_web/js/statistics.js' %}"></script>#}

    <script>
        var server_url;
        function vac_record(next_url){
            var record_list, next_link, api_url, html_str;
            {#var sJson = JSON.stringify({record_type: 'APPROACH', uts: new Date().getTime(),});#}
            if (next_url == 'default'){
                {#if (window.location.port == '8003'){#}
                {#    api_url = 'http://' + window.location.hostname +':' + window.location.port + '/web-user-records/';#}
                {# }else{#}
                {#    api_url = window.location.protocol + '//' + window.location.host + '/web-user-records/';}#}
                api_url = server_url + '/web-user-records/';
            }else{
                api_url = next_url;
            }
            {#alert(api_url);#}
            $.ajax({
                type: 'get',
                url: api_url,
                data: {"record_type": 'VAC_RECORD', "uts": new Date().getTime()},
                headers: {
                    'Content-Type': 'application/json',
                    {#'Accept': 'application/vnd.ani.v1.wallet+json',#}
                    'X-MAI-TOKEN': 'WebUser ' + '{{ request.app_user.api_token }}',
                    {#'X-Client-Version': '1.0',#}
                    'X-Client-Id': '{{ request.app_user.pub_id }}',
                },
                success: function(response) {
                    {#alert(response);#}
                    $.each(response, function(index, value) {
                        if (index == 'results'){
                            record_list = value
                        }
                        if (index == 'next'){
                            if (value != null){
                                value = value.replace('http://web', server_url);
                                document.getElementById('step1_a_div').style.display = "";
                                document.getElementById('step1_a_div').innerHTML = '<a onclick="vac_record(\'' + value +  '\')">' + "{% trans 'More'  %}" + '</a>';
                            }else{
                                document.getElementById('step1_a_div').style.display = "none";
                            }

                        }
                    });
                    console.log(record_list);
                    for (var i in record_list){
                        html_str = '';
                        html_str += '<li class="list-group-item"><div class="row align-items-center"><div class="col align-self-center pr-0"><h6 class="font-weight-normal mb-1">' +
                            record_list[i]['image_url'] + '</h6>';
                        html_str += '<p class="text-mute small text-secondary">' + record_list[i]['record_time'] + '</p></div></li>';

                        document.getElementById('step1_div').innerHTML += html_str;
                    }

                },
                error: function(xhr, status, error) {
                }
            });
        }
        function place_record(next_url){
            var record_list, next_link, api_url, html_str;
            {#var sJson = JSON.stringify({record_type: 'APPROACH', uts: new Date().getTime(),});#}
            if (next_url == 'default'){
                {#if (window.location.port == '8003'){#}
                {#    api_url = 'http://' + window.location.hostname +':' + window.location.port + '/web-user-records/';#}
                {# }else{#}
                {#    api_url = window.location.protocol + '//' + window.location.host + '/web-user-records/';}#}
                api_url = server_url + '/web-user-records/';
            }else{
                api_url = next_url;
            }
            {#alert(api_url);#}
            $.ajax({
                type: 'get',
                url: api_url,
                data: {"record_type": 'PLACE', "uts": new Date().getTime()},
                headers: {
                    'Content-Type': 'application/json',
                    {#'Accept': 'application/vnd.ani.v1.wallet+json',#}
                    'X-MAI-TOKEN': 'WebUser ' + '{{ request.app_user.api_token }}',
                    {#'X-Client-Version': '1.0',#}
                    'X-Client-Id': '{{ request.app_user.pub_id }}',
                },
                success: function(response) {
                    {#alert(response);#}
                    $.each(response, function(index, value) {
                        if (index == 'results'){
                            record_list = value
                        }
                        if (index == 'next'){
                            if (value != null){
                                value = value.replace('http://web', server_url);
                                document.getElementById('step2_a_div').style.display = "";
                                document.getElementById('step2_a_div').innerHTML = '<a onclick="place_record(\'' + value +  '\')">' + "{% trans 'More' %}" + '</a>';
                            }else{
                                document.getElementById('step2_a_div').style.display = "none";
                            }

                        }
                    });

                    for (var i in record_list){
                        html_str = '';
                        html_str += '<li class="list-group-item"><div class="row align-items-center"><div class="col align-self-center pr-0"><h6 class="font-weight-normal mb-1">' +
                            record_list[i]['location_name'] + '</h6>';
                        if (record_list[i]['act_name'] != ''){
                            html_str += '<h6 class="font-weight-normal mb-1">' + "{% trans 'Activity Name' %}" + '：' + record_list[i]['act_name'] + '</h6>';
                        }
                        if (record_list[i]['act_org'] != ''){
                            html_str += '<h6 class="font-weight-normal mb-1">' + "{% trans 'Organizer Information' %}" + '：' + record_list[i]['act_org'] + '</h6>';
                        }
                        if (record_list[i]['act_org_contact'] != ''){
                            html_str += '<h6 class="font-weight-normal mb-1">' + "{% trans 'Organiser' %}" + '/' + "{% trans 'Phone' %}" + '：' + record_list[i]['act_org_contact'] + '</h6>';
                        }

                        html_str += '<p class="text-mute small text-secondary">' + record_list[i]['record_time'] + '</p></div></li>';

                        document.getElementById('step2_div').innerHTML += html_str;
                    }

                },
                error: function(xhr, status, error) {

                    {#alert(xhr.responseText);#}
                    {#var error_result = JSON.parse(xhr.responseText);#}
                    {#alert(error_result[1]);#}
                    {#alert(typeof(error_result.errors.phone[0].code));#}
                    {#alert(error_result.errors.phone[0].message);#}


                }
            });
        }
        function covid_record(next_url){
            var record_list, next_link, api_url, html_str;
            {#var sJson = JSON.stringify({record_type: 'APPROACH', uts: new Date().getTime(),});#}
            if (next_url == 'default'){
                {#if (window.location.port == '8003'){#}
                {#    api_url = 'http://' + window.location.hostname +':' + window.location.port + '/web-user-records/';#}
                {# }else{#}
                {#    api_url = window.location.protocol + '//' + window.location.host + '/web-user-records/';}#}
                api_url = server_url + '/web-user-records/';
            }else{
                api_url = next_url;
            }
            {#alert(api_url);#}
            $.ajax({
                type: 'get',
                url: api_url,
                data: {"record_type": 'COV_HISTORY', "uts": new Date().getTime()},
                headers: {
                    'Content-Type': 'application/json',
                    {#'Accept': 'application/vnd.ani.v1.wallet+json',#}
                    'X-MAI-TOKEN': 'WebUser ' + '{{ request.app_user.api_token }}',
                    {#'X-Client-Version': '1.0',#}
                    'X-Client-Id': '{{ request.app_user.pub_id }}',
                },
                success: function(response) {
                    {#alert(response);#}
                    $.each(response, function(index, value) {
                        if (index == 'results'){
                            record_list = value
                        }
                        if (index == 'next'){
                            if (value != null){
                                value = value.replace('http://web', server_url);
                                document.getElementById('step1_a_div').style.display = "";
                                document.getElementById('step1_a_div').innerHTML = '<a onclick="vac_record(\'' + value +  '\')">' + "{% trans 'More'  %}" + '</a>';
                            }else{
                                document.getElementById('step1_a_div').style.display = "none";
                            }

                        }
                    });

                    for (var i in record_list){
                        html_str = '';
                        html_str += '<li class="list-group-item"><div class="row align-items-center"><div class="col align-self-center pr-0"><h6 class="font-weight-normal mb-1">' +
                            record_list[i]['image_url'] + '</h6>';
                        html_str += '<p class="text-mute small text-secondary">' + record_list[i]['record_time'] + '</p></div></li>';

                        document.getElementById('step3_div').innerHTML += html_str;
                    }

                },
                error: function(xhr, status, error) {
                }
            });
        }
        $(document).ready(function() {
            if (window.location.port == '8003' || window.location.port == '8000'){
                server_url = 'http://' + window.location.hostname +':' + window.location.port;
            }else{
                server_url = window.location.protocol + '//' + window.location.host + window.location.port;
            }
            vac_record('default');
            place_record('default');
            {#work_record('default');#}
            document.getElementsByTagName("title")[0].innerText = '{% trans "Health Check" %}' + ' · ' + '{% trans "My PassCode" %}';
            document.getElementById('backpage').style.display = "none";
            document.getElementById('sidebar').style.display = "";
            document.getElementById('hamburger').style.display = "";
            var theme_color_layout = $.cookie("theme-color-layout");
            var theme_color = $.cookie("theme-color");
            var s;
            if (theme_color == 'black-theme' && theme_color_layout == 'theme-dark'){
                s=document.getElementsByTagName('input');
                for(var i=0;i<s.length;i++)
                {
                    s[i].setAttribute("style","color:white");
                }
            }
        });
        {#$(window).on('load', function () {#}
        {#    /* swiper slider carousel */#}
        {#    var swiper = new Swiper('.icon-slide', {#}
        {#        slidesPerView: 'auto',#}
        {#        spaceBetween: 0,#}
        {#    });#}
        {#    var swiper = new Swiper('.offer-slide', {#}
        {#        slidesPerView: 'auto',#}
        {#        spaceBetween: 0,#}
        {#    });#}
        {##}
        {#    var swiper = new Swiper('.two-slide', {#}
        {#        slidesPerView: 2,#}
        {#        spaceBetween: 0,#}
        {#        pagination: {#}
        {#            el: '.swiper-pagination',#}
        {#        },#}
        {#    });#}
        {##}
        {#    var swiper = new Swiper('.news-slide', {#}
        {#        slidesPerView: 5,#}
        {#        spaceBetween: 0,#}
        {#        pagination: {#}
        {#            el: '.swiper-pagination',#}
        {#        },#}
        {#        breakpoints: {#}
        {#            1024: {#}
        {#                slidesPerView: 4,#}
        {#                spaceBetween: 0,#}
        {#            },#}
        {#            768: {#}
        {#                slidesPerView: 3,#}
        {#                spaceBetween: 0,#}
        {#            },#}
        {#            640: {#}
        {#                slidesPerView: 2,#}
        {#                spaceBetween: 0,#}
        {#            },#}
        {#            320: {#}
        {#                slidesPerView: 2,#}
        {#                spaceBetween: 0,#}
        {#            }#}
        {#        }#}
        {#    });#}
        {##}
        {##}
        {#    /* chart js charts   */#}
        {#    var ctx = document.getElementById("linechart").getContext('2d');#}
        {##}
        {#    var gradient2 = ctx.createLinearGradient(0, 0, 0, 200);#}
        {#    gradient2.addColorStop(0, 'rgba(151, 94, 251, 0.40)');#}
        {#    gradient2.addColorStop(1, 'rgba(91, 168, 255, 0.40)');#}
        {##}
        {#    var chat_config = {#}
        {#        type: 'line',#}
        {#        data: {#}
        {#            labels: {{ label_list|safe }},#}
        {#            datasets: [{#}
        {#                label: ' 體溫 ',#}
        {#                backgroundColor: gradient2,#}
        {#                data: {{ temperature_list|safe }},#}
        {#                borderColor: "rgba(151, 94, 251, 0.40)",#}
        {#                borderCapStyle: 'butt',#}
        {#                borderDash: [],#}
        {#                borderWidth: 3,#}
        {#                borderDashOffset: 1,#}
        {#                borderJoinStyle: 'bevel',#}
        {#                pointBorderColor: "#ffffff",#}
        {#                pointBackgroundColor: "#7b65f4",#}
        {#                pointBorderWidth: 1,#}
        {#                pointHoverRadius: 12,#}
        {#                pointHoverBackgroundColor: "#7b65f4",#}
        {#                pointHoverBorderColor: "#ffffff",#}
        {#                pointHoverBorderWidth: 0,#}
        {#                pointRadius: 8,#}
        {#                pointHitRadius: 8,#}
        {#            }]#}
        {#        },#}
        {#        options: {#}
        {#            responsive: true,#}
        {#            maintainAspectRatio: false,#}
        {#            title: {#}
        {#                display: false,#}
        {#                text: 'Chart.js  Line Chart',#}
        {#            },#}
        {#            legend: {#}
        {#                display: false,#}
        {#                labels: {#}
        {#                    fontColor: "#888888"#}
        {#                }#}
        {#            },#}
        {#            scales: {#}
        {#                yAxes: [{#}
        {#                    display: false,#}
        {#                    ticks: {#}
        {#                        fontColor: "#888888",#}
        {#                        beginAtZero: true,#}
        {#                        min:28,#}
        {#                        max:50,#}
        {#                        stepSize:.001#}
        {#                    },#}
        {#                    gridLines: {#}
        {#                        color: "rgba(160,160,160,0.1)",#}
        {#                        zeroLineColor: "rgba(160,160,160,0.15)"#}
        {#                    }#}
        {#                }],#}
        {#                xAxes: [{#}
        {#                    display: false,#}
        {#                    ticks: {#}
        {#                        fontColor: "#888888"#}
        {#                    },#}
        {#                    gridLines: {#}
        {#                        color: "rgba(160,160,160,0.1)",#}
        {#                        zeroLineColor: "rgba(160,160,160,0.15)"#}
        {#                    }#}
        {#                }]#}
        {#            },#}
        {#            layout: {#}
        {#                padding: {#}
        {#                    left: 10,#}
        {#                    right: 10,#}
        {#                    top: 0,#}
        {#                    bottom: 0#}
        {#                }#}
        {#            },#}
        {#            horizontalLine: [{#}
        {#                y: 38,#}
        {#                style: "rgba(204,105,207,0.4)",#}
        {#                text: "37.8"#}
        {#            }]#}
        {#        }#}
        {#    };#}
        {##}
        {#    var horizonalLinePlugin = {#}
        {#        afterDraw: function (chartInstance) {#}
        {#            var yScale = chartInstance.scales["y-axis-0"];#}
        {#            var canvas = chartInstance.chart;#}
        {#            var ctx = canvas.ctx;#}
        {#            var index;#}
        {#            var line;#}
        {#            var style;#}
        {##}
        {#            if (chartInstance.options.horizontalLine) {#}
        {#                for (index = 0; index < chartInstance.options.horizontalLine.length; index++) {#}
        {#                    line = chartInstance.options.horizontalLine[index];#}
        {##}
        {#                    if (!line.style) {#}
        {#                        style = "rgba(169,169,169, .6)";#}
        {#                    } else {#}
        {#                        style = line.style;#}
        {#                    }#}
        {##}
        {#                    if (line.y) {#}
        {#                        yValue = yScale.getPixelForValue(line.y);#}
        {#                    } else {#}
        {#                        yValue = 0;#}
        {#                    }#}
        {##}
        {#                    ctx.lineWidth = 3;#}
        {##}
        {#                    if (yValue) {#}
        {#                        ctx.beginPath();#}
        {#                        ctx.moveTo(0, yValue);#}
        {#                        ctx.lineTo(canvas.width, yValue);#}
        {#                        ctx.strokeStyle = style;#}
        {#                        ctx.stroke();#}
        {#                    }#}
        {##}
        {#                    if (line.text) {#}
        {#                        ctx.fillStyle = style;#}
        {#                        ctx.fillText(line.text, 0, yValue + ctx.lineWidth);#}
        {#                    }#}
        {#                }#}
                        {#return;#}
        {#            }#}
        {#        }#}
        {#    };#}
        {#    Chart.pluginService.register(horizonalLinePlugin);#}
        {##}
        {#    var myChart = new Chart(ctx, chat_config);#}
        {##}
        {##}
        {# });#}
    </script>

{#    <script src="{% static 'app_web/js/statistics.js' %}"></script>#}

{% endblock %}
