{% extends 'app_web_n/base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
<div class="container">
    <div style="height: 100px;"></div>
    <form method="post" action="{% url 'sel_scan' request.app_user.pub_id request.app_user.api_token %}">
        {% csrf_token %}
        <input type="hidden" name="qr_id" value="{{ qr_id }}">
        <input type="hidden" id="func_sel" name="func_sel">
{#        <input type="hidden" name="location" value="{{ location }}">#}
{#        <input type="hidden" id="web_latitude" name="web_latitude">#}
{#        <input type="hidden" id="web_longitude" name="web_longitude">#}
        <input type="hidden" id="latitude" name="latitude">
        <input type="hidden" id="longitude" name="longitude">
        {% if qr_type == 'USER' %}
            {% if scan_health == 1 %}
                <div class="row bottom40">
                    <div class="col-md-12 col-sm-12 col-xs-12">
{#                        <button onclick="$('#func_sel').val('scan_health');"  type="submit" class="btn btn-lg btn-default text-white btn-block btn-rounded shadow" style="border-radius:11px; height:60px; background-color: #63cf3e;color: white; font-size: 20px;"><span>健康碼更新</span></button>#}
                        <button onclick="$('#func_sel').val('scan_health');" type="submit" class="btn btn-lg btn-default text-white btn-block btn-rounded shadow" style="background-color: #00a888;"><span>{% trans 'Update Health Code' %}</span></button>
                    </div>
                </div>
                <div style="height: 20px;"></div>
            {% endif %}
            {% if scan_approach == 1 %}
                <div class="row bottom40">
                    <div class="col-md-12 col-sm-12 col-xs-12">
{#                        <button onclick="$('#func_sel').val('scan_approach');"  type="submit" class="btn btn-lg btn-default text-white btn-block btn-rounded shadow" style="border-radius:11px; height:60px; background-color: #2e3ac4;color: white; font-size: 20px;"><span>接觸登記</span></button>#}
                        <button onclick="$('#func_sel').val('scan_approach');" type="submit" class="btn btn-lg btn-default text-white btn-block btn-rounded shadow" style="background-color: #0075f8;"><span>{% trans 'Approach Registration' %}</span></button>
                    </div>
                </div>
                <div style="height: 20px;"></div>
            {% endif %}
            {% if scan_visitor == 1 %}
                <div class="row bottom40">
                    <div class="col-md-12 col-sm-12 col-xs-12">
{#                        <button onclick="$('#func_sel').val('scan_visitor');"  type="submit" class="btn btn-lg btn-default text-white btn-block btn-rounded shadow" style="border-radius:11px; height:60px; background-color: #ff6d43;color: white; font-size: 20px;"><span>訪客登記</span></button>#}
                        <button onclick="$('#func_sel').val('scan_visitor');" type="submit" class="btn btn-lg btn-default text-white btn-block btn-rounded shadow" style="background-color: #ff7600;"><span>{% trans 'Visitor Registration' %}</span></button>
                    </div>
                </div>
                <div style="height: 20px;"></div>
            {% endif %}
        {% elif qr_type == 'PLACE' %}
{#            {% if scan_clock_in == 1 %}#}
{#                <div class="row bottom40">#}
{#                    <div class="col-md-12 col-sm-12 col-xs-12">#}
{#                        <button onclick="$('#func_sel').val('scan_clock_in');"  type="submit" class="btn btn-lg btn-default text-white btn-block btn-rounded shadow" style="border-radius:11px; height:60px; background-color: #4936c3;color: white; font-size: 20px;"><span>簽到簽退狀態變更</span></button>#}
{#                        <button onclick="$('#func_sel').val('scan_clock_in');" type="submit" class="btn btn-lg btn-default text-white btn-block btn-rounded shadow" style="background-color: #0075f8;"><span>簽到簽退狀態變更</span></button>#}
{#                    </div>#}
{#                </div>#}
{#                <div style="height: 20px;"></div>#}
{#            {% endif %}#}
            {% if scan_user_clock_in == 1 %}
                <div class="row bottom40">
                    <div class="col-md-12 col-sm-12 col-xs-12">
{#                        <button onclick="$('#func_sel').val('scan_clock_in');"  type="submit" class="btn btn-lg btn-default text-white btn-block btn-rounded shadow" style="border-radius:11px; height:60px; background-color: #4936c3;color: white; font-size: 20px;"><span>簽到簽退狀態變更</span></button>#}
                        <button onclick="$('#func_sel').val('scan_user_clock_in');" type="submit" class="btn btn-lg btn-default text-white btn-block btn-rounded shadow" style="background-color: #00a888;"><span>{% trans 'Update Scanner Status' %}</span></button>
                    </div>
                </div>
                <div style="height: 20px;"></div>
            {% endif %}
            {% if scan_place == 1 %}
                <div class="row bottom40">
                    <div class="col-md-12 col-sm-12 col-xs-12">
{#                        <button onclick="$('#func_sel').val('scan_place');"  type="submit" class="btn btn-lg btn-default text-white btn-block btn-rounded shadow" style="border-radius:11px; height:60px; background-color: #4cc338;color: white; font-size: 20px;"><span>地點紀錄</span></button>#}
                        <button onclick="$('#func_sel').val('scan_place');" type="submit" class="btn btn-lg btn-default text-white btn-block btn-rounded shadow" style="background-color: #71b700;"><span>{% trans 'Record Location' %}</span></button>
                    </div>
                </div>
                <div style="height: 20px;"></div>
            {% endif %}
        {% endif %}
        <div class="row bottom40">
            <div class="col-md-12 col-sm-12 col-xs-12">
{#                <a href="{% url 'app_index' request.app_user.pub_id request.app_user.api_token %}"  class="btn btn-lg btn-default text-white btn-block btn-rounded shadow" style="border-radius:11px; height:60px; background-color: #848181;color: white; font-size: 20px;"><span>返回首頁</span></a>#}
                <a href="{% url 'app_index' request.app_user.pub_id request.app_user.api_token %}"  class="btn btn-lg btn-default text-white btn-block btn-rounded shadow" style="background-color: #848181;"><span>{% trans 'Back' %}</span></a>
            </div>
        </div>
    </form>
</div>
{% endblock %}
{% block js %}
 <script>
     function setLocationData(latitude, longitude){
         $('#latitude').val(latitude);
         $('#longitude').val(longitude);
     }
    $(document).ready(function() {

        var request_device = '{{ request.session.DEVICE}}';
        if (request_device == "ANDROID"){
            getLocationFunc();
        }else{
            getLocation();
        }

        document.getElementsByTagName("title")[0].innerText = '{% trans "Scan" %}' + ' · ' + '{% trans "My PassCode" %}';
        document.getElementById('sidebar').style.display = "none";
        document.getElementById('hamburger').style.display = "none";
        document.getElementById('backpage').style.display = "";

        if (request_device == "ANDROID"){
            var timer = null, interval = 1000, value = 0;

            timer = setInterval(function () {
                if ($("#latitude").val() == '' && $("#longitude").val() == '' ) {
                    value += 1;
                    if (value > 10){
                        clearInterval(timer);
                        getLocation();
                        value = 0;
                        timer = setInterval(function () {
                            if ($("#latitude").val() == '' && $("#longitude").val() == '' ) {
                                value += 1;
                                if (value > 10){
                                    clearInterval(timer);
                                    {#$("#msg").text('取得地址錯誤：取得位置失敗');#}
                                    {#$("#message_modal").modal();#}
                                }
                            }else{
                                clearInterval(timer);
                            }}, interval);
                    }}else{
                    clearInterval(timer);}
            }, interval);
        }
    });
 </script>
{% endblock %}