{% extends 'backend/base.html' %}
{% load static %}
{% load utils %}
{% load i18n %}
{% block stylesheet %}
    <style>
        .modal {
            text-align: center;
            padding: 0!important;
        }

        .modal:before {
            content: '';
            display: inline-block;
            height: 100%;
            vertical-align: middle;
            margin-right: -4px;
        }

        .modal-dialog {
            display: inline-block;
            text-align: left;
            vertical-align: middle;
        }

        nav ul.mainNav > li {
            z-index: 100;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-sm-10 col-xs-10 bread-sec">
                <a href="{% url 'backend_index' %}" style="color:#868686;text-decoration: none;">首頁</a>><a style="color:#868686;text-decoration: none;"> 系統管理 </a>><a href="{% url 'company_management' %}" style="color:#868686;text-decoration: none;"> 公司/學校管理 </a>><a style="color:#868686;text-decoration: none;"> 公司/學校資訊 </a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 " style="margin: 20px 0 20px 0px;font-size:25px; "> 公司/學校資訊 <img src="{% static 'backend/images/LINE.png' %}" class="img-responsive top5" alt="" /> </div>
        </div>
    </div>
    <div class="container" >
        <!-- Main -->
        <ul class="nav nav-tabs" id="myTab">
            <li class="active"><a data-toggle="tab" href="#company_profile">公司/學校資訊</a></li>
{#            <li><a data-toggle="tab" href="#health">部門清單</a></li>#}
            <li><a data-toggle="tab" href="#staff">員工清單</a></li>
            <li>
                <a data-toggle="tab" href="#audit_add">審核請求{% if new_add_req %}<label style="font-size: 10px;color: red;">∙</label>{% endif %}</a>

            </li>
        </ul>
        <div class="tab-content">
            <div id="company_profile" class="tab-pane fade in active">
                <div class="row bottom40" >
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div style="font-size: 15px;padding:45px 0 15px;">
                            <div class="col-lg-offset-1 col-lg-10 col-xs-12">
                                <form class="form-horizontal" >
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label for="exampleInputPassword1" class="col-md-1 control-label">公司/學校名稱</label>
                                        <div class="col-md-5">
                                            <input type="text" class="form-control" placeholder="" readonly value="{{ company.name }}">
                                            {#                                    <p class="help-block">#}
                                            {#                                        <span style="background:#fae0e0;color:#df0025;"> I am P tag .</span>Node.js® is a JavaScript runtime built on Chrome's V8 JavaScript engine. Node.js uses an event-dri...#}
                                            {#                                    </p>#}
                                        </div>
                                        <label for="exampleInputPassword1" class="col-md-1 control-label">新增人員QR Code</label>
                                        <div class="col-md-5">
{#                                            <input type="text" class="form-control" placeholder="" readonly value="{{ department_num }}">#}
                                            <a onclick="get_qr_img('{{ add_tag }}')" data-toggle="modal" data-target="#qr_img_modal" style="text-decoration:none; cursor: pointer;"><label class="control-label">ADDORG__{{ add_tag }}</label> <i class="fas fa-search"></i></a>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputPassword1" class="col-md-1 control-label">部門數</label>
                                        <div class="col-md-5">
                                            <input type="text" class="form-control" placeholder="" readonly value="{{ department_num }}">
                                        </div>
                                        <label for="exampleInputPassword1" class="col-md-1 control-label">員工數</label>
                                        <div class="col-md-5">
                                            <input type="text" class="form-control" placeholder="" readonly value="{{ staff_num }}">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputPassword1" class="col-md-1 control-label">是否開放申請地點</label>
                                        <div class="col-md-5">
                                            {% if company.place_create %}
                                                <a class="btn btn-success" style="margin-top:10px;margin-left:-2px;color:white" href="{% url 'place_create_open' company.pub_id 'OFF' %}">開啟中</a>
                                            {% else %}
                                                <a class="btn btn-danger" style="margin-top:10px;margin-left:-2px;color:white" href="{% url 'place_create_open' company.pub_id 'ON' %}">關閉中</a>
                                            {% endif %}
                                        </div>
                                        {% if company.place_create %}
                                            <label for="exampleInputPassword1" class="col-md-1 control-label">驗證碼</label>
                                            <div class="col-md-5">
                                                <input type="text" class="form-control" placeholder="" readonly value="{% if company.verification_code %}{{ company.verification_code }}{% endif %}">
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputPassword1" class="col-md-1 control-label">是否開放打卡</label>
                                        <div class="col-md-5">
                                            {% if company.place_checkin %}
                                                <a class="btn btn-success" style="margin-top:10px;margin-left:-2px;color:white" href="{% url 'place_checkin_open' company.pub_id 'OFF' %}">開啟中</a>
                                            {% else %}
                                                <a class="btn btn-danger" style="margin-top:10px;margin-left:-2px;color:white" href="{% url 'place_checkin_open' company.pub_id 'ON' %}">關閉中</a>
                                            {% endif %}
                                        </div>
                                    </div>
{#                                    <div class="form-group">#}
{#                                        <label for="exampleInputPassword1" class="col-md-1 control-label">目前健康碼 </label>#}
{#                                        <div class="col-md-5">#}
{#                                            <input type="text" class="form-control" placeholder="" readonly value="{{ health_code }}">#}
{#                                        </div>#}
{#                                        <label for="exampleInputPassword1" class="col-md-1 control-label">掃描權限 </label>#}
{#                                        <div class="col-md-5">#}
{#                                            <input type="text" class="form-control" readonly {% if scan_enabled %}value="有"{% else %}value="否"{% endif %}>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    <div class="form-group">#}
{#                                        <label for="exampleInputPassword1" class="col-md-1 control-label">後台管理者 </label>#}
{#                                        <div class="col-md-5">#}
{#                                            <input type="checkbox" class="form-control" {% if admin_flag %}checked{% endif %} name="admin_flag_checkbox">#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    <div class="col-md-12 text-right">#}
{#                                        <button type="submit" class="btn btn-default " style="background:#1f74a3;color:#fff">確認</button>#}
{#                                    </div>#}
{#                                    {% if department_list %}#}
                                        <div class="col-md-12" style="border-bottom:1px dashed #898989; height: 15px;"></div>
                                        <div style="height: 70px;"></div>
                                        <table class="table table-striped table-bordered" >
                                            <tr>
                                                <th class="text-center cen_blue">部門名稱</th>
                                                <th class="text-center cen_blue">員工數</th>
{#                                                <th class="text-center cen_blue">職稱</th>#}
                                                <th class="text-center cen_blue">建立日期</th>
{#                                                <th class="text-center cen_blue">掃描權限</th>#}
{#                                                <th class="text-center cen_blue">管理權限</th>#}
{#                                                <th class="text-center cen_blue">修改管理權限</th>#}
{#                                                <th class="text-center cen_blue">操作</th>#}
                                            </tr>
                                            {% for department in department_list %}
                                                <tr>
                                                    <td class="cen text-center">{{ department.name  }}</td>
                                                    <td class="cen text-center">{{ department.staff_num  }}</td>
                                                    <td class="cen text-center">{{ department.created | date:"Y-m-d H:i:s"  }}</td>
{#                                                    <td class="cen text-center"><a onclick="open_del_dep_modal('{{ department.pub_id }}')" data-toggle="modal" data-target="#del_department" style="text-decoration:none; cursor: pointer;" ><i class="fas fa-times"></i></a></td>#}
                                                </tr>
                                            {% endfor %}
                                            <tr>
                                                <td class="cen text-center" colspan="3"><a data-toggle="modal" data-target="#add_department" style="text-decoration:none; cursor: pointer;" ><i class="fas fa-plus"></i> 新增部門</a></td>
                                            </tr>
                                        </table>
{#                                    {% endif %}#}
{#                                    <div class="col-md-12" style="border-bottom:1px dashed #898989;"></div>#}
{#                                    <div class="col-md-12 top15 text-right">#}
{#                                        <button type="submit" class="btn btn-default " style="background:#1f74a3;color:#fff">確認</button>#}
{#                                    </div>#}
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="staff" class="tab-pane fade">
                <div class="row bottom40 top20">
                    <div class="col-md-12 col-sm-12 col-xs-12 " style="font-size: 16px;">
                        <table class="table table-striped table-bordered" >
                            <tr>
                                <th class="text-center cen_blue">員工名稱</th>
                                <th class="text-center cen_blue">員工部門</th>
                                <th class="text-center cen_blue">健康碼</th>
                                <th class="text-center cen_blue">簽進簽出狀態</th>
                                <th class="text-center cen_blue">健康碼更新權限</th>
                                <th class="text-center cen_blue">部門管理權限</th>
                                <th class="text-center cen_blue">管理權限</th>
                                <th class="text-center cen_blue">操作</th>
                            </tr>
{#                            {% if not staff_list %}#}
{#                                <tr>#}
{#                                    <td class="cen text-center" colspan="7"><a data-toggle="modal" data-target="#add_staff" style="text-decoration:none; cursor: pointer;" ><i class="fas fa-plus"></i> 新增員工</a></td>#}
{#                                </tr>#}
{#                            {% endif %}#}
                            {% for staff in staff_list %}
                                <tr>
                                    <td class="cen text-center"><a href="{% url 'user_detail' staff.app_user.pub_id %}">{{ staff.app_user.auth_user.first_name }}</a></td>
                                    <td class="cen text-center">{{ staff.department.name}}</td>
                                    <td class="cen text-center" >{{ staff.app_user.healthcode.get_code_display }}</td>
                                    <td class="cen text-center" >{{ staff.attendance_status }}</td>
                                    <td class="cen text-center" >
                                        {% if staff.scan_enabled %}
                                            有
                                            <a onclick="update_user_manage('{{ staff.app_user.pub_id }}', '{{ staff.company.pub_id }}', '{{ staff.pub_id }}', '0', 'COMPANY_DETAIL', 'SCAN')"><i class="fas fa-edit"></i></a>
                                        {% else %}
                                            無
                                            <a onclick="update_user_manage('{{ staff.app_user.pub_id }}', '{{ staff.company.pub_id }}', '{{ staff.pub_id }}', '1', 'COMPANY_DETAIL', 'SCAN')"><i class="fas fa-edit"></i></a>
                                        {% endif %}
                                    </td>
                                    <td class="cen text-center" >
                                        {% if staff.department_manage_enabled %}
                                            有
                                            <a onclick="update_user_manage('{{ staff.app_user.pub_id }}', '{{ staff.company.pub_id }}', '{{ staff.pub_id }}', '0', 'COMPANY_DETAIL', 'DEP_MANAGE')"><i class="fas fa-edit"></i></a>
                                        {% else %}
                                            無
                                            <a onclick="update_user_manage('{{ staff.app_user.pub_id }}', '{{ staff.company.pub_id }}', '{{ staff.pub_id }}', '1', 'COMPANY_DETAIL', 'DEP_MANAGE')"><i class="fas fa-edit"></i></a>
                                        {% endif %}

                                    </td>
                                    <td class="cen text-center" >
                                        {% if staff.manage_enabled %}
                                            有
                                            <a onclick="update_user_manage('{{ staff.app_user.pub_id }}', '{{ staff.company.pub_id }}', '{{ staff.pub_id }}', '0', 'COMPANY_DETAIL', 'MANAGE')"><i class="fas fa-edit"></i></a>
                                        {% else %}
                                            無
                                            <a onclick="update_user_manage('{{ staff.app_user.pub_id }}', '{{ staff.company.pub_id }}', '{{ staff.pub_id }}', '1', 'COMPANY_DETAIL', 'MANAGE')"><i class="fas fa-edit"></i></a>
                                        {% endif %}

                                    </td>
                                    <td class="cen text-center">
{#                                        {% if not staff.manage_enabled %}#}
                                            <a onclick="open_del_staff_modal('{{ staff.pub_id }}')" data-toggle="modal" data-target="#del_staff" style="cursor: pointer;" title="刪除員工"><i class="fas fa-times"></i></a>
{#                                        {% endif %}#}
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                        <div class="center">
                            <ul class="pagination" style="float: left;">
                                <li class="page-item {% if not staff_list.has_previous %}disabled{% endif %}">
                                    {% if staff_list.has_previous %}
                                        <a href="{{ request.get_full_path|change_page:staff_list.previous_page_number }}" aria-label="Previous">上頁 </a>
                                    {% else %}
                                        <a href="#" aria-label="Previous">上頁 </a>
                                    {% endif %}
                                </li>
                                {% for num in page_range %}
                                    <li class="page-item {% if num == staff_list.number %}active{% endif %}"><a href="{{ request.get_full_path|change_page:num }}">{{ num }}</a></li>
                                {% endfor %}
                                <li class="page-item {% if not staff_list.has_next %}disabled{% endif %}">
                                    {% if staff_list.has_next %}
                                        <a href="{{ request.get_full_path|change_page:staff_list.next_page_number }}" aria-label="Next">下頁 </a>
                                    {% else %}
                                        <a href="#" aria-label="Next">下頁 </a>
                                    {% endif %}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
{#            <div id="place" class="tab-pane fade">#}
{#                <div class="row bottom40 top20">#}
{#                    <div class="col-md-12 col-sm-12 col-xs-12 " style="font-size: 16px;">#}
{#                        <table class="table table-striped table-bordered" >#}
{#                            <tr>#}
{#                                <th class="text-center cen_blue">日期</th>#}
{#                                <th class="text-center cen_blue">地點或位置</th>#}
{#                                <th class="text-center cen_blue">查看</th>#}
{#                            </tr>#}
{#                            {% for record in place_record %}#}
{#                                <tr>#}
{#                                    <td class="cen text-center">{{ record.created | date:"Y-m-d H:i:s" }}</td>#}
{#                                    <td class="cen text-center" >{{ record.place_location }}</td>#}
{#                                </tr>#}
{#                            {% endfor %}#}
{#                        </table>#}
{#                        <div class="center">#}
{#                            <ul class="pagination" style="float: left;">#}
{#                                <li class="page-item {% if not place_record.has_previous %}disabled{% endif %}">#}
{#                                    {% if place_record.has_previous %}#}
{#                                        <a href="{{ request.get_full_path|change_page2:place_record.previous_page_number }}" aria-label="Previous">上頁 </a>#}
{#                                    {% else %}#}
{#                                        <a href="#" aria-label="Previous">上頁 </a>#}
{#                                    {% endif %}#}
{#                                </li>#}
{#                                {% for num in page_range2 %}#}
{#                                    <li class="page-item {% if num == place_record.number %}active{% endif %}"><a href="{{ request.get_full_path|change_page2:num }}">{{ num }}</a></li>#}
{#                                {% endfor %}#}
{#                                <li class="page-item {% if not place_record.has_next %}disabled{% endif %}">#}
{#                                    {% if place_record.has_next %}#}
{#                                        <a href="{{ request.get_full_path|change_page2:place_record.next_page_number }}" aria-label="Next">下頁 </a>#}
{#                                    {% else %}#}
{#                                        <a href="#" aria-label="Next">下頁 </a>#}
{#                                    {% endif %}#}
{#                                </li>#}
{#                            </ul>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
            <div id="audit_add" class="tab-pane fade">
                <div class="row bottom40 top20">
                    <input type="hidden" name="return_msg" id="return_msg" value="{{ return_msg }}">
                    <div class="col-md-12 col-sm-12 col-xs-12 " style="font-size: 16px;">
                        <table class="table table-striped table-bordered" >
                            <tr>
                                <th class="text-center cen_blue">更新時間</th>
                                <th class="text-center cen_blue">使用者名稱</th>
                                <th class="text-center cen_blue">使用者帳號</th>
                                <th class="text-center cen_blue">請求公司/學校</th>
                                <th class="text-center cen_blue">請求狀態</th>
                                <th class="text-center cen_blue">審核者</th>
                                <th class="text-center cen_blue">操作</th>
                            </tr>
                            {% for add_req in add_req_list %}
                                <tr>
                                    <td class="cen text-center">{{ add_req.create_time }}</td>
                                    <td class="cen text-center">
                                        <a href="{% url 'user_detail' add_req.add_user.pub_id %}">{{ add_req.add_user.auth_user.first_name }}</a>
                                    </td>
                                    <td class="cen text-center">
                                        <a href="{% url 'user_detail' add_req.add_user.pub_id %}">{{ add_req.add_user.auth_user.username }}</a>
                                    </td>
                                    <td class="cen text-center">{{ add_req.add_tag.company.name }}</td>
                                    <td class="cen text-center">{{ add_req.get_status_display }}</td>
                                    <td class="cen text-center">
                                        {% if add_req.update_user_id %}
                                            {% if add_req.update_user_id == 'ADMIN' %}
                                                {{ add_req.update_user_name }}
                                            {% else %}
                                                <a href="{% url 'user_detail' add_req.update_user_id %}">{{ add_req.update_user_name }}</a>
                                            {% endif %}
                                        {% endif %}
                                    </td>
{#                                    update_user_id#}
                                    <td class="cen text-center">
                                        {% if add_req.status == add_req.WAIT_AUDIT %}
                                            <a onclick="agree_req('{{ add_req.pub_id }}', '{{ add_req.add_tag.company.pub_id }}')" data-toggle="modal" data-target="#agree_modal" style="cursor: pointer;" title="同意"><i class="fa fa-check"></i></a>
                                            <a onclick="cancel_req('{{ add_req.pub_id }}', '{{ add_req.add_tag.company.pub_id }}')" data-toggle="modal" data-target="#cancel_modal" style="cursor: pointer;" title="取消"><i class="fa fa-times"></i></a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                        <div class="center">
                            <ul class="pagination" style="float: left;">
                                <li class="page-item {% if not add_req_list.has_previous %}disabled{% endif %}">
                                    {% if add_req_list.has_previous %}
                                        <a href="{{ request.get_full_path|change_page2:add_req_list.previous_page_number }}" aria-label="Previous">上頁 </a>
                                    {% else %}
                                        <a href="#" aria-label="Previous">上頁 </a>
                                    {% endif %}
                                </li>
                                {% for num in page_range2 %}
                                    <li class="page-item {% if num == add_req_list.number %}active{% endif %}"><a href="{{ request.get_full_path|change_page2:num }}">{{ num }}</a></li>
                                {% endfor %}
                                <li class="page-item {% if not add_req_list.has_next %}disabled{% endif %}">
                                    {% if add_req_list.has_next %}
                                        <a href="{{ request.get_full_path|change_page2:add_req_list.next_page_number }}" aria-label="Next">下頁 </a>
                                    {% else %}
                                        <a href="#" aria-label="Next">下頁 </a>
                                    {% endif %}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="qr_img_modal" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <label class="modal-title text-template" id="exampleModalLabel">新增人員掃描QR Code</label>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" >
                    <div class="row">
                        <div class="col text-center">
                            <img id="qr_image" height="40%" width="80%" alt="">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="agree_modal" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <label class="modal-title text-template" id="exampleModalLabel">同意請求</label>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" >
                    <div class="row">
                        <div class="col-md-12">
                            <form class="form-horizontal" id="add_frm" action="{% url 'update_add_request' 'AGREE' %}" method="post">
                                {% csrf_token %}
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <select class="form-control selectpicker" name="department_id" id="department_id" data-live-search="true" title="{% trans 'Please Select Department' %}" required>
                                            {% for department in department_list %}
                                                <option value="{{ department.pub_id }}">{{ department.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <input type="hidden" name="page2" value="{{ add_req_list.number }}">
                                    <input type="hidden" id="req_id" name="req_id">
                                    <input type="hidden" id="company_id" name="company_id">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" onclick="if ($('#add_frm')[0].checkValidity()){$('#add_frm').submit();}else{$('#add_frm')[0].reportValidity();}">同意請求</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="cancel_modal" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <label class="modal-title text-template" id="exampleModalLabel">取消請求</label>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" >
                    <div class="row">
                        <div class="col-md-12">
                            <form class="form-horizontal" id="cancel_frm" action="{% url 'update_add_request' 'CANCEL' %}" method="post">
                                {% csrf_token %}
                                <div class="col-md-12">
                                    <h4 class="control-label col-md-4">確定要取消嗎？</h4>
                                </div>
                                <input type="hidden" name="page2" value="{{ add_req_list.number }}">
                                <input type="hidden" id="req_id_c" name="req_id">
                                <input type="hidden" id="company_id_c" name="company_id">
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" onclick="$('#cancel_frm').submit();">確定取消</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="del_staff" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <label class="modal-title text-template" id="exampleModalLabel">刪除員工</label>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" >
                    <div class="row">
                        <div class="col-md-12">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    {#                                        <label for="exampleInputPassword1" class="col-md-3 control-label"> 修改地點名稱</label>#}
                                    <div class="col-md-12">
                                        <h4 class="control-label col-md-4">確定要刪除嗎？</h4>
                                    </div>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <form action="{% url 'del_staff' company.pub_id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-secondary" >是</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">否</button>
                        <input type="hidden" id="staff_id" name="staff_id">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="add_department" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <label class="modal-title text-template" id="exampleModalLabel">新增部門</label>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" >
                    <div class="row">
                        <div class="col-md-12">
                            <form class="form-horizontal" id="add_department_frm" action="{% url 'create_department' company.pub_id %}" method="post">
                                {% csrf_token %}
                                <div class="form-group">
                                    <div class="col-md-12"><p id="add_p"></p></div>
                                    <div class="col-md-12">
                                        <input type="text" class="form-control" placeholder="新增部門名稱" name="add_department_name" id="add_department_name" required>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" onclick="if ($('#add_department_frm')[0].checkValidity()){$('#add_department_frm').submit()}else{$('#add_department_frm')[0].reportValidity();}">確定</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="del_department" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <label class="modal-title text-template" id="exampleModalLabel">刪除部門</label>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" >
                    <div class="row">
                        <div class="col-md-12">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    {#                                        <label for="exampleInputPassword1" class="col-md-3 control-label"> 修改地點名稱</label>#}
                                    <div class="col-md-12">
                                        <h4 class="control-label col-md-4">確定要刪除嗎？</h4>
                                    </div>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <form action="{% url 'delete_department' company.pub_id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-secondary" >是</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">否</button>
                        <input type="hidden" id="del_department_id" name="del_department_id">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="send_notify" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <label class="modal-title text-template" id="exampleModalLabel">小提示</label>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" >
                    <div class="row">
                        <div class="col text-center">
                            <p id="msg"></p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script>
        function reset_frm() {
            {#$('#user_first_name').val('');#}
            $('#created_at_min').val('');
            $('#created_at_max').val('');
            $("#company_name")[0].selectedIndex = 0;
            $("#company_name").selectpicker('refresh');
            {#$("#department_name")[0].selectedIndex = 0;#}
            {#$("#department_name").selectpicker('refresh');#}
            {#$("#user_role")[0].selectedIndex = 0;#}
            {#$("#user_role").selectpicker('refresh');#}
        }
        function get_qr_img(place_id){
            var qr_url = "{% url 'qr_code' 'black' 'QRDATA' %}";
            qr_url = qr_url.replace('QRDATA', 'ADDORG__' + place_id);
            {#alert(qr_url);#}
            document.getElementById('qr_image').setAttribute("src", qr_url);
            {#document.getElementById('qr_image').setAttribute("alt", 'PLACE__' + place_id);#}
        }
        function resize_list_num(){
            var per_page_num = $('#per_page_num_sel').val();
            $('#per_page_num').val(per_page_num);
            var api_url = '{% url "staff_management" 'COMPANY_ID' %}';
            api_url = api_url.replace('COMPANY_ID', $('#company_manage_id_sel_now').val());
            api_url += '?per_page_num=' + per_page_num;
            if ($('#user_first_name').val() != ''){
                api_url += '&user_first_name=' + $('#user_first_name').val();
            }
            {#if ($('#company_name').val() != ''){#}
            {#    api_url += '&company_name=' + $('#company_name').val();#}
            {# }#}
            if ($('#department_name').val() != ''){
                api_url += '&department_name=' + $('#department_name').val();
            }
            if ($('#user_role').val() != ''){
                api_url += '&user_role=' + $('#user_role').val();
            }
            if ($('#created_at_min').val() != ''){
                api_url += '&created_at_min=' + $('#created_at_min').val();
            }
            if ($('#created_at_max').val() != ''){
                api_url += '&created_at_max=' + $('#created_at_max').val();
            }
            {#alert(api_url);#}
            location.href=api_url;
        }
        function open_del_staff_modal(staff_id) {
            $('#staff_id').val(staff_id);
        }
        function agree_req(req_id, company_id){
            $('#req_id').val(req_id);
            $('#company_id').val(company_id);
        }
        function cancel_req(req_id, company_id){
            $('#req_id_c').val(req_id);
            $('#company_id_c').val(company_id);
        }
        function open_del_dep_modal(department_id) {
            $('#del_department_id').val(department_id);
        }
        function update_user_manage(user_id, company_id, staff_id, edit_flag, backpage, manage_type){
            var api_url = '{% url 'edit_user_manage_enable' '1___' '2___' '3___' '4___' '5___' '6___' %}';
            api_url = api_url.replace('1___', user_id);
            api_url = api_url.replace('2___', company_id);
            api_url = api_url.replace('3___', staff_id);
            api_url = api_url.replace('4___', edit_flag);
            api_url = api_url.replace('5___', backpage);
            api_url = api_url.replace('6___', manage_type);

            api_url = api_url + '?page=' + '{{ request.GET.page }}';
            api_url = api_url + '&user_first_name=' + '{{ request.GET.user_first_name }}';
            api_url = api_url + '&user_account=' + '{{ request.GET.user_account }}';
            api_url = api_url + '&user_role=' + '{{ request.GET.user_role }}';
            api_url = api_url + '&company_name=' + '{{ request.GET.company_name }}';
            api_url = api_url + '&department_name=' + '{{ request.GET.department_name }}';
            api_url = api_url + '&created_at_min=' + '{{ request.GET.created_at_min }}';
            api_url = api_url + '&created_at_max=' + '{{ request.GET.created_at_max }}';

            location.href = api_url;
        }
        $(document).ready(function(){
            if ('{{ nav_no_reset }}' != 1){
                localStorage.removeItem('activeTab')
            }
            $('a[data-toggle="tab"]').on('show.bs.tab', function(e) {
                localStorage.setItem('activeTab', $(e.target).attr('href'));
            });
            var activeTab = localStorage.getItem('activeTab');
            if(activeTab){
                $('#myTab a[href="' + activeTab + '"]').tab('show');
            }
            if ($('#return_msg').val() != ''){
                $("#msg").text($('#return_msg').val() );
                $("#send_notify").modal();
            }
        });
    </script>
{% endblock %}