{% extends 'backend/base.html' %}
{% load i18n %}
{% load static %}
{% load utils %}
{% block stylesheet %}
    <style>

    </style>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-sm-10 col-xs-10 bread-sec">
                <a href="{% url 'backend_index' %}" style="color:#868686;text-decoration: none;"> 首頁 </a>><a style="color:#868686;text-decoration: none;"> 接觸追蹤 </a>><a href="{% url 'place_tract' %}" style="color:#868686;text-decoration: none;"> 打卡紀錄 </a>
{#                ><a href="#" style="color:#868686;text-decoration: none;">部門晉升提報與查詢</a> </div>#}
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 " style="margin: 20px 0 20px 0px;font-size:25px; "> 打卡紀錄 <img src="{% static 'backend/images/LINE.png' %}" class="img-responsive top5" alt="" /> </div>
        </div>
    </div>
    <div class="container bottom40">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 " >
                <div style="font-size: 15px;">
                    <div class=" col-lg-12 col-xs-12 ">
                        <form class="form-horizontal"  method="get" id="frm">
                            <input type="hidden" value="{{ request.GET.per_page_num }}" id="per_page_num" name="per_page_num">
                            <div class="form-group ">
{#                                <div class="col-md-1"><input type="radio" class="pull-right" style="margin-top: 10px;" id="company_radio" onclick="radio_sel('company')"></div>#}
{#                                <div class="col-md-4">#}
{#                                    <select class="form-control selectpicker" name="company_name" id="company_name" data-live-search="true" title="{% trans 'Please Select Company / School' %}" onchange="$('#company_radio').prop('checked', true); $('#user_radio').prop('checked', false); ">#}
{#                                        <option value="">無</option>#}
{#                                        {% for company in company_list %}#}
{#                                            <option value="{{ company.name }}" {% if request.GET.company_name == company.name %}selected{% endif %}>{{ company.name }}</option>#}
{#                                        {% endfor %}#}
{#                                    </select>#}
{#                                </div>#}
{#                                <div class="col-md-1"><input type="radio" class="pull-right" style="margin-top: 10px;" id="user_radio" onclick="radio_sel('user')"></div>#}
{#                                <div class="col-md-4">#}
{#                                    <select class="form-control selectpicker" name="user_name" id="user_name" data-live-search="true" title="{% trans 'Please Select User' %}" onchange="$('#user_radio').prop('checked', true); $('#company_radio').prop('checked', false); ">#}
{#                                        <option value="">無</option>#}
{#                                        {% for user in user_list %}#}
{#                                            <option value="{{ user.auth_user.first_name }}" {% if request.GET.company_name == company.name %}selected{% endif %}>{{ user.auth_user.first_name }}</option>#}
{#                                        {% endfor %}#}
{#                                    </select>#}
{#                                </div>#}
                                <div class="col-md-4">
                                    <select class="form-control selectpicker" name="company_name" id="company_name" data-live-search="true" title="{% trans 'Please Select Company / School' %}" onchange="company_select()">
                                        <option value="">無</option>
                                        {% for company in company_list %}
                                            <option value="{{ company.name }}" {% if request.GET.company_name == company.name%}selected{% endif %}>{{ company.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-md-4">
                                    <select class="form-control selectpicker" name="user_name" id="user_name" data-live-search="true" title="{% trans 'Please Select User' %}">
                                        <option value="">無</option>
                                        {% for user in user_list %}
                                            <option value="{{ user.auth_user.first_name }}" {% if request.GET.user_name == user.auth_user.first_name %}selected{% endif %}>{{ user.auth_user.first_name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1" class="col-md-1 control-label sndMt15 left15">建立日期：</label>
                                <div class="col-md-7">
                                    <div class="selectBox">
                                        <div class="inputBox pull-left input-group sndMt10 datetime" id="datetimepicker_min" >
                                            <input type="text" class="form-control" placeholder="" name="created_at_min" id="created_at_min" value="{{ request.GET.created_at_min }}">
                                            <span class="input-group-addon">
{#                    <button class="btn btn-default" type="button" style="color:#000;"><i class="fas fa-calendar-alt"></i></button>#}
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                        <span class="tilde text-center pull-left">~</span>
                                        <div class="inputBox pull-left input-group sndMt10 datetime" id="datetimepicker_max">
                                            <input type="text" class="form-control" placeholder="" name="created_at_max" id="created_at_max" value="{{ request.GET.created_at_max }}">
                                            <span class="input-group-addon">
{#                    <button class="btn btn-default" type="button" style="color:#000;"> <i class="fas fa-calendar-alt"></i> </button>#}
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3 text-right">
                                    <button type="button" class="btn btn-default" style="background:#8b8c8c;color:#fff; " onclick="reset_frm()">清除搜尋</button>
                                    <button type="submit" class="btn btn-default" style="background:#6fa1bf;color:#fff; " onclick="change_export_display()">搜尋使用者</button>
                                    {% if sel_type == 'company' or sel_type == 'user' %}
                                        <button type="button" class="btn btn-default" style="background:#0a6aa1;color:#fff;" onclick="window.open('checkin_export')">匯出</button>
                                    {% endif %}
                                </div>
{#                                style="background:#0a6aa1;color:#fff;"#}
{#                                <div class="text-right col-md-2 ">#}
{#                                    <button type="button" class="btn btn-default" style="background:#8b8c8c;color:#fff; ">清除搜尋</button>#}
{#                                </div>#}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
{#        <div class="col-12">#}
{#            <div class="col-2">#}
{#                <button type="submit" class="btn btn-default" style="background:#335eb6;color:#fff; ">更新後台管理者</button>#}
{#                <button type="submit" class="btn btn-default" style="background:#8b8c8c;color:#fff; ">搜尋使用者</button>#}
{#            </div>#}
{#        </div>#}

        <div class="pc_top row top20">
            <div class="col-md-12 col-sm-12 col-xs-12 " style="font-size: 16px;">
                <table class="table table-striped table-bordered" >
{#                    <thead>#}
                        <tr>
                            <th class="text-center cen_blue">日期</th>
                            <th class="text-center cen_blue">打卡地點</th>
                            <th class="text-center cen_blue">接觸者名稱</th>
                            <th class="text-center cen_blue">接觸者公司/學校</th>
                            <th class="text-center cen_blue">打卡紀錄</th>
{#                            <th class="text-center cen_blue">查看</th>#}
                        </tr>
{#                    </thead>#}
                        {% if sel_type == 'company' or sel_type == 'user'%}
                            {% for record in place_entry_list %}
                                <tr>
                                    <td class="cen text-center">{{ record.create_time | date:"Y-m-d H:i:s" }}</td>
                                    <td class="cen text-center">{{ record.location.location_address }}</td>
                                    <td class="cen text-center"><a style="cursor: pointer;" href="{% url 'user_detail' record.app_user.pub_id %}">{{ record.app_user.auth_user.first_name }}</a></td>
                                    <td class="cen text-center">
                                        {% if record.company_name != '' %}
                                            <a style="cursor: pointer;" href="{% url 'company_detail' record.company_id %}">{{ record.company_name }}</a>
                                        {% endif %}
                                    </td>
                                    <td class="cen text-center">{{ record.note.act_name }}</td>

    {#                                <td class="cen text-center">{{ record.department_name}}</td>#}
    {#                                <td class="cen text-center"><a href="{% url 'user_detail' app_user.pub_id %}"><i class="fas fa-search"></i></a></td>#}
                                </tr>
                            {% endfor %}
                        {% endif %}
                </table>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-11 col-xs-12 top10 ">
                <ul class="pagination" style="float: left;">
                    <li class="page-item {% if place_entry_list.number == 1 %}disabled{% endif %}">
                        <a href="{{ request.get_full_path|change_page:1 }}" aria-label="Previous">首頁 </a>
                    </li>
                    <li class="page-item {% if not place_entry_list.has_previous %}disabled{% endif %}">
                        {% if place_entry_list.has_previous %}
                            <a href="{{ request.get_full_path|change_page:place_entry_list.previous_page_number }}" aria-label="Previous">上頁 </a>
                        {% else %}
                            <a href="#" aria-label="Previous">上頁 </a>
                        {% endif %}
                    </li>
                    {% for num in page_range %}
                        <li class="page-item {% if num == place_entry_list.number %}active{% endif %}"><a href="{{ request.get_full_path|change_page:num }}">{{ num }}</a></li>
                    {% endfor %}
                    <li class="page-item {% if not place_entry_list.has_next %}disabled{% endif %}">
                        {% if place_entry_list.has_next %}
                            <a href="{{ request.get_full_path|change_page:place_entry_list.next_page_number }}" aria-label="Next">下頁 </a>
                        {% else %}
                            <a href="#" aria-label="Next">下頁 </a>
                        {% endif %}
                    </li>
                    <li class="page-item {% if place_entry_list.number == place_entry_list.paginator.num_pages %}disabled{% endif %}" >
                        <a href="{{ request.get_full_path|change_page:place_entry_list.paginator.num_pages }}" aria-label="Next">末頁 </a>
                    </li>
                </ul>
                <div class="col-md-5 top20">
                    <div style="color:#000;float: left;margin:10px  ">每頁顯示</div>
                    <div class="col-md-4 col-xs-4 bottom10">
                        <select class="form-control selectpicker" onchange="resize_list_num()" id="per_page_num_sel">
                            <option {% if request.GET.per_page_num == '10' %}selected{% endif %} value="10">10</option>
                            <option {% if request.GET.per_page_num == '20' %}selected{% endif %} value="20">20</option>
                        </select>
                    </div>
                    <div style="color:#000;float: left;margin:10px  ">筆(共{% if user_length %}{{ user_length }}{% else %}0{% endif %}筆)</div>
                </div>
            </div>
        </div>
        <div class="mobile_top row top20">
            <div class="col-xs-12 " style="font-size: 16px;">
                <table class="table table-striped table-bordered" >
                    <tr>
                        <th class="text-center cen_blue">日期</th>
                        <th class="text-center cen_blue">掃描地點</th>
                        <th class="text-center cen_blue">接觸者名稱</th>
                    </tr>
                    {% for record in place_entry_list %}
                        <tr>
                            <td class="cen text-center">{{ record.create_time | date:"Y-m-d H:i:s" }}</td>
                            <td class="cen text-center">{{ record.place_entry.name }}</td>
                            <td class="cen text-center"><a style="cursor: pointer;" href="{% url 'user_detail' record.app_user.pub_id %}">{{ record.app_user.auth_user.first_name }}</a></td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="top10 ">
                <ul class="pagination" style="float: left;">
                    <li class="page-item {% if place_entry_list.number == 1 %}disabled{% endif %}">
                        <a href="{{ request.get_full_path|change_page:1 }}" aria-label="Previous">首頁 </a>
                    </li>
                    <li class="page-item {% if not place_entry_list.has_previous %}disabled{% endif %}">
                        {% if place_entry_list.has_previous %}
                            <a href="{{ request.get_full_path|change_page:place_entry_list.previous_page_number }}" aria-label="Previous">上頁 </a>
                        {% else %}
                            <a href="#" aria-label="Previous">上頁 </a>
                        {% endif %}
                    </li>
                    {% for num in page_range %}
                        <li class="page-item {% if num == place_entry_list.number %}active{% endif %}"><a href="{{ request.get_full_path|change_page:num }}">{{ num }}</a></li>
                    {% endfor %}
                    <li class="page-item {% if not place_entry_list.has_next %}disabled{% endif %}">
                        {% if place_entry_list.has_next %}
                            <a href="{{ request.get_full_path|change_page:place_entry_list.next_page_number }}" aria-label="Next">下頁 </a>
                        {% else %}
                            <a href="#" aria-label="Next">下頁 </a>
                        {% endif %}
                    </li>
                    <li class="page-item {% if place_entry_list.number == place_entry_list.paginator.num_pages %}disabled{% endif %}" >
                        <a href="{{ request.get_full_path|change_page:place_entry_list.paginator.num_pages }}" aria-label="Next">末頁 </a>
                    </li>
                </ul>
                <div class="top20">
                    <div style="color:#000;float: left;margin:10px  ">每頁顯示</div>
                    <div class="col-md-4 col-xs-4 bottom10">
                        <select class="form-control selectpicker" onchange="resize_list_num()" id="per_page_num_sel">
                            <option {% if request.GET.per_page_num == '10' %}selected{% endif %} value="10">10</option>
                            <option {% if request.GET.per_page_num == '20' %}selected{% endif %} value="20">20</option>
                        </select>
                    </div>
                    <div style="color:#000;float: left;margin:10px  ">筆(共{% if user_length %}{{ user_length }}{% else %}0{% endif %}筆)</div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
<script>
    const test_csv = [
        ["date1", "address1", "name1", "company1", "todo1"],
        ["date2", "address2", "name2", "company1", "todo2"]
    ];
    function reset_frm() {
        $('#created_at_min').val('');
        $('#created_at_max').val('');
        $("#company_name")[0].selectedIndex = 0;
        $("#company_name").selectpicker('refresh');
        $("#user_name")[0].selectedIndex = 0;
        $("#user_name").selectpicker('refresh');
        {#$("#place_name")[0].selectedIndex = 0;#}
        {#$("#place_name").selectpicker('refresh');#}
    }
    function resize_list_num(){
        var per_page_num = $('#per_page_num_sel').val();
        $('#per_page_num').val(per_page_num);
        var api_url = '{% url "place_tract" %}';
        {#api_url = api_url.replace('COMPANY_ID', $('#company_manage_id_sel_now').val());#}
        api_url += '?per_page_num=' + per_page_num;
        if ($('#company_name').val() != ''){
            api_url += '&company_name=' + $('#company_name').val();
        }
        if ($('#user_name').val() != ''){
            api_url += '&user_name=' + $('#user_name').val();
        }
        {#if ($('#place_name').val() != ''){#}
        {#    api_url += '&place_name=' + $('#place_name').val();#}
        {##}
        if ($('#created_at_min').val() != ''){
            api_url += '&created_at_min=' + $('#created_at_min').val();
        }
        if ($('#created_at_max').val() != ''){
            api_url += '&created_at_max=' + $('#created_at_max').val();
        }
        location.href=api_url;
    }
    function radio_sel(sel_type) {
        if (sel_type == 'company'){
            $('#company_radio').prop('checked', true);
            {#$('#company_name').prop('disabled', false);#}
            $("#company_name").selectpicker('refresh');
            {#$('#user_radio').prop('checked', false);#}
            $('#user_name')[0].selectedIndex = 0;
            $('#user_name').selectpicker('refresh');
            {#$('#place_radio').prop('checked', false);#}
            {#$("#place_name")[0].selectedIndex = 0;#}
            {#$('#place_name').prop('disabled', true);#}
            {#$("#place_name").selectpicker('refresh');#}
        }
        else if (sel_type == 'user'){
            $('#user_radio').prop('checked', true);
            $('#user_name').selectpicker('refresh');
            {#$('#company_radio').prop('checked', false);#}
            {#$('#company_name')[0].selectedIndex = 0;#}
            {#$('#company_name').selectpicker('refresh');#}
        }
        {#else{#}
        {#    $('#company_radio').prop('checked', false);#}
        {#    $('#place_radio').prop('checked', true);#}
            {#$('#place_name').prop('disabled', false);#}
        {#    $("#place_name").selectpicker('refresh');#}
        {#    $("#company_name")[0].selectedIndex = 0;#}
            {#$('#company_name').prop('disabled', true);#}
        {#    $("#company_name").selectpicker('refresh');#}
        {##}
    }

    function company_select(){
        var user_dict = {{ user_dict|safe }};
        var user_list = user_dict[$('#company_name :selected').text()];
        $('#user_name option').remove();
        $('#user_name').append(new Option('無', '', false, false));
        console.log(user_list, user_dict);

        for (var i in user_list){
            {#console.log(user_list[i][0]);#}
            $('#user_name').append(new Option(user_list[i], user_list[i], false, false));
        }
        $("#user_name").selectpicker("refresh");
    }

    $(document).ready(function() {
        {#document.getElementById('created_at_min').setAttribute('disabled', 'disabled');#}
        {#document.getElementById('created_at_max').setAttribute('disabled', 'disabled');#}
        $('#datetimepicker_min').datetimepicker({
            format: 'YYYY-MM-DD',
            locale: 'zh-cn'
        });
        $('#datetimepicker_max').datetimepicker({
            format: 'YYYY-MM-DD',
            locale: 'zh-cn',
            useCurrent: false
        });
        $("#datetimepicker_min").on("dp.change", function (e) {
            $('#datetimepicker_max').data("DateTimePicker").minDate(e.date);
        });
        $("#datetimepicker_max").on("dp.change", function (e) {
            $('#datetimepicker_min').data("DateTimePicker").maxDate(e.date);
        });
        company_select();
        {#var sel_type;#}
        {#if ('{{ sel_type }}' == '' || '{{ sel_type }}' == undefined){#}
        {#    sel_type = 'company';#}
        {# }else{#}
        {#    sel_type = '{{ sel_type }}';#}
        {# }#}
        {#radio_sel(sel_type);#}
    });
</script>
{% endblock %}