{% extends 'backend/base.html' %}
{% load static %}
{% load utils %}
{% block stylesheet %}{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 " style="margin: 20px 0 20px 0px;font-size:25px; "> 首頁 <img src="{% static 'backend/images/LINE.png' %}" class="img-responsive top5" alt="" /> </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
{#            <div class="col-md-6 col-sm-12 col-xs-12">#}
{#                <div style="font-size: 15px;padding:45px 0 15px;">#}
{#                    <div class="col-lg-offset-1 col-lg-10 col-xs-12">#}
{#                        <form class="form-horizontal">#}
{#                            <div class="form-group">#}
{#                                <label for="exampleInputPassword1" class="col-md-3 control-label"> 公司名稱</label>#}
{#                                <div class="col-md-9">#}
{#                                    <input type="text" class="form-control" placeholder="" readonly value="{{ company_name }}">#}
{#                                </div>#}
{##}
{#                            </div>#}
{#                            <div class="form-group">#}
{#                                <label for="exampleInputPassword1" class="col-md-3 control-label"> 員工數</label>#}
{#                                <div class="col-md-9">#}
{#                                    <input type="text" class="form-control" placeholder="" readonly value="{{ staff_num }}">#}
{#                                </div>#}
{##}
{#                            </div>#}
{#                            <div class="form-group">#}
{#                                <label for="exampleInputPassword1" class="col-md-3 control-label"> 部門數</label>#}
{#                                <div class="col-md-9">#}
{#                                    <input type="text" class="form-control" placeholder="" readonly value="{{ department_num }}">#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="form-group">#}
{#                                <label for="exampleInputPassword1" class="col-md-3 control-label"> 地點數</label>#}
{#                                <div class="col-md-9">#}
{#                                    <input type="text" class="form-control" placeholder="" readonly value="{{ place_num }}">#}
{#                                </div>#}
{#                            </div>#}
{#                        </form>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="card shadow mt-4 h-200 overflow-hidden">
                    <div class="card-body">
                        <h5 class="mb-0 font-weight-normal">使用者使用紀錄</h5>
                        <p class="text-mute text-secondary">{{ start_time }} ~ {{ end_time }}</p>

                    </div>
                    <div class="h-200 top-10">
                        <canvas id="linechart"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 " style="margin: 20px 0 20px 0px;font-size:25px; "> 今日掃描紀錄 <img src="{% static 'backend/images/LINE.png' %}" class="img-responsive top5" alt="" /> </div>
        </div>
    </div>
    <div class="container ">
        <ul class="nav nav-tabs" id="myTab">
            <li class="active"><a data-toggle="tab" href="#approach">使用者接觸紀錄</a></li>
            <li><a data-toggle="tab" href="#place">地點掃描紀錄</a></li>
            <li><a data-toggle="tab" href="#danger">危險名單{% if danger_record_list %}<label style="font-size: 10px;color: red;">∙</label>{% endif %}</a></li>
        </ul>
        <div class="tab-content">
            <div id="approach" class="tab-pane fade in active">
                <div class="row top5">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <table class="table table-striped table-bordered" >
                            <tr>
                                <th class="text-center cen_blue">日期</th>
                                <th class="text-center cen_blue">被掃描使用者</th>
                                <th class="text-center cen_blue">掃描使用者</th>
                                <th class="text-center cen_blue">紀錄類型</th>
                            </tr>
                            {% for record in approach_record_list %}
                                <tr>
                                    <td class="cen text-center">{{ record.created | date:"Y-m-d H:i:s" }}</td>
                                    <td class="cen text-center" ><a href="{% url 'user_detail' record.app_user.pub_id %}">{{ record.app_user.auth_user.first_name }} </a></td>
                                    <td class="cen text-center" ><a href="{% url 'user_detail' record.scan_user.pub_id %}">{{ record.scan_user.auth_user.first_name }} </a></td>
                                    <td class="cen text-center" >
                                        {% if record.type == record.APPROACH_CHECK %}
                                            接觸紀錄
                                        {% elif record.type == record.HEALTH_CHECK %}
                                            健康碼紀錄
                                        {% elif record.type == record.VISITOR_CHECK %}
                                            訪客紀錄
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                        <div class="center">
                            <ul class="pagination" style="float: left;">
                                <li class="page-item {% if not approach_record_list.has_previous %}disabled{% endif %}">
                                    {% if approach_record_list.has_previous %}
                                        <a href="{{ request.get_full_path|change_page:approach_record_list.previous_page_number }}" aria-label="Previous">上頁 </a>
                                    {% else %}
                                        <a href="#" aria-label="Previous">上頁 </a>
                                    {% endif %}
                                </li>
                                {% for num in page_range %}
                                    <li class="page-item {% if num == approach_record_list.number %}active{% endif %}"><a href="{{ request.get_full_path|change_page:num }}">{{ num }}</a></li>
                                {% endfor %}
                                <li class="page-item {% if not approach_record_list.has_next %}disabled{% endif %}">
                                    {% if approach_record_list.has_next %}
                                        <a href="{{ request.get_full_path|change_page:approach_record_list.next_page_number }}" aria-label="Next">下頁 </a>
                                    {% else %}
                                        <a href="#" aria-label="Next">下頁 </a>
                                    {% endif %}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div id="place" class="tab-pane fade">
                <div class="row top5">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <table class="table table-striped table-bordered" >
                            <tr>
                                <th class="text-center cen_blue">日期</th>
                                <th class="text-center cen_blue">地點</th>
                                <th class="text-center cen_blue">掃描使用者</th>
                                {#                        <th class="text-center cen_blue">紀錄類型</th>#}
                            </tr>
                            {% for record in place_entry_record_list %}
                                <tr>
                                    <td class="cen text-center">{{ record.created | date:"Y-m-d H:i:s" }}</td>
                                    <td class="cen text-center" >
                                        {% if record.place_link %}
                                            <a style="cursor: pointer;" onclick="place_tract('{{ record.place_entry.name }}')">{{ record.location_place }}</a>
                                        {% else %}
                                            {{ record.location_place }}
                                        {% endif %}
                                    </td>
                                    <td class="cen text-center" ><a href="{% url 'user_detail' record.app_user.pub_id %}">{{ record.app_user.auth_user.first_name }}</a></td>
                                </tr>
                            {% endfor %}
                        </table>
                        <div class="center">
                            <ul class="pagination" style="float: left;">
                                <li class="page-item {% if not place_entry_record_list.has_previous %}disabled{% endif %}">
                                    {% if place_entry_record_list.has_previous %}
                                        <a href="{{ request.get_full_path|change_page2:place_entry_record_list.previous_page_number }}" aria-label="Previous">上頁 </a>
                                    {% else %}
                                        <a href="#" aria-label="Previous">上頁 </a>
                                    {% endif %}
                                </li>
                                {% for num in page_range2 %}
                                    <li class="page-item {% if num == place_entry_record_list.number %}active{% endif %}"><a href="{{ request.get_full_path|change_page2:num }}">{{ num }}</a></li>
                                {% endfor %}
                                <li class="page-item {% if not place_entry_record_list.has_next %}disabled{% endif %}">
                                    {% if place_entry_record_list.has_next %}
                                        <a href="{{ request.get_full_path|change_page2:place_entry_record_list.next_page_number }}" aria-label="Next">下頁 </a>
                                    {% else %}
                                        <a href="#" aria-label="Next">下頁 </a>
                                    {% endif %}
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
            <div id="danger" class="tab-pane fade">
                <div class="row top5">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <table class="table table-striped table-bordered" >
                            <tr>
                                <th class="text-center cen_blue">日期</th>
                                <th class="text-center cen_blue">危險使用者</th>
                                <th class="text-center cen_blue">狀態</th>
                                <th class="text-center cen_blue">標記人員</th>
                            </tr>
                            {% for record in danger_record_list %}
                                <tr>
                                    <td class="cen text-center">{{ record.created | date:"Y-m-d H:i:s" }}</td>
                                    <td class="cen text-center" ><a href="{% url 'user_detail' record.app_user.pub_id %}">{{ record.app_user.auth_user.first_name }} </a></td>
                                    <td class="cen text-center" >{{ record.get_health_code_display }}</td>
                                    <td class="cen text-center" ><a href="{% url 'user_detail' record.scan_user_id %}">{{ record.scan_user }} </a></td>
                                </tr>
                            {% endfor %}
                        </table>
                        <div class="center">
                            <ul class="pagination" style="float: left;">
                                <li class="page-item {% if not danger_record_list.has_previous %}disabled{% endif %}">
                                    {% if danger_record_list.has_previous %}
                                        <a href="{{ request.get_full_path|change_page:danger_record_list.previous_page_number }}" aria-label="Previous">上頁 </a>
                                    {% else %}
                                        <a href="#" aria-label="Previous">上頁 </a>
                                    {% endif %}
                                </li>
                                {% for num in page_range %}
                                    <li class="page-item {% if num == danger_record_list.number %}active{% endif %}"><a href="{{ request.get_full_path|change_page:num }}">{{ num }}</a></li>
                                {% endfor %}
                                <li class="page-item {% if not approach_record_list.has_next %}disabled{% endif %}">
                                    {% if danger_record_list.has_next %}
                                        <a href="{{ request.get_full_path|change_page:danger_record_list.next_page_number }}" aria-label="Next">下頁 </a>
                                    {% else %}
                                        <a href="#" aria-label="Next">下頁 </a>
                                    {% endif %}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{#    <div class="container bottom-40"></div>#}
{% endblock %}

{% block js %}
    <script>
        $(window).on('load', function () {
             /* chart js charts   */
            var ctx = document.getElementById("linechart").getContext('2d');

            var gradient2 = ctx.createLinearGradient(0, 0, 0, 200);
            gradient2.addColorStop(0, 'rgba(151, 94, 251, 0.40)');
            gradient2.addColorStop(1, 'rgba(91, 168, 255, 0.40)');

            var chat_config = {
                type: 'line',
                data: {
                    labels: {{ date_list|safe }},
                    datasets: [{
                        label: '使用者接觸紀錄',
                        backgroundColor: gradient2,
                        data: {{ approach_count|safe }},
                        borderColor: "rgba(151, 94, 251, 0.40)",
                        borderCapStyle: 'butt',
                        borderDash: [],
                        borderWidth: 3,
                        borderDashOffset: 1,
                        borderJoinStyle: 'bevel',
                        pointBorderColor: "#ffffff",
                        pointBackgroundColor: "#7b65f4",
                        pointBorderWidth: 1,
                        pointHoverRadius: 12,
                        pointHoverBackgroundColor: "#7b65f4",
                        pointHoverBorderColor: "#ffffff",
                        pointHoverBorderWidth: 0,
                        pointRadius: 8,
                        pointHitRadius: 8,
                    },{
                        label: '地點被掃描記錄',
                        backgroundColor: gradient2,
                        data: {{ place_count|safe }},
                        borderColor: "rgba(4,61,251,0.4)",
                        borderCapStyle: 'butt',
                        borderDash: [],
                        borderWidth: 3,
                        borderDashOffset: 1,
                        borderJoinStyle: 'bevel',
                        pointBorderColor: "#ffffff",
                        pointBackgroundColor: "#6896f4",
                        pointBorderWidth: 1,
                        pointHoverRadius: 12,
                        pointHoverBackgroundColor: "#6896f4",
                        pointHoverBorderColor: "#ffffff",
                        pointHoverBorderWidth: 0,
                        pointRadius: 8,
                        pointHitRadius: 8,
                    }]

                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    title: {
                        display: false,
                        text: 'Chart.js  Line Chart',
                    },
                    legend: {
                        display: false,
                        labels: {
                            fontColor: "#888888"
                        }
                    },
                    scales: {
                        yAxes: [{
                            display: true,
                            ticks: {
                                fontColor: "#888888",
                                beginAtZero: true,
                                min:0,
                                max:parseInt('{{ max_num }}'),
                                stepSize:5
                            },
                            gridLines: {
                                {#color: "rgb(180,180,180)",#}
                                {#zeroLineColor: "rgb(180,180,180)"#}
                            }
                        }],
                        xAxes: [{
                            display: true,
                            ticks: {
                                fontColor: "#888888"
                            },
                            gridLines: {
                                {#color: "rgba(160,160,160,0.1)",#}
                                {#zeroLineColor: "rgba(160,160,160,0.15)"#}
                            }
                        }]
                    },
                    layout: {
                        padding: {
                            left: 10,
                            right: 10,
                            top: 0,
                            bottom: 0
                        }
                    },

                }
            };
            var horizonalLinePlugin = {
                afterDraw: function (chartInstance) {
                    var yScale = chartInstance.scales["y-axis-0"];
                    var canvas = chartInstance.chart;
                    var ctx = canvas.ctx;
                    var index;
                    var line;
                    var style;

                    if (chartInstance.options.horizontalLine) {
                        for (index = 0; index < chartInstance.options.horizontalLine.length; index++) {
                            line = chartInstance.options.horizontalLine[index];

                            if (!line.style) {
                                style = "rgba(169,169,169, .6)";
                            } else {
                                style = line.style;
                            }

                            if (line.y) {
                                yValue = yScale.getPixelForValue(line.y);
                            } else {
                                yValue = 0;
                            }

                            ctx.lineWidth = 3;

                            if (yValue) {
                                ctx.beginPath();
                                ctx.moveTo(0, yValue);
                                ctx.lineTo(canvas.width, yValue);
                                ctx.strokeStyle = style;
                                ctx.stroke();
                            }

                            if (line.text) {
                                ctx.fillStyle = style;
                                ctx.fillText(line.text, 0, yValue + ctx.lineWidth);
                            }
                        }
                        {#return;#}
                    }
                }
            };
            Chart.pluginService.register(horizonalLinePlugin);

            var myChart = new Chart(ctx, chat_config);
        });
        function place_tract(place_name) {
            var d = new Date();
            var today = d.toLocaleDateString();
            today = today.replace('/', '-').replace('/', '-');
            var api_url = "{% url 'place_tract' %}";
            api_url = api_url + '?place_name=' + place_name +  '&created_at_min=' + today;
            {#alert(api_url);#}
            location.href = api_url;
        }
        $(document).ready(function(){
            if ('{{ nav_no_reset }}' != 1){
                localStorage.removeItem('activeTab')
            }
            $('a[data-toggle="tab"]').on('show.bs.tab', function(e) {
                localStorage.setItem('activeTab', $(e.target).attr('href'));
            });
            var activeTab = localStorage.getItem('activeTab');
            if(activeTab){
                $('#myTab a[href="' + activeTab + '"]').tab('show');
            }

        });
    </script>
{% endblock %}